---
layout: french
baseurl: https://jogl.io
page_type: index
title: Just One Giant Lab - Apprendre et résoudre ensemble
metadesc : JOGL aide l'humanité à se synchroniser sur la résolution de problèmes sociaux & environnementaux en utilisant la science ouverte et l'innovation responsable
permalink: /fr/
---

<main id="main">

	<section id="landing">
		<!-- Landing section -->
		<div class="landing-container">
			<div class="landing-content">
				<div class="landing-content--rocket">
					<img width="40px" src="../assets/imgs/logo.png" alt="jogl logo" /></img>
					<div class="rocket-landing-fuel">
						<p>+</p>
						<p>+</p>
						<p>+</p>
						<p>+</p>
					</div>
				</div>
				<div class="landing-content--text">
					<span class="title-container"><img width="75px" src="../assets/imgs/logo.png" alt="jogl logo" /></img>
						<h1>Just One Giant Lab</h1>
					</span>
					<p>Just One Giant Lab (JOGL) est le premier <strong>laboratoire de recherche et d'innovation</strong>
						fonctionnant comme une <strong>plate-forme </strong>de mobilisation massive, ouverte et distribuée pour la
						résolution collaborative de problématiques d'intérêt général. JOGL <strong>aide l'humanité à se
							synchroniser</strong> sur la résolution de nos problèmes les plus urgents et les plus importants en
						utilisant <strong>la science ouverte</strong>, <strong>l'innovation responsable</strong> et
						<strong>l'apprentissage continu</strong>. JOGL s'associe à des laboratoires universitaires, des entreprises,
						des start-ups, des fondations, des ONG et des services publics pour créer<strong> des programmes de
							recherche participative</strong> afin de comprendre et résoudre nos problèmes sanitaires,
						environnementaux, sociaux et humanitaires.
						<br><br>Venez vous <strong>mettre au défi</strong> en favorisant la création de <strongs>connaissance
							ouverte</strongs> pour l'humanité et en développant des solutions pour répondre aux <strong>Objectifs de
							Développement Durable</strong> (ODD) définis par les Nations Unies !</p>
							<div class="container buttons">
								<div class="row">
									<div class="col-12 col-sm-6"><a href="https://app.jogl.io/fr" rel="noopener" target="_blank"><button class="beta">Explorer JOGL</button></a></div>
									<div class="col-12 col-sm-6"><a href="#why"><button class="beta inverted">En savoir plus</button></a></div>
									<!-- <div class="col-12 col-sm-6 col-lg-4"><button class="mailing fr" id="open-popup1"><i
												class="fa fa-envelope"></i>S'inscrire à la newsletter</button></div> -->
									<!-- <div class="col-12 col-sm-12 col-lg-4"><button class="events"><i class="fa fa-calendar"></i><a href="https://www.meetup.com/fr-FR/JustOneGiantLab" target="_blank">Prochains évènements</a></button></div> -->
									<!-- <div class="col-12 col-sm-12 col-lg-4"><button class="events"><a
												href="https://app.jogl.io/program/opencovid19" rel="noopener" target="_blank">Initiative OpenCovid19
											</a>
									</div> -->
									</div>
							</div>
						</div>
					</div>
					<div class="container buttons">
						<div class="row">
							<div class="col-12 col-sm-6"><button class="hide" id="open-popup1"></button></div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- Landing section -->

	<section id="why">
		<!-- Ambition section -->
		<div class="container">
			<div class="about-container">
				<div>
					<div class="section-header">
						<h3 class="section-title">POURQUOI NOUS AVONS DÉCIDÉ DE CRÉER JOGL</h3>
					</div>
					<div class="main">
						<p><span role="image" aria-label="Chart Increasing">📈</span> En rendant accessible à tous le processus de
							contribution à la résolution de défis importants et en le valorisant, nous voulons multiplier le nombre de
							contributeurs au progrès scientifique par 10 (de 5 millions à 50 millions) en 10 ans, tout en rendant
							toutes les connaissances, outils et méthodologies produites accessibles à tous.</p>
						<p><span role="image" aria-label="Person Shrugging">🤷</span> L'humanité a beaucoup trop de problèmes à
							résoudre pour s'en remettre uniquement aux institutions traditionnelles. Nous voulons offrir à tous la
							possibilité de se mettre au défi en lançant ou en contribuant à des initiatives de collaboration axées sur
							certains des problèmes les plus urgents et les plus importants de l'humanité.</p>
						<p><span role="image" aria-label="Exploding Head">🤯</span> Résoudre la phase plate-forme. Le plus souvent,
							les communautés et les initiatives qui ont besoin d'évoluer envisagent de créer leur propre plate-forme.
							La plupart échouent parce que c'est vraiment difficile. Nous voulons que vous vous concentriez sur la mise
							à l'échelle de vos actions, pas sur un changement de métier.</p>
						<p><span role="image" aria-label="Handshake">🤝</span> La plupart des problèmes de la planète ne peuvent
							être résolus à l'aide des modèles d'affaires traditionnels, car la plupart des gens ne peuvent pas payer
							pour la recherche et l'innovation afin de créer des solutions. Nous ne manquons pas de compétences, de
							ressources et de créativité, mais seulement d'un moyen efficace de les mettre en relation.</p>
						<p><span role="image" aria-label="Raising Hands">🙌</span> JOGL est une organisation à but non lucratif
							basée à Paris, France. Nous avons décidé d'adopter ce modèle de développement parce que nous voulons nous
							assurer que la valeur créée par toutes les actions collaboratives que vous entreprenez sur JOGL soit
							entièrement réinvestie dans JOGL et partagée avec toute la communauté JOGL.</p>
					</div>
				</div>
			</div>
		</div>
	</section><!-- Ambition section -->

	<!--==========================
				Platform Section
	============================-->
	<section id="platform">
		<div class="container wow fadeIn">
			<div class="section-header">
				<h3 class="section-title">La platforme</h3>
			</div>
			<p class="text">La <a href="https://app.jogl.io/fr" target="_blank" rel="noopener">plateforme JOGL</a> vous permet
				de :</p>
			<div class="row">
				<div class="col-lg-4 col-md-6 box">
					<h4>Exister</h4>
					<p>Rendez vos actions et vos besoins visibles et établissez des liens avec des collaborateurs, des
						communautés, des projets et des organisations inspirants.</p>
				</div>
				<div class="col-lg-4 col-md-6 box">
					<h4>Vous engager</h4>
					<p>Trouvez des occasions de vous dépasser tout en contribuant à la résolution des objectifs de développement
						durable de l’ONU.</p>
				</div>
				<div class="col-lg-4 col-md-6 box">
					<h4>Partager</h4>
					<p>Fournir des ressources et des opportunités en tant que facilitateur.<br>Fournir du temps et de l'expérience
						en tant que collaborateur/leader.</p>
				</div>
				<div class="col-lg-4 col-md-6 box">
					<h4>Apprendre/enseigner</h4>
					<p>Testez vos compétences et trouvez des mentors ou devenez-en un en proposant des expériences
						d'apprentissage.</p>
				</div>
				<div class="col-lg-4 col-md-6 box">
					<h4>Collaborer</h4>
					<p>Créez/Rejoignez des équipes et contribuez à relever des défis.</p>
				</div>
				<div class="col-lg-4 col-md-6 box">
					<h4>Publier</h4>
					<p>Documentez votre travail et partagez ouvertement les nouvelles avancées et les nouveaux besoins.</p>
				</div>
				<div class="col-lg-4 col-md-6 box">
					<h4>Rechercher</h4>
					<p>Identifiez les bons collaborateurs, projets et opportunités.</p>
				</div>
				<div class="col-lg-4 col-md-6 box">
					<h4>Naviguer</h4>
					<p>Visualisez la structure et les objectifs de collaboration des communautés, des équipes, des organisations
						et des projets.</p>
				</div>
				<div class="col-lg-4 col-md-6 box">
					<h4>Valoriser</h4>
					<p>Soyez récompensé.e pour vos contributions. JOGL partagera également les histoires d'initiatives et de
						collaborations qui ont réussi.</p>
				</div>
			</div>
		</div>
	</section><!-- #Platform-->

	<section id="whitepaper">
		<!-- #How Section -->
		<div class="container wow fadeInUp">
			<div class="section-header">
				<h3 class="section-title">Livre blanc</h3>
			</div>
			<a href="../assets/pdfs/JOGL-white-paper.pdf" download><button><i class="fa fa-download"></i>Télécharger notre
					Livre Blanc (en anglais)</button></a>
		</div>
	</section>

	<section id="roles">
		<!-- #Roles Section -->
		<div class="container wow fadeInUp">
			<div class="section-header">
				<h3 class="section-title">Rôles</h3>
			</div>
			<p class="main">Notre expérience de travail avec les communautés et les projets distribués nous a permis de
				comprendre le rôle clé de la "Confiance" pour rendre les collaborations fructueuses. Afin d’établir une relation
				de confiance entre des contributeurs qui ne se connaissent pas forcément, nous introduirons des rôles au sein de
				JOGL qui définiront un ensemble de responsabilités pour chacun d’entre eux. Réussir à faire face à ces
				responsabilités vous rendra plus digne de confiance au sein de votre communauté et de la communauté JOGL
				mondiale. Échouer pourrait cependant avoir l'effet inverse.</p>
			<p class="text"><strong>Trois rôles</strong> sont pour l’instant disponibles sur JOGL :</p>

			<div class="row">
				<div class="col-lg-4 col-md-6 box">
					<h4>Leader</h4>
					<p><strong>Qui</strong>: Toute (groupe de) personne légitime qui souhaite développer son initiative de manière
						ouverte et collaborative.</p>
					<p><strong>Pourquoi</strong>: Votre équipe manque de compétences spécifiques. Vous avez besoin de bénévoles
						pour votre projet. Vous souhaitez documenter ouvertement vos progrès et vos résultats.</p>
					<p><strong>Comment</strong>: Expérimentez de nouvelles idées et animer une équipe de collaborateurs.</p>
				</div>
				<div class="col-lg-4 col-md-6 box">
					<h4>Contributeur</h4>
					<p><strong>Qui</strong>: Toute personne (professionnel.le, étudiant.e, amateur.trice et citoyen.ne) qui
						souhaite se dépasser en apportant du temps, de la créativité et son expérience à un projet sur JOGL.</p>
					<p><strong>Pourquoi</strong>: Rejoignez un réseau d’acteurs engagés. Faites partie de la solution. Tout en
						apprenant.</p>
					<p><strong>Comment</strong>: Trouvez des occasions d'aider et de vous engager dans des initiatives qui ont de
						l'impact. Obtenez des retours sur vos contributions.</p>
				</div>
				<div class="col-lg-4 col-md-6 box">
					<h4>Facilitateur</h4>
					<p><strong>Qui</strong>: Tout type d’organisation tel que des entreprises, des fondations, des ONG, des
						institutions publiques, des startups.</p>
					<p><strong>Pourquoi</strong>: Développez votre réseau et rendez vos actions visibles, dépassez-les en offrant
						de nouveaux types d'opportunités ouvertes.</p>
					<p><strong>Comment</strong>: Créez/accompagnez des initiatives sur JOGL en fournissant des ressources, du
						mentorat et des opportunités.</p>
				</div>
			</div>

		</div>
	</section><!-- #How -->

	<!--==========================
				Mission Section
	============================-->
	<section id="mission">
		<div class="container wow fadeIn">
			<div class="section-header">
				<h3 class="section-title">Missions</h3>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 box wow fadeInUp" data-wow-delay="0.2s">
					<h4>Connaissances ouvertes</h4>
					<p>Aider à la création de connaissances, d'outils et de méthodologies ouverts pour comprendre et résoudre nos
						problèmes les plus importants et les plus urgents.</p>
				</div>
				<div class="col-lg-4 col-md-6 box wow fadeInUp" data-wow-delay="0.4s">
					<h4>Collaboration</h4>
					<p>Synchroniser l'humanité pour un impact à long terme grâce à la collaboration pour atteindre les 17
						objectifs de développement durable des Nations Unies.</p>
				</div>
				<div class="col-lg-4 col-md-6 box wow fadeInUp" data-wow-delay="0.6s">
					<h4>Au-delà du monde universitaire</h4>
					<p>Aller au-delà des cadres académiques et corporatifs traditionnels pour améliorer la recherche et la
						collaboration.</p>
				</div>
				<div class="col-lg-4 col-md-6 box wow fadeInUp" data-wow-delay="0.2s">
					<h4>Apporter une légitimité</h4>
					<p>Donner une légitimité et des opportunités aux meneurs de projet et aux contributeurs du monde entier.</p>
				</div>
				<div class="col-lg-4 col-md-6 box wow fadeInUp" data-wow-delay="0.4s">
					<h4>Expérimenter</h4>
					<p>Offrir un accès libre au monde des inventeurs et des faiseurs, leur passion, leur lutte et leurs
						réalisations.</p>
				</div>
				<div class="col-lg-4 col-md-6 box wow fadeInUp" data-wow-delay="0.6s">
					<h4>Résoudre ensemble</h4>
					<p>Donner aux contributeur.trice.s un accès direct à ceux qui expérimentent dans le monde et faire de la
						recherche et de l’innovation plus inclusive, accessible et responsable.</p>
				</div>
				<div class="col-lg-4 col-md-6 box wow fadeInUp" data-wow-delay="0.2s">
					<h4>Apprendre ensemble</h4>
					<p>Encourager l'apprentissage fondé sur les défis et offrir un cadre d'évaluation ouvert aux apprenant.e.s..
					</p>
				</div>
				<div class="col-lg-4 col-md-6 box wow fadeInUp" data-wow-delay="0.4s">
					<h4>Lieu sûr</h4>
					<p>Offrir un espace sûr et inclusif où chacun.e peut se joindre et contribuer, avec des idées et des approches
						qui peuvent être audacieuses et contre-intuitives.</p>
				</div>
				<div class="col-lg-4 col-md-6 box wow fadeInUp" data-wow-delay="0.6s">
					<h4>Transparence</h4>
					<p>Favoriser la reproductibilité par le libre accès aux données, au contexte, aux méthodologies, aux résultats
						et aux publications finales.</p>
				</div>
			</div>
		</div>
	</section><!-- #mission-->

	<section id="partners">
		<!-- Core Partners -->
		<div class="container wow fadeInUp">
			<div class="section-header">
				<h3 class="section-title">Partenaires principaux</h3>
			</div>
			<div class="partners slider">
				<div class="slide"><a href="https://www.axa-research.org/fr" target="_blank" rel="noopener"><img
							src="../assets/imgs/sponsors/axa-research-fund.png" alt="axa research fund JOGL" /></a></div>
				<div class="slide"><a href="https://cri-paris.org/" target="_blank" rel="noopener"><img
							src="../assets/imgs/sponsors/cri.png" alt="CRI JOGL" /></a></div>
				<div class="slide"><a href="https://igem.org/Main_Page" target="_blank" rel="noopener"><img
					src="../assets/imgs/sponsors/Igem_icon.svg" alt="iGem X JOGL" /></a></div>
				<div class="slide"><a href="https://www.nesta.org.uk/" target="_blank" rel="noopener"><img
							src="../assets/imgs/sponsors/nesta-logo.jpg" alt="Nesta JOGL" /></a></div>
				<div class="slide"><a href="https://covid3d.org/" target="_blank" rel="noopener"><img
							src="../assets/imgs/sponsors/aphp-logo.jpg" alt="APHP JOGL" /></a></div>
        <div class="slide"><a href="https://www.afd.fr/fr" target="_blank" rel="noopener"><img
              src="../assets/imgs/sponsors/afd-jogl.png" alt="AFD" /></a></div>
        <div class="slide"><a href="https://www.fondation-vinci.com/fondation/fr/page/index.htm" target="_blank" rel="noopener"><img
              src="../assets/imgs/sponsors/logo_fondation_vinci.png" alt="Fondation vinci JOGL" /></a></div>
        <div class="slide"><a href="https://www.sanofi.fr/" target="_blank" rel="noopener"><img
              src="../assets/imgs/sponsors/Sanofi.png" alt="Sanofi" /></a></div>
				<div class="slide"><a href="https://share-it.io/" target="_blank" rel="noopener"><img
							src="../assets/imgs/sponsors/share-it.png" alt="Share-it JOGL" /></a></div>
			</div>
			<div class="partnersFull sponsors">
				<a href="https://www.axa-research.org/fr" target="_blank" rel="noopener"><img
						src="../assets/imgs/sponsors/axa-research-fund.png" alt="axa research fund JOGL" /></a>
				<a href="https://cri-paris.org/" target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/cri.png"
					alt="CRI JOGL" /></a>
				<a href="https://igem.org/Main_Page" target="_blank" rel="noopener"><img
					src="../assets/imgs/sponsors/Igem_icon.svg" alt="iGem X JOGL" /></a>
				<a href="https://www.nesta.org.uk/" target="_blank" rel="noopener"><img
						src="../assets/imgs/sponsors/nesta-logo.jpg" alt="Nesta JOGL" /></a>
				<a href="https://covid3d.org/" target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/aphp-logo.jpg"
						alt="APHP JOGL" /></a>
        <a href="https://www.afd.fr/fr" target="_blank" rel="noopener"><img
							src="../assets/imgs/sponsors/afd-jogl.png" alt="AFD" /></a>
				<a href="https://www.fondation-vinci.com/fondation/fr/page/index.htm" target="_blank" rel="noopener"><img
					src="../assets/imgs/sponsors/logo_fondation_vinci.png" alt="Fondation vinci JOGL" /></a>
        <a href="https://www.sanofi.fr/" target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/Sanofi.png"
            alt="Sanofi" /></a>
				<a href="https://share-it.io/" target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/share-it.png"
						alt="Share-it JOGL" /></a>
			</div>
		</div>
	</section><!-- Core Partners -->

  <section id="helpusbuild">
    <!-- Other Partners -->
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h3 class="section-title">Ils nous aident à construire JOGL</h3>
      </div>
      <div class="partners slider">
				<!-- <div class="slide"><a href="https://group.bnpparibas" target="_blank" rel="noopener"><img
					src="../assets/imgs/sponsors/bnp.png" alt="Bnp Paribas JOGL" /></a></div> -->
				<!-- <div class="slide"><a href="https://www.microsoft.com/fr-fr/" target="_blank" rel="noopener">
					<img src="../assets/imgs/sponsors/microsoft.png" alt="Microsoft X JOGL" />
				</a></div> -->
				<div class="slide"><a href="https://africavsvirus.com/" target="_blank" rel="noopener"><img
					src="../assets/imgs/sponsors/africa_virus_challenge.svg" alt="Africa vs Virus Challenge -  JOGL" /></a></div>
				<div class="slide"><a href="https://makesense.org/en" target="_blank" rel="noopener"><img
					src="../assets/imgs/sponsors/makesense-logo.svg" alt="Makesense JOGL" /></a></div>
        <div class="slide"><a href="https://www.openhumans.org/" target="_blank" rel="noopener"><img
              src="../assets/imgs/sponsors/open-humans-logo.png" alt="Open humans JOGL" /></a></div>
        <div class="slide"><a href="https://www.opensourcepharma.net/" target="_blank" rel="noopener"><img
              src="../assets/imgs/sponsors/opensource-pharma.jpeg" alt="Open Source Pharma JOGL" /></a></div>
        <div class="slide"><a href="https://www.media.mit.edu/groups/community-bio/overview/" target="_blank"
            rel="noopener"><img src="../assets/imgs/sponsors/Community Biotechnology.png"
							alt="Community Bio Initiative - MIT MediaLab" /></a></div>
				<div class="slide"><a href="https://foundersfuture.com/?lang=fr" target="_blank" rel="noopener">
					<img src="../assets/imgs/sponsors/founders-future.png" alt="Founders Future X JOGL" />
				</a></div>
				<div class="slide"><a href="https://jedi.group/" target="_blank" rel="noopener">
					<img src="../assets/imgs/sponsors/logo-jedi.png" alt="Jedi X JOGL" />
				</a></div>
        <div class="slide"><a href="https://sound.bio/" target="_blank" rel="noopener"><img
              src="../assets/imgs/sponsors/soundbio-lab-logo.png" alt="Sound Bio Lab - JOGL" /></a></div>
        <div class="slide"><a href="https://www.hackfromhome.com/" target="_blank" rel="noopener"><img
              src="../assets/imgs/sponsors/hack_from_home_covid19.png" alt="HackFromHome Covid19 JOGL" /></a></div>
        <div class="slide"><a href="https://correlaid.org/en/correlaid-x/" target="_blank" rel="noopener"><img
              src="../assets/imgs/sponsors/correlaid.jpg" alt="correlaid JOGL" /></a></div>
        <div class="slide"><a href="http://wildcodeschool.fr/paris/" target="_blank" rel="noopener"><img
              src="../assets/imgs/sponsors/Wild-code-school.png" alt="Wild Code School Paris - JOGL" /></a></div>
        <div class="slide"><a href="https://dataforgood.fr/" target="_blank" rel="noopener"><img
              src="../assets/imgs/sponsors/dataforgood.png" alt="Data for good - JOGL" /></a></div>
        <div class="slide"><a href="https://www.s3odeon.fr/" target="_blank" rel="noopener"><img
              src="../assets/imgs/sponsors/S3ODEON.png" alt="S3ODEON JOGL" /></a></div>
        <div class="slide"><a href="https://www.excelya.com/fr/" target="_blank" rel="noopener"><img
              src="../assets/imgs/sponsors/Excelya.png" alt="Excelya JOGL" /></a></div>
        <div class="slide"><a href="https://paris.girlsintech.org/" target="_blank" rel="noopener"><img
              src="../assets/imgs/sponsors/Girls_in_tech_paris.png" alt="Girls in tech Paris JOGL" /></a></div>
        <div class="slide"><a href="https://www.epitech.eu/" target="_blank" rel="noopener"><img
              src="../assets/imgs/sponsors/logo-epitech.jpg" alt="Epitech JOGL" /></a></div>
        <div class="slide"><a href="http://www.tuba-lyon.com/" target="_blank" rel="noopener"><img
              src="../assets/imgs/sponsors/tuba-lyon.png" alt="Tuba JOGL" /></a></div>
        <div class="slide"><a href="https://www.supbiotech.fr/" target="_blank" rel="noopener"><img
              src="../assets/imgs/sponsors/LOGO-SUPBIOTECH.jpg" alt="SUPBIOTECH JOGL" /></a></div>
        <div class="slide"><a href="https://www.kapcode.fr/" target="_blank" rel="noopener"><img
              src="../assets/imgs/sponsors/kapcode.png" alt="kapcode JOGL" /></a></div>
      </div>
      <div class="partnersFull sponsors">
				<!-- <a href="https://group.bnpparibas" target="_blank" rel="noopener"><img
					src="../assets/imgs/sponsors/bnp.png" alt="Bnp Paribas JOGL" /></a> -->
				<!-- <a href="https://www.microsoft.com/fr-fr/" target="_blank" rel="noopener"><img
						src="../assets/imgs/sponsors/microsoft.png" alt="Microsoft X JOGL" /></a> -->
				<a href="https://africavsvirus.com/" target="_blank" rel="noopener"><img
						src="../assets/imgs/sponsors/africa_virus_challenge.svg" alt="Africa vs Virus Challenge -  JOGL" /></a>
        <a href="https://makesense.org/" target="_blank" rel="noopener"><img
            src="../assets/imgs/sponsors/makesense-logo.svg" alt="Makesense JOGL" /></a>
        <a href="https://www.openhumans.org/" target="_blank" rel="noopener"><img
            src="../assets/imgs/sponsors/open-humans-logo.png" alt="Open humans JOGL" /></a>
        <a href="https://www.opensourcepharma.net/" target="_blank" rel="noopener"><img
            src="../assets/imgs/sponsors/opensource-pharma.jpeg" alt="Open Source Pharma JOGL" /></a>
        <a href="https://www.media.mit.edu/groups/community-bio/overview/" target="_blank" rel="noopener"><img
            src="../assets/imgs/sponsors/Community Biotechnology.png" alt="Community Bio Initiative - MIT MediaLab" /></a>
				<a href="https://foundersfuture.com/?lang=fr" target="_blank" rel="noopener"><img
						src="../assets/imgs/sponsors/founders-future.png" alt="Founders Future X JOGL" /></a>
				<a href="https://jedi.group/" target="_blank" rel="noopener"><img
						src="../assets/imgs/sponsors/logo-jedi.png" alt="Jedi X JOGL" /></a>
        <a href="https://sound.bio/" target="_blank" rel="noopener"><img
            src="../assets/imgs/sponsors/soundbio-lab-logo.png" alt="Sound Bio Lab - JOGL" /></a>
        <a href="https://www.hackfromhome.com/" target="_blank" rel="noopener"><img
            src="../assets/imgs/sponsors/hack_from_home_covid19.png" alt="HackFromHome Covid19 JOGL" /></a>
        <a href="https://correlaid.org/en/correlaid-x/" target="_blank" rel="noopener"><img
            src="../assets/imgs/sponsors/correlaid.jpg" alt="correlaid JOGL" /></a>
        <a href="http://wildcodeschool.fr/paris/" target="_blank" rel="noopener"><img
            src="../assets/imgs/sponsors/Wild-code-school.png" alt="Wild Code School Paris - JOGL" /></a>
        <a href="https://dataforgood.fr/" target="_blank" rel="noopener"><img
            src="../assets/imgs/sponsors/dataforgood.png" alt="Data for good - JOGL" /></a>
        <a href="https://www.s3odeon.fr/" target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/S3ODEON.png"
            alt="S3ODEON JOGL" /></a>
        <a href="https://www.excelya.com/fr/" target="_blank" rel="noopener"><img
            src="../assets/imgs/sponsors/Excelya.png" alt="Excelya JOGL" /></a>
        <a href="https://paris.girlsintech.org/" target="_blank" rel="noopener"><img
            src="../assets/imgs/sponsors/Girls_in_tech_paris.png" alt="Girls in tech Paris JOGL" /></a>
        <a href="https://www.epitech.eu/" target="_blank" rel="noopener"><img
            src="../assets/imgs/sponsors/logo-epitech.jpg" alt="Epitech JOGL" /></a>
        <a href="http://www.tuba-lyon.com/" target="_blank" rel="noopener"><img
            src="../assets/imgs/sponsors/tuba-lyon.png" alt="Tuba JOGL" /></a>
        <a href="https://www.supbiotech.fr/" target="_blank" rel="noopener"><img
            src="../assets/imgs/sponsors/LOGO-SUPBIOTECH.jpg" alt="SUPBIOTECH JOGL" /></a>
        <a href="https://www.kapcode.fr/" target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/kapcode.png"
            alt="kapcode JOGL" /></a>
      </div>
    </div>
  </section><!-- Secondary Partners -->

	<section>
		<!-- Talk about us -->
		<div class="container wow fadeInUp">
			<div class="section-header">
				<h3 class="section-title">Ils parlent de nous</h3>
			</div>
			<div class="partners slider">
				<div class="slider"><a href="https://www.theguardian.com/world/2020/mar/18/biohacking-online-forums-coronavirus-vaccines-testing"
					target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/the_guardian_logo.png"
						alt="The Guardian JOGL" /></a></div>
				<div class="slider"><a href="https://www.facebook.com/watch/?v=668823486993077"
					target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/konbini-logo.png"
						alt="Konbinni JOGL" /></a></div>
				<!-- <div class="slider"><div id="playme" onclick="revealVideo('video','facebook')"><img src="../assets/imgs/sponsors/konbini-logo.png"
						alt="Konbinni JOGL" /></div></div> -->
				<div class="slider"><a href="https://theconversation.com/coronavirus-seven-ways-collective-intelligence-is-tackling-the-pandemic-133553"
					target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/theconversationlogo.jpg"
						alt="The Conversation JOGL" /></a></div>
				<div class="slider"><a href="https://www.lemonde.fr/sciences/article/2020/03/24/coronavirus-comment-la-communaute-scientifique-se-mobilise_6034171_1650684.html" target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/lemonde.svg" alt="Le monde JOGL" /></a></div>
				<div class="slider"><a href="https://www.20minutes.fr/arts-stars/web/2747287-20200324-coronavirus-aidez-aider-makers-prets-fabriquer-masques-impression-3d" target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/20minutes.png" alt="20 minutes JOGL" /></a></div>
				<div class="slide"><a href="https://www.lesechos.fr/weekend/perso/lintelligence-collective-arme-anti-covid-1268773"
					target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/Les_echos.png" alt="Les echos JOGL" /></a>
			</div>
				<div class="slider"><a href="http://www.slate.fr/story/189381/coronavirus-covid-19-pandemie-science-recherche-intelligence-collective-plateforme-collaborative-open-source" target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/slate-logo.svg" alt="Slate JOGL" /></a></div>
				<div class="slider"><a href="https://www.sciencesetavenir.fr/decouvrir/covid-19-les-sciences-participatives-pour-epauler-les-structures-officielles_143398" target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/sciences_et_avenir.svg" alt="Sciences et avenir JOGL" /></a></div>
				<div class="slider"><a href="https://www.mediapart.fr/journal/international/110320/la-science-collaborative-l-assaut-du-coronavirus"
					target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/mediapart-logo.png"
						alt="Mediapart JOGL" /></a></div>
				<div class="slider"><a href="https://hackaday.com/2020/03/10/open-source-collaboration-tackles-covid-19-testing/" target="_blank"
					rel="noopener"><img src="../assets/imgs/sponsors/hackaday-logo.png" alt="Hackaday JOGL" /></a></div>
				<div class="slider"><a href="https://www.grandlabo.com/just-one-giant-lab-plateforme-recherche-participative-mondiale-pour-sauver-le-monde/"
					target="_blank" rel="noopener"><img
						src="https://www.grandlabo.com/content/images/2019/05/grandlabo-favicon.png" alt="Grand Labo" /></a></div>
				<div class="slider"><a href="https://engage.world/mag/thomas-landrain-developper-une-alternative-au-modele-academique-de-la-recherche"
					target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/engage.png" alt="Engage.world" /></a></div>
				<div class="slider"><div id="playme" onclick="revealVideo('video2','youtube')"><img src="../assets/imgs/sponsors/share-it.png"
						alt="Share-it JOGL" /></div></div>
			</div>

			<div class="mediasFull media">
				<a href="https://www.theguardian.com/world/2020/mar/18/biohacking-online-forums-coronavirus-vaccines-testing" target="_blank" rel="noopener">
					<img src="../assets/imgs/sponsors/the_guardian_logo.png" alt="The Guardian JOGL" />
				</a>
				<a href="https://www.facebook.com/watch/?v=668823486993077" target="_blank" rel="noopener">
					<img src="../assets/imgs/sponsors/konbini-logo.png" alt="Konbinni JOGL" />
				</a>
				<!-- <div id="playme" onclick="revealVideo('video','facebook')"><img src="../assets/imgs/sponsors/konbini-logo.png"
						alt="Konbinni JOGL" /></div> -->
				<a href="https://theconversation.com/coronavirus-seven-ways-collective-intelligence-is-tackling-the-pandemic-133553" target="_blank" rel="noopener">
					<img src="../assets/imgs/sponsors/theconversationlogo.jpg" alt="The Conversation JOGL" />
				</a>
				<a href="https://www.lemonde.fr/sciences/article/2020/03/24/coronavirus-comment-la-communaute-scientifique-se-mobilise_6034171_1650684.html" target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/lemonde.svg" alt="Le monde JOGL" /></a>
				<a href="https://www.20minutes.fr/arts-stars/web/2747287-20200324-coronavirus-aidez-aider-makers-prets-fabriquer-masques-impression-3d" target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/20minutes.png" alt="20 minutes JOGL" /></a>
				<a href="https://www.lesechos.fr/weekend/perso/lintelligence-collective-arme-anti-covid-1268773"
					target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/Les_echos.png" alt="Les echos JOGL" /></a>
				<a href="http://www.slate.fr/story/189381/coronavirus-covid-19-pandemie-science-recherche-intelligence-collective-plateforme-collaborative-open-source" target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/slate-logo.svg" alt="Slate JOGL" /></a>
				<a href="https://www.sciencesetavenir.fr/decouvrir/covid-19-les-sciences-participatives-pour-epauler-les-structures-officielles_143398" target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/sciences_et_avenir.svg" alt="Sciences et avenir JOGL" /></a>
				<a href="https://www.mediapart.fr/journal/international/110320/la-science-collaborative-l-assaut-du-coronavirus"
					target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/mediapart-logo.png"
						alt="Mediapart JOGL" /></a>
				<a href="https://hackaday.com/2020/03/10/open-source-collaboration-tackles-covid-19-testing/" target="_blank"
					rel="noopener"><img src="../assets/imgs/sponsors/hackaday-logo.png" alt="Hackaday JOGL" /></a>
				<a href="https://www.grandlabo.com/just-one-giant-lab-plateforme-recherche-participative-mondiale-pour-sauver-le-monde/"
					target="_blank" rel="noopener"><img
						src="https://www.grandlabo.com/content/images/2019/05/grandlabo-favicon.png" alt="Grand Labo" /></a>
				<a href="https://engage.world/mag/thomas-landrain-developper-une-alternative-au-modele-academique-de-la-recherche"
					target="_blank" rel="noopener"><img src="../assets/imgs/sponsors/engage.png" alt="Engage.world" /></a>
				<div id="playme" onclick="revealVideo('video2','youtube')"><img src="../assets/imgs/sponsors/share-it.png"
						alt="Share-it JOGL" /></div>
			</div>
			<!-- <div id="video" class="lightbox faceboook" onclick="hideVideo('video','facebook')">
				<div class="lightbox-container">
					<div class="lightbox-content">
						<button onclick="hideVideo('video','facebook')" class="lightbox-close">
							Fermer | ✕
						</button>
						<div class="video-container">
							<iframe id="facebook" width="960" height="540"
								src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fkonbinitechno%2Fvideos%2F668823486993077%2F&show_text=0&width=476"
								width="476" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
								allowTransparency="true" allowFullScreen="true"></iframe>
						</div>
					</div>
				</div>
			</div> -->
			<div id="video2" class="lightbox youtube" onclick="hideVideo('video2','youtube')">
				<div class="lightbox-container">
					<div class="lightbox-content">
						<button onclick="hideVideo('video2','youtube')" class="lightbox-close">
							Fermer | ✕
						</button>
						<div class="video-container">
							<iframe id="youtube" width="960" height="540" src="https://www.youtube.com/embed/awQIw2Pk22U?showinfo=0"
								frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- Talk about us -->

	<!--==========================
					 Team Section
	============================-->
	<section id="team">
		<div class="container wow fadeInUp">
			<div class="section-header" style="position:relative">
				<h3 class="section-title team">Équipe</h3>
				<!-- <p>Nous recrutons !<a href="#jobs">&nbsp;Rejoindre l'équipe !</a> 🙌</p> -->
			</div>
			<div class="row">

				<div class="popup2">
					<div class="popup2--content"></div>
					<div class="close-popup2"><i class="fa fa-times-circle"></i></div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/Gameli-Adzaho.jpg" alt="Gameli Adzaho"></div>
					<div class="info">
						<h4>Gameli Adzaho</h4>
						<span>Manager de programme</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/gamelmag/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="twitter.com/gamelmag" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
							<a href="https://app.jogl.io/user/6000/Gameli" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Gameli est un professionnel de l'environnement et de la santé humaine, un chercheur, un éducateur et un leader communautaire passionné par le changement durable grâce à l'innovation sociale.</li>
						<li>Expérience dans les domaines de la santé publique, de la technologie, de l'éducation et du secteur civique au Ghana, et a récemment été chercheur à l'Institut Weizenbaum de Berlin, en Allemagne.</li>
					</ul>
					<div class="about" id="about-0">À propos</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/juliette-beaudet.jpg" alt="Juliette Beaudet"></div>
					<div class="info">
						<h4>Juliette Beaudet</h4>
						<span>Apprentie Développeuse Web Full-Stack</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/juliette-beaudet/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://github.com/juliettebeaudet" target="_blank" rel="noopener"><i class="fa fa-github"></i></a>
							<a href="https://app.jogl.io/user/6080" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Actuellement étudiante en développement de logiciels à l'école Trybe</li>
						<li>Entrepreneuse social dans l'âme, elle a été directrice générale de la start-up musicale brésilienne daleGig</li>
						<li>Après avoir obtenu son Master en Affaires Internationales à Sciences Po, elle a été membre de plusieurs Consulats et Ambassades de France (Espagne, Afrique du Sud, Brésil)</li>
						<li>Passionnée de Tech for Good et d'escalade</li>
					</ul>
					<div class="about" id="about-1">À propos</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-leo-blondel.jpg" alt="leo blondel"></div>
					<div class="info">
						<h4>Leo Blondel</h4>
						<span>Co-Fondateur & CTO</span>
						<div class="social">
							<a href="https://xqua.gitlab.io/website/" target="_blank" rel="noopener"><i class="fa fa-globe"></i></a>
							<a href="https://www.linkedin.com/in/leo-blondel-963435202/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://twitter.com/XquaInTheMoon" target="_blank" rel="noopener"><i
									class="fa fa-twitter"></i></a>
							<a href="https://www.biorxiv.org/search/author1%3ALeo%2BBlondel" target="_blank" rel="noopener"><i
									class="fa fa-flask"></i></a>
							<a href="https://app.jogl.io/user/1" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Doctorant en biologie computationnelle, longue expérience académique avec un master à l'Ecole Normale
							Supérieure (ENS) ULM. Il termine actuellement son doctorat à l'Université Harvard sur divers sujets liés à
							Evo-Devo of Arthropods.</li>
						<li>Il possède une expertise en science des données et en apprentissage machine avec un accent sur l'analyse
							des données séquentielles et des images.</li>
						<li>Il participe à des projets interdisciplinaires, récemment en collaboration avec Marc Santolini sur
							l'extraction et l'analyse du concours iGEM.</li>
						<li>Il a aidé le parlement de l'Union européenne sur la politique scientifique entourant la transition vers
							l'énergie verte.</li>
						<li>Il est défenseur de l'Open Science et de l'Open Source à travers la participation à de multiples projets
							depuis l'enfance. Enfant de la sous-culture du pirate informatique.</li>
					</ul>
					<div class="about" id="about-2">À propos</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/lucie-bouvier.jpeg" alt="Lucie Bouvier"></div>
					<div class="info">
						<h4>Lucie Bouvier</h4>
						<span>Designer UX/UI Junior</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/lucie-b-992b97142/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/6217/LucieBouvier" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>En cours d'étude d'un Master "expert en ingénierie de la communication numérique" de l'école de web Hetic, et spécialisée dans la conception UX/UI.</li>
						<li>Passionnée par l'art, la science et l'histoire. 👩🏻‍💻À créé des interfaces et architectures pour les sites web et les applications qui répondent aux besoins des utilisateurs, des illustrations, des conceptions de réalité augmentée et plus encore.</li>
						<li>Travaillé dans différentes fonctions de conception de sites web pour des entreprises comme Digiticks, l'Agence numérique et le Laboratoire de la Banque de France.</li>
					</ul>
					<div class="about" id="about-3">À props</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/brad-fujimoto.jpg" alt="Brad Fujimoto"></div>
					<div class="info">
						<h4>Brad Fujimoto</h4>
						<span>Product owner</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/bradfujimoto" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/6669/BradFujimoto" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Complété ses études de premier cycle à l'Université de Princeton et à Sciences Po Paris, avant d'obtenir son MBA à HEC Paris. Formé au développement web chez Le Wagon et au design de produits chez The Design Crew.</li>
						<li>Expérience en planification stratégique, commerce de détail, marketing numérique, enseignement supérieur et gestion de produits.</li>
						<li>Passionnée par la création de produits technologiques qui contribuent à rendre notre monde meilleur.</li>
						<li>Passioné de la sensibilisation à l'environnement, de santé/du bien-être et de minimalisme.</li>
					</ul>
					<div class="about" id="about-4">À propos</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/Christopher-Graham.jpg" alt="Christopher Graham"></div>
					<div class="info">
						<h4>Christopher LB Graham</h4>
						<span>Coordinateur du Peer review</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/chris-lb-graham-a71692a1" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/101" target="_blank" rel="noopener"><img
									src="../assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Chris est un étudiant en doctorat de l'université de Warwick, avec une spécialisation dans les enveloppes cellulaires et les antibiotiques.</li>
						<li>Au début de 2020, il a cofondé l'organisation caritative COVID "Helpful Engineering" et a contribué à la création du premier système d'examen par les pairs</li>
						<li>Il a commencé sa carrière universitaire tôt, avec sa première bourse obtenue pendant ses études de premier cycle en 2016 et espère créer un monde universitaire plus juste et plus inclusif en tant que membre de l'équipe du JOGL en utilisant sa philosophie progressiste et ouverte pour rendre aux jeunes les théories et les dépenses des budgets scientifiques.</li>
					</ul>
					<div class="about" id="about-5">À propos</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/nathan-guillaumin.png" alt="Nathan Guillaumin"></div>
					<div class="info">
						<h4>Nathan Guillaumin</h4>
						<span>Apprenti Développeur Web Front-End</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/nathanguillaumin/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://github.com/nathanguillaumin" target="_blank" rel="noopener"><i class="fa fa-github"></i></a>
							<a href="https://app.jogl.io/user/6241" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Diplômé d'un Master en école de commerce et j'ai pu commencer à travailler pour de grands groupes</li>
						<li>Réalisé une formation intensive de 6 mois pour devenir développeur web.</li>
						<li>Appris React et Node, puis a enchaîné 6 mois de stage sur la partie front-end d'un logiciel de gestion</li>
					</ul>
					<div class="about" id="about-6">À propos</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-luca-haenel.jpg" alt="luca haenel"></div>
					<div class="info">
						<h4>Luca Haenel</h4>
						<span>Lead Front-end Développeur</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/luca-haenel/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/2" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>En charge du développement du site web & de la plateforme JOGL (app.jogl.io)</li>
						<li>Diplomé du Master "expert en ingénierie de la communication numérique" de l’école web HETIC</li>
					</ul>
					<div class="about" id="about-7">À propos</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/kat-holo.jpeg" alt="Kat Holo"></div>
					<div class="info">
						<h4>Kat Holo</h4>
						<span>Directrice des opérations</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/katherine-holo" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/5016" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png"
									alt="jogl"></a> 
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Kat est actuellement boursière Angier B. Duke et poursuit des études en informatique et en économie à l'université de Duke (Durham, Caroline du Nord)</li>
						<li>En mars 2020, elle a co-organisé l'initiative OpenCovid19, le plus grand programme du JOGL, qui se concentre sur les solutions et les projets de recherche liés à COVID-19</li>
						<li>Avec plus de 4 ans d'expérience dans la direction d'équipes, la gestion de projets et le développement d'OSBL/entreprises, Kat est passionnée par l'entrepreneuriat et la promotion de l'apprentissage interdisciplinaire ouvert</li>
					</ul>
					<div class="about" id="about-8">À propos</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/max-katz.jpg" alt="Max Katz"></div>
					<div class="info">
						<h4>Max Katz</h4>
						<span>Strategiste communication et réseaux sociaux</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/maxfkatz" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/6650/max" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Acteur, écrivain et professionnel de la communication, titulaire d'une maîtrise de Central Saint Martins et d'une licence de l'Université McGill.</li>
						<li>Natif de New York, il a acquis une expérience transcontinentale en travaillant avec des clients, des migrants et des familles de travailleurs, en les écoutant, en apprenant d'eux et en les responsabilisant.</li>
						<li>A récemment mené des recherches sur les droits du travail numérique et la surveillance du lieu de travail avec l'ONG britannique Big Brother Watch.</li>
						<li>Passionnée par l'accès ouvert et la conquête d'un monde juste et libre pour tous </li>
					</ul>
					<div class="about" id="about-9">À propos</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/Isabelle_Lafont.jpg" alt="Isabelle Lafont"></div>
					<div class="info">
						<h4>Isabelle Lafont</h4>
						<span>Développeuse Back-end Junior</span>
						<div class="social">
							<a href="https://github.com/Isalafont" target="_blank" rel="noopener"><i
									class="fa fa-github"></i></a>
							<a href="https://gitlab.com/Isalafont" target="_blank" rel="noopener"><i
									class="fa fa-gitlab"></i></a>
							<a href="https://twitter.com/isalafont" target="_blank" rel="noopener"><i
								class="fa fa-twitter"></i></a>
							<a href="https://app.jogl.io/user/5907/Isabellelafont" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png"
									alt="jogl"></a> 
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Developpeuse Web Full Stack Ruby on Rails engagée auprès des communauté open source, Womand in Rails et Ladies Of Code Paris. </li>
						<li>Durant plus de 15 ans, Isabelle a exercé le metier de cadreuse et d'assistante caméra dans l'évènementiel et le cinema. Elle a régulièrement travaillé sur les évènements de L'Académie Française des Arts et des Sciences" ainsi que des TEDx à de multiples occasions.</li>
						<li>Passionnée par le web et les nouvelles technologies, Isabelle a décidé de changer de carrière dans le développement web en 2020 et s'engage activement auprès de communautés Open source dans l'optique de rendre le monde de la tech plus inclusif.</li>
					</ul>
					<div class="about" id="about-10">À propos</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-thomas-landrain.jpg" alt="thomas landrain"></div>
					<div class="info">
						<h4>Thomas Landrain</h4>
						<span>Co-Fondateur & CEO</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/thomaslandrain/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://twitter.com/Tholand_" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
							<a href="https://app.jogl.io/user/3" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>L'un des pionniers des mouvements et communautés DIYbio (biologie de garage) et Science Ouverte. Il a
							fondé en 2009 La Paillasse à Paris, le premier laboratoire français ouvert qui est devenu l'un des plus
							grands au monde. A aidé des centaines de projets, a touché des milliers de personnes dans le monde entier.
						</li>
						<li>Il participe au démarrage de la biologie synthétique en France en tant que chercheur universitaire. Il a
							co-fondé la première équipe française iGEM en 2007. Il a co-construit le premier laboratoire de recherche
							dédié à la biologie synthétique en 2008 où il a commencé son doctorat. Il a publié 9 articles évalués par
							des pairs au cours de cette période.</li>
						<li>Il décide de quitter le monde universitaire pour se concentrer entièrement sur la construction et
							l'expérimentation d'alternatives à un système académique rouillé pour la production de connaissances
							ouvertes et d'innovations, d'abord avec La Paillasse et maintenant avec JOGL.</li>
						<li>Il a co-fondé en 2015 la société de biologie synthétique PILI qui apporte la première alternative
							durable à la pétrochimie pour la fabrication de colorants à échelle industrielle. PILI est maintenant une
							entreprise de R&D forte de 15 employés et a recueilli plus de 8 millions de dollars de fonds.</li>
						<li>Il est membre du Conseil National du Numérique où il pilote le groupe de travail sur la transition
							écologique.</li>
						<li>Il prend la parole dans le monde entier sur la recherche ouverte, le DIYbio, l'intelligence collective
							et l'avenir des communautés, de la science et de l'innovation lors de rassemblements tels que TEDx, Lift,
							OuiShareFest, MIT CommunityBio, CollaborAmerica Brésil, FoundersForum UK, MakerFaire Shenzhen et
							AfricaOSH.</li>
					</ul>
					<div class="about" id="about-11">À propos</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/marianna-limas.png" alt="Marianna Limas"></div>
					<div class="info">
						<h4>Marianna Limas</h4>
						<span>Cogestionnaire des réseaux sociaux</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/mnlimas/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://twitter.com/mnlimas" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
							<a href="https://app.jogl.io/user/150" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Marianna a rejoint le JOGL pour communiquer les dernières nouvelles de la plateforme et de ses projets sur les médias sociaux</li>
						<li>Elle s'intéresse au mouvement visant à faire progresser la science ouverte et aux initiatives qui améliorent l'accès à des outils scientifiques à faible coût et à source ouverte</li>
						<li>Elle s'intéresse également à la pratique consistant à communiquer des sujets scientifiques à des non-experts, au rôle de la biologie dans l'atténuation des conséquences du changement climatique, et aux initiatives qui améliorent la diversité et l'inclusion dans les STEM</li>
					</ul>
					<div class="about" id="about-12">À propos</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-gaell-mainguy.jpg" alt="gaell mainguy"></div>
					<div class="info">
						<h4>Gaëll Mainguy</h4>
						<span>Membre du Bureau</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/gaellmainguy/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Titulaire d’un doctorat en neurobiologie, diplômé de l’Ecole Normale Supérieure.</li>
						<li>A d’abord travaillé dans le monde de la recherche chez l’INSERM et Veolia</li>
						<li>Il a par la suite coordonné plusieurs projets pour des ONG, des organisations publiques et privées en
							neuroscience, intelligence collective, développement durable et dans le secteur de l’énergie</li>
						<li>A fondé en 2008 S.A.P.I.E.E.N.S, revue interdisciplinaire en libre accès qui encourage la recherche sur
							le développement durable afin de faire évoluer la législation sur cette thématique</li>
						<li>Est convaincu que les transformations sociétales et la conscience écologique exigent un changement de
							paradigme dans le domaine de l’Education, il a rejoint le Centre de Recherches Interdisciplinaires (CRI)
							basé à Paris en 2012 où il est actuellement Directeur du Développement & des Relations Internationales
						</li>
					</ul>
					<div class="about" id="about-13">À propos</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-camille-masselot.jpg" alt="Camille Masselot"></div>
					<div class="info">
						<h4>Camille Masselot</h4>
						<span>Coordonnatrice de programmes</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/camille-masselot-1b168060/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/8" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Passionnée par la recherche et la santé, croit au pouvoir de la collaboration pour réaliser des
							changements durables dans notre société et atteindre les ODD.</li>
						<li>Titulaire d'un Master en Santé Publique, Santé Internationale (ISPED, Bordeaux) et d'un Bachelor en
							Biologie cellulaire et moléculaire et physiologie (Université de Bordeaux) ; études des déterminants de la
							santé, du niveau biologique au niveau politique.</li>
						<li>Contribue à l'élaboration, à la mise en œuvre et à la coordination de projets de recherche
							interventionnelle et de projets de développement dans de nombreux pays d'Afrique subsaharienne</li>
						<li>Collaboration avec un large éventail d'acteurs de santé publique tels que ministères, instituts de
							recherche (Inserm, IRD) et ONG en France, Togo, Ouganda, Mauritanie, etc.</li>
						<li>Création d'un outil d'évaluation de la capacité des centres de santé à diagnostiquer la tuberculose chez
							les enfants dans 7 pays (pour la plupart sous-sahariens), dans le cadre du projet TB-Speed financé par
							Unitaid, en collaboration avec l'Inserm, l'Université Makerere et l'Université John Hopkins, Doctors
							Without Borders/Epicentre</li>
						<li>Lutte activement pour réduire les inégalités en matière de santé et donner accès à la santé et à
							l'information aux personnes les plus vulnérables; par son engagement dans AIDES et dans le Lower East Side
							Harm Reduction Center.</li>
					</ul>
					<div class="about" id="about-14">À propos</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/Paige-Perillat-Piratoine.jpg" alt="Paige Perillat-Piratoine"></div>
					<div class="info">
						<h4>Paige Perillat-Piratoine</h4>
						<span>Chargée du rayonnement</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/paige-perillat-piratoine/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/5974" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>A une formation en géographie et en agriculture urbaine</li>
						<li>apprend à construire des systèmes en hydroponie et en aquaponie, et à appliquer ces modèles commerciaux dans un contexte urbain.</li>
						<li>Auparavant, Paige était responsable d'un projet de création de lieux dans l'est de Londres, qui a permis de transformer une rue principale abandonnée en un projet pilote alimenté par la communauté pour l'avenir du quartier.</li>
						<li>Passionné de biodesign - enregistrement occasionnel d'entretiens avec les expérimentateurs audacieux dans ce domaine + co-organisation de réunions de communauté mensuelles pour la "biocommunauté" en Europe.</li>
					</ul>
					<div class="about" id="about-15">À propos</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-marc-santolini.jpg" alt="marc santolini"></div>
					<div class="info">
						<h4>Marc Santolini</h4>
						<span>Co-Fondateur & CSO</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/marcsantolini/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://twitter.com/msantolini" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
							<a href="https://app.jogl.io/user/5" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Chef d'équipe en science des réseaux au CRI Paris, chercheur invité au Network Science Institute of
							Northeastern University et à la Harvard Medical School (Boston)</li>
						<li>Il a plus de 10 ans d'expérience en physique théorique et en science des réseaux dans des universités
							prestigieuses (ENS Paris, Princeton, Northeastern, Harvard), avec des applications dans des contextes
							biologiques, médicaux et sociaux.</li>
						<li>Il a étudié les effets de réseau complexes qui sous-tendent la performance de la collaboration, en
							particulier dans les contextes Open Science.</li>
						<li>Il a reçu en 2018 le prix Sage Bionetworks "Young Investigators Award" pour son travail sur "Algorithms
							and the role of the individual".</li>
					</ul>
					<div class="about" id="about-16">À propos</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/gilles-vaillon.jpeg" alt="Gilles Vaillon"></div>
					<div class="info">
	          <h4>Gilles Vaillon</h4>
	          <span>Assistant administratif</span>
	          <div class="social">
	            <a href="https://www.linkedin.com/in/vaillon-gilles-7a63a529" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
          <ul class="more-info truncate">
            <!-- <li></li> -->
          </ul>
          <!-- <div class="about" id="about-12">About</div> -->
				</div>

			</div>
			<!-- <p class="alumnis">Alumnis</p>
			<div class="row">

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-marine-vouard.jpg" alt="marine vouard"></div>
					<div class="info">
						<h4>Marine Vouard</h4>
						<span>Chef Administratif & Vie d’équipe</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/marinevouard/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/22" target="_blank" rel="noopener"><img
									src="../assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
				</div>

			</div> -->

			<div class="section-header">
				<h3 class="section-title">Collaborateurs</h3>
			</div>

			<div class="material-switch">
				<span>Passé</span>
				<input id="collab-type" name="collaborator-switch" type="checkbox" checked />
				<label for="collab-type" class="label-default"></label>
				<span>Présent</span>
			</div>

			<div class="row collab-present">

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="../assets/imgs/team/luis-arias.jpg" alt="Luis Arias"></div>
					<div class="info">
						<h4>Luis Arias</h4>
						<span>Contributeur volontaire en ingénierie</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/luisarias/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/257" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-bastian-greshake.jpeg" alt="Bastian Greshake Tzovaras">
					</div>
					<div class="info">
						<h4>Bastian Greshake Tzovaras</h4>
						<span>Conseiller en développement des communautés et de la plateforme</span>
						<div class="social">
							<a href="https://twitter.com/gedankenstuecke" target="_blank" rel="noopener"><i
									class="fa fa-twitter"></i></a>
							<a href="https://github.com/gedankenstuecke" target="_blank" rel="noopener"><i
									class="fa fa-github"></i></a>
							<a href="https://app.jogl.io/user/108" target="_blank" rel="noopener"><img
									src="../assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="../assets/imgs/team/johanna-havemann.png" alt="Johanna Havemann"></div>
					<div class="info">
						<h4>Johanna Havemann</h4>
						<span>Consultant des opérations de programmes</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/johavemann" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://twitter.com/johave" target="_blank" rel="noopener"><i
									class="fa fa-twitter"></i></a>
							<a href="https://access2perspectives.com" target="_blank" rel="noopener"><i
									class="fa fa-globe"></i></a>
							<a href="https://app.jogl.io/user/5016" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png"
									alt="jogl"></a> 
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="../assets/imgs/team/alix-mains.jpeg" alt="Alix Mains"></div>
					<div class="info">
						<h4>Alix Mains</h4>
						<span>Consultante des opérations des programmes</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/alixmains/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/3808" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png"
									alt="jogl"></a>
							<a href="www.alixmains.com" target="_blank" rel="noopener"><i class="fa fa-globe"></i></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="../assets/imgs/team/eliot-moll.png" alt="Eliot Moll"></div>
					<div class="info">
						<h4>Eliot Moll</h4>
						<span>Data Scientist</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/eliot-moll-6496ba84" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://github.com/Eliot-M" target="_blank" rel="noopener"><i class="fa fa-github"></i></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="../assets/imgs/team/janet-yu.jpg" alt="Janet Yu"></div>
					<div class="info">
						<h4>Janet Yu</h4>
						<span>Développeuse frontend bénévole</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/janet-yu99/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/5938/janyu998" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png"
								alt="jogl"></a>
						</div>
					</div>
				</div>

			</div>

			<div class="row collab-past">

				<div class="member col-lg-3 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-lola-casamitjana.jpg" alt="Lola Casamitjana"></div>
					<div class="info">
						<h4>Lola Casamitjana</h4>
						<span>Responsable Communication et Communauté</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/lolacasamitjana/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://twitter.com/LolaCasamitjana" target="_blank" rel="noopener"><i
									class="fa fa-twitter"></i></a>
							<a href="http://www.lolacasamitjana.wix.com/home"><i class="fa fa-globe"></i></a>
							<a href="https://app.jogl.io/user/7" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="../assets/imgs/team/kori-roys.png" alt="Kori Roys"></div>
					<div class="info">
						<h4>Kori Roys</h4>
						<span>Développeur Senior</span>
						<div class="social">
							<a href="https://twitter.com/koriroys" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
							<a href="http://koriroys.com/" target="_blank" rel="noopener"><i class="fa fa-globe"></i></a>
							<a href="https://app.jogl.io/user/3264" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="../assets/imgs/team/caroline-b-roys.png" alt="Caroline B. Roys"></div>
					<div class="info">
						<h4>Caroline B. Roys</h4>
						<span>Designer Graphique & Cogestionnaire des réseaux sociaux</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/caroline-bourdeau-roys-69150b96/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://www.ektagone.com/" target="_blank" rel="noopener"><i class="fa fa-globe"></i></a>
							<a href="https://app.jogl.io/user/5178" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/kate-rushton.jpg" alt="Kate Rushton"></div>
					<div class="info">
						<h4>Kate Rushton</h4>
						<span>Designer UX</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/krusht/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/6001/katerushton" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-marine-vouard.jpg" alt="marine vouard"></div>
					<div class="info">
						<h4>Marine Vouard</h4>
						<span>Chef Administratif & Vie d’équipe</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/marinevouard/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/22" target="_blank" rel="noopener"><img
									src="../assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-mariesarah-adenis.jpg" alt="Marie-Sarah Adenis"></div>
					<div class="info">
						<h4>Marie-Sarah Adenis</h4>
						<span>Designer</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/mariesarahadenis/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-kojak-abdullazoda.png" alt="kojak abdullazoda"></div>
					<div class="info">
						<h4>Kojak Abdullazoda</h4>
						<span>Développeur Web</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/khojiakbar-abdullazoda-2665ba3b/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<img src="../assets/imgs/sponsors/share-it-small.png" class="share-it" alt="share-it" />
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-shibu-anthony.jpg" alt="Shibu Anthony"></div>
					<div class="info">
						<h4>Shibu Anthony</h4>
						<span>Bénévole sur le programme Co-immune</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/shibu-antony-18ba02a9/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/104" target="_blank" rel="noopener"><img
									src="../assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-Antonin-Counillon.jpg" alt="Antonin Counillon"></div>
					<div class="info">
						<h4>Antonin Counillon</h4>
						<span>Chargé de mission, programme Co-immune</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/antonin-counillon-1b50b4124" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/297" target="_blank" rel="noopener"><img
									src="../assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-romain-delory.jpeg" alt="Romain Delory"></div>
					<div class="info">
						<h4>Romain Delory</h4>
						<span>Designer</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/romaindelory" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/33" target="_blank" rel="noopener"><img
									src="../assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-Melanie-Heard.jpg" alt="Mélanie Heard"></div>
					<div class="info">
						<h4>Mélanie Heard</h4>
						<span>Conseillère sur le programme Co-immune</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/mélanie-heard-2baa9712a" target="_blank" rel="noopener"><i
								class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/262" target="_blank" rel="noopener"><img
									src="../assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-katja-heuer.jpg" alt="Katja Heuer"></div>
					<div class="info">
						<h4>Katja Heuer</h4>
						<span>Data visualization</span>
						<div class="social">
							<a href="https://fr.linkedin.com/in/katja-heuer-49502132" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://twitter.com/katjaqheuer" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
							<a href="https://app.jogl.io/user/21" target="_blank" rel="noopener"><img
									src="../assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-bodo-hoenen.jpg" alt="Bodo Hoenen"></div>
					<div class="info">
						<h4>Bodo Hoenen</h4>
						<span>Collaborateur sur le module éducatif</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/bodohoenen/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-yizi-huang.jpg" alt="yizi huang"></div>
					<div class="info">
						<h4>Yizi Huang</h4>
						<span>Stagiaire en technologies de l'éducation</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/yizi-huang-ab728417a/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-clement-lebars.jpg" alt="Clement le bars"></div>
					<div class="info">
						<h4>Clément Le Bars</h4>
						<span>Développeur Web</span>
						<div class="social">
							<img src="../assets/imgs/sponsors/share-it-small.png" class="share-it" alt="share-it" />
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-anna-listova.jpg" alt="Anna Listova"></div>
					<div class="info">
						<h4>Anna Listova</h4>
						<span>Stagiaire en technologies éducatives</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/annalistovaeng/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/4" target="_blank" rel="noopener"><img src="../assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-Sachin-Mishra.jpg" alt="Sachin Mishra"></div>
					<div class="info">
						<h4>Sachin Mishra</h4>
						<span>Développeur Web</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/fullstackdev-sachin-mishra/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/345/" target="_blank" rel="noopener"><img
									src="../assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-nidhiben-patel.jpeg" alt="Nidhiben Patel"></div>
					<div class="info">
						<h4>Nidhiben Patel</h4>
						<span>Conseillère en data</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/patel-nidhi-b129a8133/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/294" target="_blank" rel="noopener"><img
									src="../assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/ulysse-tallepied.jpeg" alt="Ulysse Tallepied"></div>
					<div class="info">
	          <h4>Ulysse Tallepied</h4>
	          <span>Développeur Front-End</span>
	          <div class="social">
	            <a href="https://www.linkedin.com/in/ulysse-tallepied" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://twitter.com/Ulyssetallepied" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="../assets/imgs/team/team-louise-trely.jpg" alt="Louise Trely"></div>
					<div class="info">
						<h4>Louise Trely</h4>
						<span>Assistante de communication bénévole</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/louise-trely-940a7a172/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://twitter.com/louisetrely" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>

			</div>

		</div>
	</section><!-- #team -->


	<section id="jobs">
		<!-- Job opportunities -->
		<div class="container wow fadeInUp">
			<div class="section-header">
				<h3 class="section-title">Offres d'emploi</h3>
			</div>
			<div class="job-offer">
			<h4>Développeur Backend Rails</h4>
				<p>Plein temps</p>
        <!-- <p>Starting as soon as possible</p> -->
				<a href="/assets/pdfs/Backend-Developer-EN-JOGL.pdf" rel="noopener" target="_blank">Voir l'annonce</a>
      </div>
			<div class="job-offer">
				<h4>Coordinateur du programme JOGL Africa (Freelance)</h4>
				<p>Temps plein</p>
        <!-- <p>Starting as soon as possible</p> -->
				<a href="/assets/pdfs/JOGL_Africa_Job_Description_Program Coordinator.pdf" rel="noopener" target="_blank">Voir l'offre</a>
      </div>
			<!-- <div class="job-offer">
        <h4>Développeur web - Stage ou Freelance</h4>
        <p>À plein temps ou mi-temps</p>
				<p>À pourvoir au plus vite</p>
				<a href="/../assets/pdfs/Developer-Intern-FR-JOGL-01-21.pdf" rel="noopener" target="_blank">Voir l'offre</a>
      </div> -->
			<!-- <div class="job-offer">
        <h4>Stage en alternance - Designer UX</h4>
        <p>Janvier à Décembre 2020</p>
				<a href="/../assets/pdfs/Job-Fiche-Stage-Designer.pdf" rel="noopener" target="_blank">Voir l'offre</a>
      </div>
			<div class="job-offer">
        <h4>Stage/Alternance - Outreach/Visibilité (en/fr)</h4>
        <p>Stage à plein temps ou mi-temps</p>
				<p>À pourvoir au plus vite</p>
				<a href="/../assets/pdfs/Job-description-outreach-Outreach-Ambassador-FR-JOGL.pdf" rel="noopener" target="_blank">Voir l'offre</a>
      </div> -->
			<!-- <p class="main"><strong>Il n'y a actuellement aucun poste disponible.</strong><br>
			Mais ne vous inquiétez pas : nous accueillons les <a href="mailto:jobs@jogl.io?subject=Candidature Spontanée">candidatures spontanées</a> avec enthousiasme. ❤️</p> -->
			<!-- <p class="main"><strong>Vous souhaitez travaillez avec nous mais aucune position ouverte vous correspond ?</strong><br>
			Pas d’inquiétude, nous accueillons les <a href="mailto:jobs@jogl.io?subject=Candidature Spontanée">candidatures spontanées</a> avec enthousiasme❤️</p> -->
			<p class="main">Nous accueillons les <a href="mailto:jobs@jogl.io?subject=Candidature Spontanée">candidatures spontanées</a> avec enthousiasme. ❤️</p>
		</div>
	</section><!-- Job opportunities -->

	<!--==========================
					Contact Section
	============================-->
	<section id="contact">

		<div class="container">
			<div class="contact-container">

				<!-- <div class="section-header">
					<h3 class="section-title">Keep in touch</h3>
				</div> -->

				<div class="popup">
					<div class="popup--content">
						<h3>S'inscrire à notre newsletter</h3>
						<div class="form">
							<!-- <p>To know more, join our mailing list below. (No spam, we hate it too!)</p> -->
							<div id="mc_embed_signup">
								<form
									action="https://jogl.us17.list-manage.com/subscribe/post?u=ffefc0d7fb31cc92dbb27c0da&amp;id=130b6193e7"
									method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
									target="_blank"
									onsubmit="gtag('event', 'submit', {'event_category': 'form', 'event_label': 'newsletter' })"
									novalidate>
									<div id="mc_embed_signup_scroll">
										<div class="mc-field-group">
											<label for="mce-EMAIL">Adresse Email <span class="asterisk">*</span>
											</label>
											<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
										</div>
										<div class="mc-field-group">
											<label for="mce-FNAME">Prénom <span class="asterisk">*</span></label>
											<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
										</div>
										<div class="mc-field-group">
											<label for="mce-LNAME">Nom <span class="asterisk">*</span></label>
											<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
										</div>
										<!-- <div class="mc-field-group input-group">
											<strong>Optionnel </strong>
											<ul><li><input type="checkbox" value="2" name="group[6931][2]" id="mce-group[6931]-6931-0"><label for="mce-group[6931]-6931-0">Je souhaite rejoindre le programme Beta</label></li></ul>
										</div> -->
										<div id="mce-responses" class="clear">
											<div class="response" id="mce-error-response" style="display:none"></div>
											<div class="response" id="mce-success-response" style="display:none"></div>
										</div>
										<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
												name="b_ffefc0d7fb31cc92dbb27c0da_130b6193e7" tabindex="-1" value=""></div>
										<div class="clear"><input type="submit" value="S'inscrire" name="subscribe"
												id="mc-embedded-subscribe" class="button"></div>
									</div>
								</form>
							</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>
						</div>
					</div>
					<div class="close-popup"><i class="fa fa-times-circle"></i></div>
				</div>

			</div>


		</div>
		<img class="team-pic" src="../assets/imgs/rockstars.jpg" alt="team" />
	</section><!-- #contact -->

	<!-- OpenCovid19 modal -->
	<!-- <div class="modal hide fade" id="programModal" tabindex="-1" role="dialog" aria-labelledby="programModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="programModalLabel">Rejoignez l'initiative Open Covid19 !</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<img src="../assets/imgs/OpenCovid19-banner.png" alt="Open covid19 initiative JOGL" />
					<p>L'initiative OpenCovid19 est un programme dont le but est de développer collectivement des outils et
						méthodes open-source et bas-coût qui sont sûrs et faciles à utiliser pour combattre la pandémie de Covid19.
						Tout le monde peut participer !</p>
				</div>
				<div class="modal-footer">
					<a href="https://app.jogl.io/program/opencovid19" rel="noopener" target="_blank">
						<button type="button" class="btn btn-primary">Je veux aider</button>
					</a>
				</div>
			</div>
		</div>
	</div>  -->
	<!-- end OpenCovid19 modal -->

</main>