---
layout: english
baseurl: https://jogl.io
page_type: index
assets_path: assets
title: Just One Giant Lab - Learning and Solving Together
metadesc : JOGL helps sync humanity onto solving our most important social & environmental problems using open science, responsible innovation & continuous learning.
---

<main id="main">

	<section id="landing">
		<!-- Landing section -->
		<div class="landing-container">
			<div class="landing-content">
				<div class="landing-content--rocket">
					<img width="40px" src="assets/imgs/logo.png" alt="jogl logo" /></img>
					<div class="rocket-landing-fuel">
						<p>+</p>
						<p>+</p>
						<p>+</p>
						<p>+</p>
					</div>
				</div>
				<div class="landing-content--text">
					<span class="title-container"><img width="75px" src="assets/imgs/logo.png" alt="jogl logo" /></img>
						<h1>Just One Giant Lab</h1>
					</span>
					<p>Just One Giant Lab (JOGL) is the first <strong>research and innovation laboratory</strong> operating as a
					distributed, open and massive mobilisation <strong>platform</strong> for collaborative task solving. JOGL
					<strong>helps humanity to sync</strong> onto fixing our most urgent and important problems using
					<strong>Open Science</strong>, <strong>Responsible Innovation</strong> and <strong>Continuous
						Learning</strong>. JOGL partners with academic labs, companies, startups, foundations, NGOs and public
					services to create <strong>participatory research programs</strong> for understanding and solving Health,
					Environmental, Social and Humanitarian issues.
					<br><br>Come <strong>challenge yourself</strong> by fostering humanity’s <strongs>open knowledge</strongs>
					and developing solutions to the <strong>Sustainable Development Goals</strong> (SDG's) defined by the United
					Nations!</p>
					<!-- <button class="beta"><a href="https://app.jogl.io" rel="noopener" target="_blank">Explore JOGL!</a></button> -->
					<div class="container buttons">
						<div class="row">
							<!-- <div class="col-12 col-sm-6 col-lg-4"><button class="beta"><i class="fa fa-link"></i><a
										href="https://app.jogl.io" rel="noopener" target="_blank">Explore JOGL!</a></button></div> -->
							<div class="col-12 col-sm-6"><a href="https://app.jogl.io" rel="noopener" target="_blank"><button class="beta">Explore JOGL</button></a></div>
							<div class="col-12 col-sm-6"><a href="#why"><button class="beta inverted">Learn more</button></a></div>
							<!-- <div class="col-12 col-sm-12 col-lg-4"><button class="events"><i class="fa fa-calendar"></i><a href="https://www.eventbrite.com/o/just-one-giant-lab-jogl-23221462294" target="_blank">Next events</a></button></div> -->
							<!-- <div class="col-12 col-sm-12 col-lg-4"><button class="events"><a
										href="https://app.jogl.io/program/opencovid19" rel="noopener" target="_blank">OpenCovid19 Initiative</a> -->
							<!-- <div class="col-12 col-sm-12 col-lg-4"><button id="eventbrite-trigger2">Register now</button></div> -->
							</div>
						</div>
					</div>
				</div>
				<div class="container buttons">
					<div class="row">
						<div class="col-12 col-sm-6"><button class="hide" id="open-popup1"></button></div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- Landing section -->

	
  <!-- <section id="launch">
		<div class="container">
			<div class="about-container">
				<div>
					<div class="section-header">
						<h3 class="section-title">JOGL 1st Anniversary!</h3>
					</div>
					<div class="container main row">
						<div class="col-12 launch_img">
							<p>Celebrate 1 year of open science on JOGL with us by tuning in on Wednesday July 8th at 4pm UTC/6 pm CET/12 pm EDT.</p>
							<img width="100%" src="assets/imgs/jogl-anniversary.png" alt="jogl 1st anniversary"/></img>
						</div>
						<div class="col-12 col-sm-12"><button id="eventbrite-trigger2">Register now</button></div>
					</div>
				</div>
			</div>
		</div>
	</section> -->


	<section id="why">
		<!-- Ambition section -->
		<div class="container">
			<div class="about-container">
				<div>
					<div class="section-header">
						<h3 class="section-title">Why we decided to create JOGL</h3>
					</div>
					<div class="main">
						<p><span role="image" aria-label="Chart Increasing">📈</span> By making the process of contributing to
							solving important challenges accessible and valorizing for anyone, we want to multiply the number of
							contributors by 10 (from 5 millions to 50 millions) in 10 years, while making all produced knowledge,
							tools and methodologies universally open for use and adaptation.</p>
						<p><span role="image" aria-label="Person Shrugging">🤷</span> Humanity has way too many problems to fix to
							solely rely on traditional institutions. We want to offer anyone the opportunity to challenge themselves
							by launching or contributing to collaborative initiatives focused on some of humanity’s most urgent and
							important problems.</p>
						<p><span role="image" aria-label="Exploding Head">🤯</span> Solving the platform stage. Most often,
							communities and initiatives that need to scale look at creating their own platform. Most fail because it
							is really hard. We want you to focus on scaling your actions, not changing jobs.</p>
						<p><span role="image" aria-label="Handshake">🤝</span> Most of the problems on this planet cannot be solved
							using traditional business models as most people cannot pay for research and innovation to create
							solutions. We don’t lack skills, resources and creativity, just of an efficient way to connect them.</p>
						<p><span role="image" aria-label="Raising Hands">🙌</span> JOGL is a not-for-profit organization based in
							Paris, France. We decided to adopt this model of development because we want to make sure that the value
							created by all the collaborative actions taken by you on JOGL is entirely re-invested within JOGL and
							shared with the whole JOGL community.</p>
					</div>
				</div>
			</div>
		</div>
	</section><!-- Ambition section -->

	<!--==========================
        Platform Section
  ============================-->
	<section id="platform">
		<div class="container wow fadeIn">
			<div class="section-header">
				<h3 class="section-title">The platform</h3>
			</div>
			<p class="text">The <a href="https://app.jogl.io/" target="_blank" rel="noopener">JOGL platform</a> will enable
				you to:</p>
			<div class="row">
				<div class="col-lg-4 col-md-6 box">
					<h4>Exist</h4>
					<p>Make your actions and needs visible and connect to inspiring fellows, communities, projects, and
						organizations.</p>
				</div>
				<div class="col-lg-4 col-md-6 box">
					<h4>Engage</h4>
					<p>Find opportunities to challenge yourselves and learn on the way.</p>
				</div>
				<div class="col-lg-4 col-md-6 box">
					<h4>Share</h4>
					<p>Provide resources and opportunities as an Enabler.<br>Provide time and experience as a Contributor/Leader.
					</p>
				</div>
				<div class="col-lg-4 col-md-6 box">
					<h4>Learn/Teach</h4>
					<p>Test your skills and find mentors or become one by proposing learning experiences.</p>
				</div>
				<div class="col-lg-4 col-md-6 box">
					<h4>Collaborate</h4>
					<p>Create/Join teams and contribute to cracking challenges.</p>
				</div>
				<div class="col-lg-4 col-md-6 box">
					<h4>Publish</h4>
					<p>Document your work and share new advances and needs openly.</p>
				</div>
				<div class="col-lg-4 col-md-6 box">
					<h4>Search</h4>
					<p>Identify the right collaborators, projects and opportunities.</p>
				</div>
				<div class="col-lg-4 col-md-6 box">
					<h4>Navigate</h4>
					<p>Visualize the collaborative structure and goals of communities, teams, organizations and projects.</p>
				</div>
				<div class="col-lg-4 col-md-6 box">
					<h4>Valorize</h4>
					<p>Get awarded for your contributions. JOGL will also share the stories of successful initiatives and
						collaborations</p>
				</div>
			</div>
		</div>
	</section><!-- #Platform-->

	<section id="whitepaper">
		<!-- #How Section -->
		<div class="container wow fadeInUp">
			<div class="section-header">
				<h3 class="section-title">White Paper</h3>
			</div>
			<a href="assets/pdfs/JOGL-white-paper.pdf" class="white-paper-dl" download><button><i
						class="fa fa-download"></i>Download our white paper</button></a>
		</div>
	</section>

	<section id="roles">
		<!-- #Roles Section -->
		<div class="container wow fadeInUp">
			<div class="section-header">
				<h3 class="section-title">Roles</h3>
			</div>
			<p class="main">Our experience working with communities and distributed projects has given us the understanding of
				the key role of “Trust” to make collaborations fruitful. In order to establish a trustful relationship between
				contributors who don’t necessarily know each other, we will introduce roles within JOGL that will state a set of
				responsibilities for each of them. Succeeding in facing those responsibilities will make you more trustworthy
				within your community and the global JOGL community. Failing them can however have the opposite effect.</p>
			<p class="text">There are <strong>three roles</strong> available for now in JOGL</p>

			<div class="row">
				<div class="col-lg-4 col-md-6 box">
					<h4>Leader</h4>
					<p><strong>Who</strong>: Any (group of) legitimate person who wish to develop their initiative openly and
						collaboratively.</p>
					<p><strong>Why</strong>: Your team lacks specific skills. You need volunteers for your project. You wish to
						document your advances and results openly.</p>
					<p><strong>What</strong>: Experiment new ideas and animate a team of contributors.</p>
				</div>
				<div class="col-lg-4 col-md-6 box">
					<h4>Contributor</h4>
					<p><strong>Who</strong>: Any individual (professionals, students, amateurs and citizens) who wishes to
						challenge themselves by providing time, creativity and experience to a project on JOGL. </p>
					<p><strong>Why</strong>: Join a network of solvers. Be part of the solution. Learn on the way.</p>
					<p><strong>What</strong>: Find opportunities to help and commit yourself to impactful initiatives. Get
						feedbacks on your contributions.</p>
				</div>
				<div class="col-lg-4 col-md-6 box">
					<h4>Enabler</h4>
					<p><strong>Who</strong>: Any organizations such as companies, foundations, NGOs, public institutions,
						startups.</p>
					<p><strong>Why</strong>: Make your current network and actions visible and grow beyond them by providing new
						types of open opportunities.</p>
					<p><strong>What</strong>: Create/Assist initiatives on JOGL by providing resources, mentorship and
						opportunities.</p>
				</div>
			</div>
		</div>
	</section><!-- #How -->

	<!--==========================
        Mission Section
  ============================-->
	<section id="mission">
		<div class="container wow fadeIn">
			<div class="section-header">
				<h3 class="section-title">Missions</h3>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 box wow fadeInUp" data-wow-delay="0.2s">
					<h4>Open knowledge</h4>
					<p>Help the creation of open knowledge, tools and methodologies to understand and solve our most important and
						urgent problems.</p>
				</div>
				<div class="col-lg-4 col-md-6 box wow fadeInUp" data-wow-delay="0.4s">
					<h4>Collaboration</h4>
					<p>Sync humanity for long-term impact through collaboration to achieve the 17 sustainable development goals of
						the United Nations.</p>
				</div>
				<div class="col-lg-4 col-md-6 box wow fadeInUp" data-wow-delay="0.6s">
					<h4>Beyond Academia</h4>
					<p>Go beyond the traditional academic and corporate frameworks to improve research and collaboration.</p>
				</div>
				<div class="col-lg-4 col-md-6 box wow fadeInUp" data-wow-delay="0.2s">
					<h4>Provide legitimacy</h4>
					<p>Provide legitimacy and opportunities to leaders and contributors around the world.</p>
				</div>
				<div class="col-lg-4 col-md-6 box wow fadeInUp" data-wow-delay="0.4s">
					<h4>Experiment</h4>
					<p>Offer a public window to the world of inventors and doers, their passion, their struggling and their
						achievement.</p>
				</div>
				<div class="col-lg-4 col-md-6 box wow fadeInUp" data-wow-delay="0.6s">
					<h4>Solving together</h4>
					<p>Give contributors direct access to the doers of the world and make research and innovation more inclusive,
						accessible and responsible.</p>
				</div>
				<div class="col-lg-4 col-md-6 box wow fadeInUp" data-wow-delay="0.2s">
					<h4>Learning together</h4>
					<p>Encourage challenge-based learning and offer an open evaluation framework for learners.</p>
				</div>
				<div class="col-lg-4 col-md-6 box wow fadeInUp" data-wow-delay="0.4s">
					<h4>Safe space</h4>
					<p>Provide a safe and inclusive space for anyone to join and contribute to, with ideas and approaches that can
						be bold and counterintuitive.</p>
				</div>
				<div class="col-lg-4 col-md-6 box wow fadeInUp" data-wow-delay="0.6s">
					<h4>Transparency</h4>
					<p>Foster reproducibility through open access to data, context, methodologies, results and final publications.
					</p>
				</div>
			</div>
		</div>
	</section><!-- #mission-->


	<section id="partners">
		<!-- Partners -->
		<div class="container wow fadeInUp">
			<div class="section-header">
				<h3 class="section-title">Core partners</h3>
			</div>
			<div class="partners slider">
				<div class="slide"><a href="https://www.axa-research.org/en" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/axa-research-fund.png" alt="axa research fund JOGL" /></a></div>
				<div class="slide"><a href="https://cri-paris.org/" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/cri.png" alt="CRI JOGL" /></a></div>
				<div class="slide"><a href="https://igem.org/Main_Page" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/Igem_icon.svg" alt="iGem X JOGL" /></a></div>
				<div class="slide"><a href="https://www.nesta.org.uk/" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/nesta-logo.jpg" alt="Nesta JOGL" /></a></div>
				<div class="slide"><a href="https://covid3d.org/" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/aphp-logo.jpg" alt="APHP JOGL" /></a></div>
				<div class="slide"><a href="https://www.afd.fr/fr" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/afd-jogl.png" alt="AFD" /></a></div>
				<div class="slide"><a href="https://www.fondation-vinci.com/fondation/fr/page/index.htm" target="_blank" rel="noopener"><img
					src="assets/imgs/sponsors/logo_fondation_vinci.png" alt="Fondation vinci JOGL" /></a></div>
				<div class="slide"><a href="https://www.sanofi.com/" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/Sanofi.png" alt="Sanofi" /></a></div>
				<div class="slide"><a href="https://share-it.io/" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/share-it.png" alt="Share-it JOGL" /></a></div>

			</div>
			<div class="partnersFull sponsors">
				<a href="https://www.axa-research.org/en" target="_blank" rel="noopener"><img
						src="assets/imgs/sponsors/axa-research-fund.png" alt="axa research fund JOGL" /></a>
				<a href="https://cri-paris.org/" target="_blank" rel="noopener"><img src="assets/imgs/sponsors/cri.png"
						alt="CRI JOGL" /></a>
				<a href="https://igem.org/Main_Page" target="_blank" rel="noopener"><img
					src="assets/imgs/sponsors/Igem_icon.svg" alt="iGem X JOGL" /></a>
				<a href="https://www.nesta.org.uk/" target="_blank" rel="noopener"><img
						src="assets/imgs/sponsors/nesta-logo.jpg" alt="Nesta JOGL" /></a>
				<a href="https://covid3d.org/" target="_blank" rel="noopener"><img src="assets/imgs/sponsors/aphp-logo.jpg"
						alt="APHP JOGL" /></a>
				<a href="https://www.afd.fr/fr" target="_blank" rel="noopener"><img src="assets/imgs/sponsors/afd-jogl.png"
						alt="AFD" /></a>
				<a href="https://www.fondation-vinci.com/fondation/fr/page/index.htm" target="_blank" rel="noopener"><img
          src="assets/imgs/sponsors/logo_fondation_vinci.png" alt="Fondation vinci JOGL" /></a>
				<a href="https://www.sanofi.com/" target="_blank" rel="noopener"><img src="assets/imgs/sponsors/Sanofi.png"
						alt="Sanofi" /></a>
				<a href="https://share-it.io/" target="_blank" rel="noopener"><img src="assets/imgs/sponsors/share-it.png"
						alt="Share-it JOGL" /></a>
			</div>
		</div>
	</section>

	<section id="helpusbuild">
    <!-- Other Partners -->
		<div class="container wow fadeInUp">
			<div class="section-header">
				<h3 class="section-title">They help us build JOGL</h3>
			</div>
			<div class="partners slider">
				<!-- <div class="slide"><a href="https://group.bnpparibas/en" target="_blank" rel="noopener"><img
					src="assets/imgs/sponsors/bnp.png" alt="Bnp Paribas JOGL" /></a></div> -->
				<!-- <div class="slide"><a href="https://www.microsoft.com/en-us/" target="_blank" rel="noopener">
					<img src="assets/imgs/sponsors/microsoft.png" alt="Microsoft X JOGL" />
				</a></div> -->
				<div class="slide"><a href="https://africavsvirus.com/" target="_blank" rel="noopener"><img
					src="assets/imgs/sponsors/africa_virus_challenge.svg" alt="Africa vs Virus Challenge -  JOGL" /></a></div>
				<div class="slide"><a href="https://makesense.org/en" target="_blank" rel="noopener"><img
					src="assets/imgs/sponsors/makesense-logo.svg" alt="Makesense JOGL" /></a></div>
				<div class="slide"><a href="https://www.openhumans.org/" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/open-humans-logo.png" alt="Open humans JOGL" /></a></div>
				<div class="slide"><a href="https://www.opensourcepharma.net/" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/opensource-pharma.jpeg" alt="Open Source Pharma JOGL" /></a></div>
				<div class="slide"><a href="https://www.media.mit.edu/groups/community-bio/overview/" target="_blank"
						rel="noopener"><img src="assets/imgs/sponsors/Community Biotechnology.png" alt="Community Bio Initiative - MIT MediaLab" /></a></div>	
				<div class="slide"><a href="https://foundersfuture.com/" target="_blank" rel="noopener">
					<img src="assets/imgs/sponsors/founders-future.png" alt="Founders Future X JOGL" />
				</a></div>
				<div class="slide"><a href="https://jedi.group/" target="_blank" rel="noopener">
					<img src="assets/imgs/sponsors/logo-jedi.png" alt="Jedi X JOGL" />
				</a></div>
				<div class="slide"><a href="https://sound.bio/" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/soundbio-lab-logo.png" alt="Sound Bio Lab - JOGL" /></a></div>
				<div class="slide"><a href="https://www.hackfromhome.com/" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/hack_from_home_covid19.png" alt="HackFromHome Covid19 JOGL" /></a></div>
				<div class="slide"><a href="https://correlaid.org/en/correlaid-x/" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/correlaid.jpg" alt="correlaid JOGL" /></a></div>
				<div class="slide"><a href="http://wildcodeschool.fr/paris/" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/Wild-code-school.png" alt="Wild Code School Paris - JOGL" /></a></div>
				<div class="slide"><a href="https://dataforgood.fr/" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/dataforgood.png" alt="Data for good - JOGL" /></a></div>
				<div class="slide"><a href="https://www.s3odeon.fr/" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/S3ODEON.png" alt="S3ODEON JOGL" /></a></div>
				<div class="slide"><a href="https://www.excelya.com/en/" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/Excelya.png" alt="Excelya JOGL" /></a></div>
				<div class="slide"><a href="https://paris.girlsintech.org/" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/Girls_in_tech_paris.png" alt="Girls in tech Paris JOGL" /></a></div>
				<div class="slide"><a href="https://www.epitech.eu/" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/logo-epitech.jpg" alt="Epitech JOGL" /></a></div>
				<div class="slide"><a href="http://www.tuba-lyon.com/" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/tuba-lyon.png" alt="Tuba JOGL" /></a></div>
				<div class="slide"><a href="https://www.supbiotech.fr/" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/LOGO-SUPBIOTECH.jpg" alt="SUPBIOTECH JOGL" /></a></div>
				<div class="slide"><a href="https://www.kapcode.fr/" target="_blank" rel="noopener"><img
							src="assets/imgs/sponsors/kapcode.png" alt="kapcode JOGL" /></a></div>
			</div>
			<div class="partnersFull sponsors">
				<!-- <a href="https://group.bnpparibas/en" target="_blank" rel="noopener"><img
						src="assets/imgs/sponsors/bnp.png" alt="Bnp Paribas JOGL" /></a> -->
				<!-- <a href="https://www.microsoft.com/en-us/" target="_blank" rel="noopener"><img
						src="assets/imgs/sponsors/microsoft.png" alt="Microsoft X JOGL" /></a> -->
				<a href="https://africavsvirus.com/" target="_blank" rel="noopener"><img
						src="assets/imgs/sponsors/africa_virus_challenge.svg" alt="Africa vs Virus Challenge -  JOGL" /></a>
				<a href="https://makesense.org/en" target="_blank" rel="noopener"><img
						src="assets/imgs/sponsors/makesense-logo.svg" alt="Makesense JOGL" /></a>
				<a href="https://www.openhumans.org/" target="_blank" rel="noopener"><img
						src="assets/imgs/sponsors/open-humans-logo.png" alt="Open humans JOGL" /></a>
				<a href="https://www.opensourcepharma.net/" target="_blank" rel="noopener"><img
						src="assets/imgs/sponsors/opensource-pharma.jpeg" alt="Open Source Pharma JOGL" /></a>
				<a href="https://www.media.mit.edu/groups/community-bio/overview/" target="_blank" rel="noopener"><img
						src="assets/imgs/sponsors/Community Biotechnology.png" alt="Community Bio Initiative - MIT MediaLab" /></a>
				<a href="https://foundersfuture.com/" target="_blank" rel="noopener"><img
						src="assets/imgs/sponsors/founders-future.png" alt="Founders Future X JOGL" /></a>
				<a href="https://jedi.group/" target="_blank" rel="noopener"><img
						src="assets/imgs/sponsors/logo-jedi.png" alt="Jedi X JOGL" /></a>
				<a href="https://sound.bio/" target="_blank" rel="noopener"><img
						src="assets/imgs/sponsors/soundbio-lab-logo.png" alt="Sound Bio Lab - JOGL" /></a>
				<a href="https://www.hackfromhome.com/" target="_blank" rel="noopener"><img
						src="assets/imgs/sponsors/hack_from_home_covid19.png" alt="HackFromHome Covid19 JOGL" /></a>
				<a href="https://correlaid.org/en/correlaid-x/" target="_blank" rel="noopener"><img
						src="assets/imgs/sponsors/correlaid.jpg" alt="correlaid JOGL" /></a>
				<a href="http://wildcodeschool.fr/paris/" target="_blank" rel="noopener"><img
						src="assets/imgs/sponsors/Wild-code-school.png" alt="Wild Code School Paris - JOGL" /></a>
				<a href="https://dataforgood.fr/" target="_blank" rel="noopener"><img src="assets/imgs/sponsors/dataforgood.png"
						alt="Data for good - JOGL" /></a>
				<a href="https://www.s3odeon.fr/" target="_blank" rel="noopener"><img src="assets/imgs/sponsors/S3ODEON.png"
						alt="S3ODEON JOGL" /></a>
				<a href="https://www.excelya.com/en/" target="_blank" rel="noopener"><img src="assets/imgs/sponsors/Excelya.png"
						alt="Excelya JOGL" /></a>
				<a href="https://paris.girlsintech.org/" target="_blank" rel="noopener"><img
						src="assets/imgs/sponsors/Girls_in_tech_paris.png" alt="Girls in tech Paris JOGL" /></a>
				<a href="https://www.epitech.eu/fr/" target="_blank" rel="noopener"><img
						src="assets/imgs/sponsors/logo-epitech.jpg" alt="Epitech JOGL" /></a>
				<a href="http://www.tuba-lyon.com/" target="_blank" rel="noopener"><img src="assets/imgs/sponsors/tuba-lyon.png"
						alt="Tuba JOGL" /></a>
				<a href="https://www.supbiotech.fr/" target="_blank" rel="noopener"><img
						src="assets/imgs/sponsors/LOGO-SUPBIOTECH.jpg" alt="SUPBIOTECH JOGL" /></a>
				<a href="https://www.kapcode.fr/" target="_blank" rel="noopener"><img src="assets/imgs/sponsors/kapcode.png"
						alt="kapcode JOGL" /></a>
			</div>
		</div>
	</section><!-- Secondary Partners -->

	<section>
		<!-- Talk about us -->
		<div class="container wow fadeInUp">
			<div class="section-header">
				<h3 class="section-title">They talk about us</h3>
			</div>
			<div class="partners slider">
				<div class="slide"><a
						href="https://www.theguardian.com/world/2020/mar/18/biohacking-online-forums-coronavirus-vaccines-testing"
						target="_blank" rel="noopener"><img src="assets/imgs/sponsors/the_guardian_logo.png"
							alt="The Guardian JOGL" /></a></div>
				<div class="slide">
					<a href="https://www.facebook.com/watch/?v=668823486993077"
					target="_blank" rel="noopener"><img src="assets/imgs/sponsors/konbini-logo.png"
						alt="Konbini JOGL" /></a>
					<!-- <div id="playme" onclick="revealVideo('video','facebook')"><img src="../assets/imgs/sponsors/konbini-logo.png"
							alt="Konbini JOGL" /></div> -->
				</div>
				<div class="slide"><a
						href="https://theconversation.com/coronavirus-seven-ways-collective-intelligence-is-tackling-the-pandemic-133553"
						target="_blank" rel="noopener"><img src="assets/imgs/sponsors/theconversationlogo.jpg"
							alt="The Conversation JOGL" /></a></div>
				<div class="slide"><a
						href="https://www.lemonde.fr/sciences/article/2020/03/24/coronavirus-comment-la-communaute-scientifique-se-mobilise_6034171_1650684.html"
						target="_blank" rel="noopener"><img src="assets/imgs/sponsors/lemonde.svg" alt="Le monde JOGL" /></a>
				</div>
				<div class="slide"><a
						href="https://www.20minutes.fr/arts-stars/web/2747287-20200324-coronavirus-aidez-aider-makers-prets-fabriquer-masques-impression-3d"
						target="_blank" rel="noopener"><img src="assets/imgs/sponsors/20minutes.png" alt="20 minutes JOGL" /></a>
				</div>
				<div class="slide"><a href="https://www.lesechos.fr/weekend/perso/lintelligence-collective-arme-anti-covid-1268773"
						target="_blank" rel="noopener"><img src="assets/imgs/sponsors/Les_echos.png" alt="Les echos JOGL" /></a>
				</div>
				<div class="slide"><a
						href="http://www.slate.fr/story/189381/coronavirus-covid-19-pandemie-science-recherche-intelligence-collective-plateforme-collaborative-open-source"
						target="_blank" rel="noopener"><img src="assets/imgs/sponsors/slate-logo.svg" alt="Slate JOGL" /></a>
				</div>
				<div class="slide"><a
						href="https://www.sciencesetavenir.fr/decouvrir/covid-19-les-sciences-participatives-pour-epauler-les-structures-officielles_143398"
						target="_blank" rel="noopener"><img src="assets/imgs/sponsors/sciences_et_avenir.svg" alt="Sciences et avenir JOGL" /></a>
				</div>
				<div class="slide"><a
						href="https://www.mediapart.fr/journal/international/110320/la-science-collaborative-l-assaut-du-coronavirus"
						target="_blank" rel="noopener"><img src="assets/imgs/sponsors/mediapart-logo.png"
							alt="Mediapart JOGL" /></a></div>
				<div class="slide"><a href="https://hackaday.com/2020/03/10/open-source-collaboration-tackles-covid-19-testing/"
						target="_blank" rel="noopener"><img src="assets/imgs/sponsors/hackaday-logo.png" alt="Hackaday JOGL" /></a>
				</div>
				<div class="slide"><a
						href="https://www.grandlabo.com/just-one-giant-lab-plateforme-recherche-participative-mondiale-pour-sauver-le-monde/"
						target="_blank" rel="noopener"><img
							src="https://www.grandlabo.com/content/images/2019/05/grandlabo-favicon.png" alt="Grand Labo" /></a></div>
				<div class="slide"><a
						href="https://engage.world/mag/thomas-landrain-developper-une-alternative-au-modele-academique-de-la-recherche"
						target="_blank" rel="noopener"><img src="assets/imgs/sponsors/engage.png" alt="Engage.world" /></a></div>
				<div class="slide">
					<div id="playme" onclick="revealVideo('video2','youtube')"><img src="assets/imgs/sponsors/share-it.png"
							alt="Share-it JOGL" /></div>
				</div>
			</div>
			<div class="mediasFull media">
				<a href="https://www.theguardian.com/world/2020/mar/18/biohacking-online-forums-coronavirus-vaccines-testing"
					target="_blank" rel="noopener"><img src="assets/imgs/sponsors/the_guardian_logo.png"
						alt="The Guardian JOGL" /></a>
				<a href="https://www.facebook.com/watch/?v=668823486993077"
					target="_blank" rel="noopener"><img src="assets/imgs/sponsors/konbini-logo.png"
						alt="Konbini JOGL" /></a>
				<!-- <div id="playme" onclick="revealVideo('video','facebook')"><img src="../assets/imgs/sponsors/konbini-logo.png"
						alt="Konbini JOGL" /></div> -->
				<a href="https://theconversation.com/coronavirus-seven-ways-collective-intelligence-is-tackling-the-pandemic-133553"
					target="_blank" rel="noopener"><img src="assets/imgs/sponsors/theconversationlogo.jpg"
						alt="The Conversation JOGL" /></a>
				<a href="https://www.lemonde.fr/sciences/article/2020/03/24/coronavirus-comment-la-communaute-scientifique-se-mobilise_6034171_1650684.html"
					target="_blank" rel="noopener"><img src="assets/imgs/sponsors/lemonde.svg" alt="Le monde JOGL" /></a>
				<a href="https://www.20minutes.fr/arts-stars/web/2747287-20200324-coronavirus-aidez-aider-makers-prets-fabriquer-masques-impression-3d"
					target="_blank" rel="noopener"><img src="assets/imgs/sponsors/20minutes.png" alt="20 minutes JOGL" /></a>
				<a href="https://www.lesechos.fr/weekend/perso/lintelligence-collective-arme-anti-covid-1268773"
					target="_blank" rel="noopener"><img src="assets/imgs/sponsors/Les_echos.png" alt="Les echos JOGL" /></a>
				<a href="http://www.slate.fr/story/189381/coronavirus-covid-19-pandemie-science-recherche-intelligence-collective-plateforme-collaborative-open-source"
					target="_blank" rel="noopener"><img src="assets/imgs/sponsors/slate-logo.svg" alt="Slate JOGL" /></a>
				<a href="https://www.sciencesetavenir.fr/decouvrir/covid-19-les-sciences-participatives-pour-epauler-les-structures-officielles_143398"
					target="_blank" rel="noopener"><img src="assets/imgs/sponsors/sciences_et_avenir.svg" alt="Sciences et Avenir JOGL" /></a>
				<a href="https://www.mediapart.fr/journal/international/110320/la-science-collaborative-l-assaut-du-coronavirus"
					target="_blank" rel="noopener"><img src="assets/imgs/sponsors/mediapart-logo.png" alt="Mediapart JOGL" /></a>
				<a href="https://hackaday.com/2020/03/10/open-source-collaboration-tackles-covid-19-testing/" target="_blank"
					rel="noopener"><img src="assets/imgs/sponsors/hackaday-logo.png" alt="Hackaday JOGL" /></a>
				<a href="https://www.grandlabo.com/just-one-giant-lab-plateforme-recherche-participative-mondiale-pour-sauver-le-monde/"
					target="_blank" rel="noopener"><img
						src="https://www.grandlabo.com/content/images/2019/05/grandlabo-favicon.png" alt="Grand Labo" /></a>
				<a href="https://engage.world/mag/thomas-landrain-developper-une-alternative-au-modele-academique-de-la-recherche"
					target="_blank" rel="noopener"><img src="assets/imgs/sponsors/engage.png" alt="Engage.world" /></a>
				<div id="playme" onclick="revealVideo('video2','youtube')"><img src="assets/imgs/sponsors/share-it.png"
						alt="Share-it JOGL" /></div>
			</div>
			<div id="video2" class="lightbox" onclick="hideVideo('video2','youtube')">
				<div class="lightbox-container">
					<div class="lightbox-content">
						<button onclick="hideVideo('video2','youtube')" class="lightbox-close">
							Close | ✕
						</button>
						<div class="video-container">
							<iframe id="youtube" width="960" height="540" src="https://www.youtube.com/embed/awQIw2Pk22U?showinfo=0"
								frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- Talk about us -->

	<!--==========================
           Team Section
  ============================-->
	<section id="team">
		<div class="container wow fadeInUp">
			<div class="section-header" style="position:relative">
				<h3 class="section-title team">Team</h3>
				<!-- <p>We got job opportunities! <a href="#jobs">Join the team!</a> 🙌</p> -->
				<p><a href="#jobs">Join the team!</a> 🙌</p>
			</div>
			<div class="row">

				<div class="popup2">
					<div class="popup2--content"></div>
					<div class="close-popup2"><i class="fa fa-times-circle"></i></div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="assets/imgs/team/Gameli-Adzaho.jpg" alt="Gameli Adzaho"></div>
					<div class="info">
						<h4>Gameli Adzaho</h4>
						<span>Program Manager</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/gamelmag/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="twitter.com/gamelmag" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
							<a href="https://app.jogl.io/user/6000/Gameli" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Gameli is an Environment and Human Health professional, researcher, educator, and community leader passionate about sustainable change through social innovation</li>
						<li>Has experience across public health, technology, education, and the civic sector in Ghana, and was a recent Research Fellow with the Weizenbaum Institute in Berlin, Germany.</li>
					</ul>
					<div class="about" id="about-0">About</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="assets/imgs/team/juliette-beaudet.jpg" alt="Juliette Beaudet"></div>
					<div class="info">
						<h4>Juliette Beaudet</h4>
						<span>Full Stack Web Developer Trainee</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/juliette-beaudet/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://github.com/juliettebeaudet" target="_blank" rel="noopener"><i class="fa fa-github"></i></a>
							<a href="https://app.jogl.io/user/6080" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Currently a full-stack software development student at Trybe school</li>
						<li>Social entrepreneur at heart, she acted as COO of the Brazilian music startup daleGig</li>
						<li>As a result of her Master in International Affairs at Sciences Po, has a background as a member of several French Consulates and Embassies (Spain, South Africa, Brazil)</li>
						<li>Passionate about Tech for Good and rock climbing</li>
					</ul>
					<div class="about" id="about-1">About</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="assets/imgs/team/team-leo-blondel.jpg" alt="leo blondel"></div>
					<div class="info">
						<h4>Leo Blondel</h4>
						<span>Co-Founder & CTO</span>
						<div class="social">
							<a href="https://xqua.gitlab.io/website/" target="_blank" rel="noopener"><i class="fa fa-globe"></i></a>
							<a href="https://www.linkedin.com/in/leo-blondel-963435202/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://twitter.com/XquaInTheMoon" target="_blank" rel="noopener"><i
									class="fa fa-twitter"></i></a>
							<a href="https://www.biorxiv.org/search/author1%3ALeo%2BBlondel" target="_blank" rel="noopener"><i
									class="fa fa-flask"></i></a>
							<a href="https://app.jogl.io/user/1" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>PhD student in Computational Biology, long experience in academia with a master at the Ecole Normale
							Superieure (ENS) ULM. Currently finishing his PhD at Harvard University on diverse topics around Evo-Devo
							of Arthropods.</li>
						<li>Expertise in Data Science and Machine Learning with a focus on sequence data and image analysis.</li>
						<li>Participates to interdisciplinary projects, recently with a collaboration with Marc Santolini on the
							extraction and analysis the iGEM competition.</li>
						<li>Helped the european union parliament on science policy surrounding green energy transition.</li>
						<li>Open Science and Open Source advocate through participation in multiple projects since childhood. Child
							of the cypherpunk hacker subculture.</li>
					</ul>
					<div class="about" id="about-2">About</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="assets/imgs/team/lucie-bouvier.jpeg" alt="Lucie Bouvier"></div>
					<div class="info">
						<h4>Lucie Bouvier</h4>
						<span>Junior UX/UI Designer</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/lucie-b-992b97142/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/6217/LucieBouvier" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Currently studying towards a Master’s degree “expert in digital communication engineering” from web school Hetic, specializing in UX/UI design.</li>
						<li>Passionate about the art, science and history. 👩🏻‍💻Creates interfaces and architecture for websites and applications that meet user needs, illustrations, augmented reality designs and more.</li>
						<li>Have worked in various web design roles for companies like Digiticks, Agence numérique and Laboratoire de la Banque de France.</li>
					</ul>
					<div class="about" id="about-3">About</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="assets/imgs/team/brad-fujimoto.jpg" alt="Brad Fujimoto"></div>
					<div class="info">
						<h4>Brad Fujimoto</h4>
						<span>Product owner</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/bradfujimoto" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/6669/BradFujimoto" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Completed his undergraduate studies at Princeton University and Sciences Po Paris, before obtaining his MBA from HEC Paris. Trained in Web Development at Le Wagon and Product Design at The Design Crew.</li>
						<li>Experience in strategic planning, retail, digital marketing, higher education and product management.</li>
						<li>Passionate about creating tech products that help make our world a better place.</li>
						<li>Fan of environmental awareness, health/well-being and minimalism.</li>
					</ul>
					<div class="about" id="about-4">About</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="assets/imgs/team/Christopher-Graham.jpg" alt="Christopher Graham"></div>
					<div class="info">
						<h4>Christopher LB Graham</h4>
						<span>Peer review Coordinator</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/chris-lb-graham-a71692a1" target="_blank"
								rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/101" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Chris is a PhD student from the University of Warwick, with a spécialisation in cell envelopes and antibiotics.</li>
						<li>In early 2020 he co-founded the COVID relief and open source engineering charity « Helpful Engineering » and helped create the first crowd sourced reviewing system</li>
						<li>He started his academic career early, with his first grant achieved during his undergraduate studies in 2016 and hopes to create a fairer and more inclusive academic world as a team member at JOGL using it’s progressive and open philosophy to give the theories and spending of science budgets back to the young.</li>
					</ul>
					<div class="about" id="about-5">About</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="assets/imgs/team/nathan-guillaumin.png" alt="Nathan Guillaumin"></div>
					<div class="info">
						<h4>Nathan Guillaumin</h4>
						<span>Front-end Developer Trainee</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/nathanguillaumin/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://github.com/nathanguillaumin" target="_blank" rel="noopener"><i class="fa fa-github"></i></a>
							<a href="https://app.jogl.io/user/6241" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Graduated with a Master's degree in business school and started working for large groups.</li>
						<li>Completed a 6-month intensive training to become a web developer.</li>
						<li>Learned React and Node, then followed a 6 month internship on the front-end part of a management software.</li>
					</ul>
					<div class="about" id="about-6">About</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="assets/imgs/team/team-luca-haenel.jpg" alt="luca haenel"></div>
					<div class="info">
						<h4>Luca Haenel</h4>
						<span>Lead Front-end Developer</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/luca-haenel/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/2" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Responsible for the website & platform development at JOGL.</li>
						<li>Graduated with a Master's degree "expert in digital communication engineering" from web school Hetic</li>
					</ul>
					<div class="about" id="about-7">About</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="assets/imgs/team/kat-holo.jpeg" alt="Kat Holo"></div>
					<div class="info">
						<h4>Kat Holo</h4>
						<span>Director of Operations</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/katherine-holo" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/653/katholo" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a> 
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Kat is a current Angier B. Duke Scholar pursuing degrees in Computer Science and Economics at Duke University (Durham, North Carolina)</li>
						<li>In March 2020, she co-organized the OpenCovid19 Initiative, JOGL’s largest program, which focuses on COVID-19 related solutions and research projects</li>
						<li>With 4+ years of experience in team leadership, project management, and NPO/business development, Kat is passionate about entrepreneurship and promoting open interdisciplinary learning</li>
					</ul>
					<div class="about" id="about-8">About</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="assets/imgs/team/max-katz.jpg" alt="Max Katz"></div>
					<div class="info">
						<h4>Max Katz</h4>
						<span>Communications and Social Media Strategist</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/maxfkatz" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/6650/max" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Actor, writer, and communications professional with an MA from Central Saint Martins and BA from McGill University</li>
						<li>Native New Yorker with cross-continental experience working with, listening to, learning from, and empowering guests, customers, migrants, and working families</li>
						<li>Most recently conducted research on digital labor rights and workplace surveillance with UK-based NGO Big Brother Watch</li>
						<li>Passionate about open-access and winning a world that is fair and free for all</li>
					</ul>
					<div class="about" id="about-9">About</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="assets/imgs/team/Isabelle_Lafont.jpg" alt="Isabelle Lafont"></div>
					<div class="info">
						<h4>Isabelle Lafont</h4>
						<span>Junior Ruby/Rails Backend-end Developer</span>
						<div class="social">
							<a href="https://github.com/Isalafont" target="_blank" rel="noopener"><i
									class="fa fa-github"></i></a>
							<a href="https://gitlab.com/Isalafont" target="_blank" rel="noopener"><i
									class="fa fa-gitlab"></i></a>
							<a href="https://twitter.com/isalafont" target="_blank" rel="noopener"><i
								class="fa fa-twitter"></i></a>
							<a href="https://app.jogl.io/user/5907/Isabellelafont" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a> 
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Full stack developer with a focus on Ruby on Rails engage in the open source and Woman In Rails / Ladies of Code Paris communities.</li>
						<li>With 15+ years experience as a camerawoman and assistant operator camera in event's and film industry. She used to work for "l'Academie Française des Arts et des Sciences" and TedX to multiple occasions and TEDx during that time.</li>
						<li>Passionate about web and technologies, she decides to switch career into web development in 2020 and to be engage in open source and welcoming communities in order to making the tech world more inclusive.</li>
					</ul>
					<div class="about" id="about-10">About</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="assets/imgs/team/team-thomas-landrain.jpg" alt="thomas landrain"></div>
					<div class="info">
						<h4>Thomas Landrain</h4>
						<span>Co-Founder & CEO</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/thomaslandrain/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://twitter.com/Tholand_" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
							<a href="https://app.jogl.io/user/3" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>One of the pioneers behind the DIYbio (Do-it-yourself Biology) and Open Science movements and
							communities. He founded in 2011 La Paillasse in Paris, the first French open lab who became one of the
							largest ones in the world. Helped hundreds of projects, impacted thousands of people worldwide.</li>
						<li>Bootstrapped synthetic biology in France as an academic researcher. He co-founded the first French iGEM
							team in 2007. He co-built the first dedicated research lab to synthetic biology in 2008 where he started
							his PhD. He published 9 peer-reviewed papers during that time.</li>
						<li>Decided to leave academia to focus entirely on building and experimenting with alternatives to a rusty
							academic system for the production of open knowledge and innovations, through La Paillasse first and now
							with JOGL.</li>
						<li>Co-Founded in 2015 the synthetic biology company PILI who is bringing the first sustainable alternative
							to petrochemistry for making dyes at industrial scale. PILI is now a 15 employees-strong R&D company and
							has raised more than $8M.</li>
						<li>He is a member of the French National Digital Council where he pilots the working group on ecological
							transition.</li>
						<li>Speaks worldwide on open research, DIYbio, collective intelligence and future of communities, science
							and innovation at gathering such as TEDx, Lift, OuiShareFest, MIT CommunityBio, CollaborAmerica Brazil,
							FoundersForum UK, MakerFaire Shenzhen and AfricaOSH.</li>
					</ul>
					<div class="about" id="about-11">About</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="assets/imgs/team/marianna-limas.png" alt="Marianna Limas"></div>
					<div class="info">
						<h4>Marianna Limas</h4>
						<span>Social Media Co-Manager</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/mnlimas/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://twitter.com/mnlimas" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
							<a href="https://app.jogl.io/user/150" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Marianna joined JOGL to communicate the latest news about the platform and its projects on social media.</li>
						<li>She is interested in the movement to advance open science, and initiatives that increase access to low-cost, open source scientific tools.</li>
						<li>She is also interested in the practice of communicating science-related topics to non-experts, the role of biology in mitigating the consequences of climate change, and initiatives that improve diversity and inclusion in STEM.</li>
					</ul>
					<div class="about" id="about-12">About</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="assets/imgs/team/team-gaell-mainguy.jpg" alt="gaell mainguy"></div>
					<div class="info">
						<h4>Gaëll Mainguy</h4>
						<span>Board Member</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/gaellmainguy/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Holds a doctorate in neurobiology and a degree from the Ecole Normale Supérieure.</li>
						<li>First worked in the world of research at INSERM and Veolia.</li>
						<li>Then coordinated several projects for NGOs and public and private organizations in neuroscience,
							collective intelligence, sustainable development and energy.</li>
						<li>In 2008, he founded S.A.P.I.E.E.N.S., an open access, multidisciplinary journal, which aims to encourage
							research in sustainable development and advance legislation in this area.</li>
						<li>Convinced that societal transformations and ecological awareness require a paradigm shift in education,
							he joined the Centre de Recherches Interdisciplinaires (CRI) in Paris in 2012, where he is now Director of
							Development and International Relations.</li>
					</ul>
					<div class="about" id="about-13">About</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="assets/imgs/team/team-camille-masselot.jpg" alt="camille masselot"></div>
					<div class="info">
						<h4>Camille Masselot</h4>
						<span>Program coordinator</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/camille-masselot-1b168060/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/8" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Passionate about research and health, believes in the power of collaboration to achieve long lasting
							changes in our society and reach the SDGs’ targets</li>
						<li>Holds a Master in Public Health, International Health (ISPED, Bordeaux) and a Bachelor in cellular and
							molecular Biology and physiology (Bordeaux University); Studied determinants of health, from the
							biological level to the political ones</li>
						<li>Contributed to the elaboration, implementation and coordination of interventional research projects and
							development projects across numerous sub-Saharan countries</li>
						<li>Collaborated alongside a wide range of public health actors such as ministries, research institutes
							(Inserm, IRD) and NGOs in France, Togo, Uganda, Mauritania, etc.</li>
						<li>Created a tool to assess the health center capacity to diagnose tuberculosis among children in 7
							countries mostly sub-saharian, within the Unitaid funded TB-Speed project, alongside with the Inserm,
							Makerere University-John Hopkins University research Center, Doctors Without Borders/Epicentre</li>
						<li>Actively fights to reduce health inequalities and to provide access to health and information to the
							most vulnerable ; through her engagement in AIDES and the Lower East Side Harm Reduction Center</li>
					</ul>
					<div class="about" id="about-14">About</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="assets/imgs/team/Paige-Perillat-Piratoine.jpg" alt="Paige Perillat-Piratoine"></div>
					<div class="info">
						<h4>Paige Perillat-Piratoine</h4>
						<span>Outreach Ambassador</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/paige-perillat-piratoine/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/5974" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Has a background in Geography & Urban Agriculture learning how to build systems in hydroponics & aquaponics, and how to apply those business models in an urban context. </li>
						<li>Before this, Paige was a project lead for a placemaking project in East London helping transform a derelict high street into a community powered pilot for the future of the neighborhood.</li>
						<li>Passionate about Biodesign - occasionally recording interviews with the bold experimentors in this field + co-organising monthly community meets for the biocommunity in Europe.</li>
					</ul>
					<div class="about" id="about-13">About</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="assets/imgs/team/team-marc-santolini.jpg" alt="Marc Santolini"></div>
					<div class="info">
						<h4>Marc Santolini</h4>
						<span>Co-Founder & CSO</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/marcsantolini/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://twitter.com/msantolini" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
							<a href="https://app.jogl.io/user/5" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
					<ul class="more-info truncate">
						<li>Team leader in network science at CRI Paris, visiting researcher at the Network Science Institute of
							Northeastern University and at Harvard Medical School (Boston)</li>
						<li>10+ years of experience in theoretical physics and network science in prestigious universities (ENS
							Paris, Princeton, Northeastern, Harvard), with applications to biological, medical, and social contexts
						</li>
						<li>Study the complex network effects underlying collaboration performance, in particular in Open Science
							contexts.</li>
						<li>Received in 2018 the Sage Bionetworks “Young Investigators Award” for his work on “Algorithms and the
							role of the individual”</li>
					</ul>
					<div class="about" id="about-16">About</div>
				</div>

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="assets/imgs/team/gilles-vaillon.jpeg" alt="Gilles Vaillon"></div>
					<div class="info">
	          <h4>Gilles Vaillon</h4>
	          <span>Administrative Assistant</span>
	          <div class="social">
	            <a href="https://www.linkedin.com/in/vaillon-gilles-7a63a529" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
          <ul class="more-info truncate">
            <!-- <li></li> -->
          </ul>
          <!-- <div class="about" id="about-12">About</div> -->
				</div>

			</div>
			<!-- <p class="alumnis">Alumnis</p>
			<div class="row">

				<div class="member col-lg-4 col-md-4 col-sm-6 col-6">
					<div class="pic"><img src="assets/imgs/team/team-marine-vouard.jpg" alt="marine vouard"></div>
					<div class="info">
						<h4>Marine Vouard</h4>
						<span>Administrative Head</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/marinevouard/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/22" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
				</div>

			</div> -->

			<div class="section-header">
				<h3 class="section-title">Collaborators</h3>
			</div>

			<div class="material-switch">
				<span>Past</span>
				<input id="collab-type" name="collaborator-switch" type="checkbox" checked />
				<label for="collab-type" class="label-default"></label>
				<span>Present</span>
			</div>

			<div class="row collab-past">

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/team-lola-casamitjana.jpg" alt="Lola Casamitjana"></div>
					<div class="info">
						<h4>Lola Casamitjana</h4>
						<span>Communication and community manager</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/lolacasamitjana/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://twitter.com/LolaCasamitjana" target="_blank" rel="noopener"><i
									class="fa fa-twitter"></i></a>
							<a href="http://www.lolacasamitjana.wix.com/home"><i class="fa fa-globe"></i></a>
							<a href="https://app.jogl.io/user/7" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/kori-roys.png" alt="Kori Roys"></div>
					<div class="info">
						<h4>Kori Roys</h4>
						<span>Senior Developer</span>
						<div class="social">
							<a href="https://twitter.com/koriroys" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
							<a href="http://koriroys.com/" target="_blank" rel="noopener"><i class="fa fa-globe"></i></a>
							<a href="https://app.jogl.io/user/3264" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/caroline-b-roys.png" alt="Caroline B. Roys"></div>
					<div class="info">
						<h4>Caroline B. Roys</h4>
						<span>Graphic Designer & Social Media Co-Manager</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/caroline-bourdeau-roys-69150b96/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://www.ektagone.com/" target="_blank" rel="noopener"><i class="fa fa-globe"></i></a>
							<a href="https://app.jogl.io/user/5178" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/kate-rushton.jpg" alt="Kate Rushton"></div>
					<div class="info">
						<h4>Kate Rushton</h4>
						<span>UX Designer</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/krusht/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/6001/katerushton" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/team-marine-vouard.jpg" alt="marine vouard"></div>
					<div class="info">
						<h4>Marine Vouard</h4>
						<span>Administrative Head</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/marinevouard/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/22" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/team-kojak-abdullazoda.png" alt="Kojak Abdullazoda"></div>
					<div class="info">
						<h4>Kojak Abdullazoda</h4>
						<span>Web Developer</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/khojiakbar-abdullazoda-2665ba3b/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://share-it.io" target="_blank" rel="noopener"><img
									src="assets/imgs/sponsors/share-it-small.png" class="share-it" alt="share-it" /></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/team-mariesarah-adenis.jpg" alt="Marie-Sarah Adenis"></div>
					<div class="info">
						<h4>Marie-Sarah Adenis</h4>
						<span>Designer</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/mariesarahadenis/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/team-shibu-anthony.jpg" alt="Shibu Anthony"></div>
					<div class="info">
						<h4>Shibu Anthony</h4>
						<span>Co-immune program volunteer</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/shibu-antony-18ba02a9/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/104" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/team-Antonin-Counillon.jpg" alt="Antonin Counillon"></div>
					<div class="info">
						<h4>Antonin Counillon</h4>
						<span>Head of mission, Co-immune program</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/antonin-counillon-1b50b4124" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/297" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/team-romain-delory.jpeg" alt="Romain Delory"></div>
					<div class="info">
						<h4>Romain Delory</h4>
						<span>Designer</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/romaindelory" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/33" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/team-Melanie-Heard.jpg" alt="Mélanie Heard"></div>
					<div class="info">
						<h4>Mélanie Heard</h4>
						<span>Co-immune program advisor</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/mélanie-heard-2baa9712a" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/262" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/team-katja-heuer.jpg" alt="Katja Heuer"></div>
					<div class="info">
						<h4>Katja Heuer</h4>
						<span>Data visualization</span>
						<div class="social">
							<a href="https://fr.linkedin.com/in/katja-heuer-49502132" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://twitter.com/katjaqheuer" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
							<a href="https://app.jogl.io/user/21" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/team-bodo-hoenen.jpg" alt="Bodo Hoenen"></div>
					<div class="info">
						<h4>Bodo Hoenen</h4>
						<span>Collaborator on educational module</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/bodohoenen/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/team-yizi-huang.jpg" alt="yizi huang"></div>
					<div class="info">
						<h4>Yizi Huang</h4>
						<span>Trainee in educational technologies</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/yizi-huang-ab728417a/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/team-clement-lebars.jpg" alt="Clément le bars"></div>
					<div class="info">
						<h4>Clément Le Bars</h4>
						<span>Web Developer</span>
						<div class="social">
							<a href="https://share-it.io" target="_blank" rel="noopener"><img
									src="assets/imgs/sponsors/share-it-small.png" class="share-it" alt="share-it" /></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/team-anna-listova.jpg" alt="Anna Listova"></div>
					<div class="info">
						<h4>Anna Listova</h4>
						<span>Trainee in educational technologies</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/annalistovaeng/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/4" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/team-Sachin-Mishra.jpg" alt="Sachin Mishra"></div>
					<div class="info">
						<h4>Sachin Mishra</h4>
						<span>Web Developer</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/fullstackdev-sachin-mishra/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/345/" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/team-nidhiben-patel.jpeg" alt="Nidhiben Patel"></div>
					<div class="info">
						<h4>Nidhiben Patel</h4>
						<span>Data advisor</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/patel-nidhi-b129a8133/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/294" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/ulysse-tallepied.jpeg" alt="Ulysse Tallepied"></div>
					<div class="info">
	          <h4>Ulysse Tallepied</h4>
	          <span>Front-end engineer</span>
	          <div class="social">
	            <a href="https://www.linkedin.com/in/ulysse-tallepied" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://twitter.com/Ulyssetallepied" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/team-louise-trely.jpg" alt="Louise Trely"></div>
					<div class="info">
						<h4>Louise Trely</h4>
						<span>Volunteer Communication Assistant</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/louise-trely-940a7a172/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://twitter.com/louisetrely" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>

			</div>

			<div class="row collab-present">

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/luis-arias.jpg" alt="Luis Arias"></div>
					<div class="info">
						<h4>Luis Arias</h4>
						<span>Engineering Volunteer</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/luisarias/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/257" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png" alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/team-bastian-greshake.jpeg" alt="Bastian Greshake Tzovaras"></div>
					<div class="info">
						<h4>Bastian Greshake Tzovaras</h4>
						<span>Community and platform development advisor</span>
						<div class="social">
							<a href="https://twitter.com/gedankenstuecke" target="_blank" rel="noopener"><i
									class="fa fa-twitter"></i></a>
							<a href="https://github.com/gedankenstuecke" target="_blank" rel="noopener"><i
									class="fa fa-github"></i></a>
							<a href="https://app.jogl.io/user/108" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/johanna-havemann.png" alt="Johanna Havemann"></div>
					<div class="info">
						<h4>Johanna Havemann</h4>
						<span>Program Operations Consultant</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/johavemann" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://twitter.com/johave" target="_blank" rel="noopener"><i
									class="fa fa-twitter"></i></a>
							<a href="https://access2perspectives.com" target="_blank" rel="noopener"><i
									class="fa fa-globe"></i></a>
							<a href="https://app.jogl.io/user/5016" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a> 
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/alix-mains.jpeg" alt="Alix Mains"></div>
					<div class="info">
						<h4>Alix Mains</h4>
						<span>Program Operations Consultant</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/alixmains/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/3808" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
									alt="jogl"></a>
							<a href="https://www.alixmains.com/" target="_blank" rel="noopener"><i class="fa fa-globe"></i></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/eliot-moll.png" alt="Eliot Moll"></div>
					<div class="info">
						<h4>Eliot Moll</h4>
						<span>Data Scientist</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/eliot-moll-6496ba84" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://github.com/Eliot-M" target="_blank" rel="noopener"><i class="fa fa-github"></i></a>
						</div>
					</div>
				</div>

				<div class="member col-lg-3 col-sm-4 col-6">
					<div class="pic"><img src="assets/imgs/team/janet-yu.jpg" alt="Janet Yu"></div>
					<div class="info">
						<h4>Janet Yu</h4>
						<span>Junior frontend developer volunteer</span>
						<div class="social">
							<a href="https://www.linkedin.com/in/janet-yu99/" target="_blank" rel="noopener"><i
									class="fa fa-linkedin"></i></a>
							<a href="https://app.jogl.io/user/5938/janyu998" target="_blank" rel="noopener"><img src="assets/imgs/logo-b-w.png"
								alt="jogl"></a>
						</div>
					</div>
				</div>

			</div>

		</div>
	</section><!-- #team -->

	<section id="jobs">
		<!-- Job opportunities -->
		<div class="container wow fadeInUp">
			<div class="section-header">
				<h3 class="section-title">Job opportunities</h3>
			</div>
			<div class="job-offer">
				<h4>Rails Backend Developer</h4>
				<p>Full-time</p>
        <!-- <p>Starting as soon as possible</p> -->
				<a href="/assets/pdfs/Backend-Developer-EN-JOGL.pdf" rel="noopener" target="_blank">See job offer</a>
      </div>
			<div class="job-offer">
				<h4>Program Coordinator, JOGL Africa (Freelance)</h4>
				<p>Full-time</p>
        <!-- <p>Starting as soon as possible</p> -->
				<a href="/assets/pdfs/JOGL_Africa_Job_Description_Program Coordinator.pdf" rel="noopener" target="_blank">See job offer</a>
      </div>
			<!-- <p class="main"><strong>There are currently no positions available.</strong><br>
			But no worries: we welcome <a href="mailto:jobs@jogl.io?subject=Spontaneous Application">spontaneous applications</a> wholeheartedly ❤️</p> -->
			<!-- <p class="main"><strong>Wish to work with us but no open position matching your skill set?</strong><br>
      No worries: we welcome <a href="mailto:jobs@jogl.io?subject=Spontaneous Application">spontaneous applications</a> wholeheartedly ❤️</p> -->
			<p class="main">We welcome <a href="mailto:jobs@jogl.io?subject=Spontaneous Application">spontaneous applications</a> wholeheartedly ❤️</p>
		</div>
	</section><!-- Job opportunities -->

	<!--==========================
          Contact Section
  ============================-->
	<section id="contact">

		<div class="container">
			<div class="contact-container">

				<div class="popup">
					<div class="popup--content">
						<h3>Subscribe to our newsletter</h3>
						<div class="form">
							<!-- <p>To know more, join our mailing list below. (No spam, we hate it too!)</p> -->
							<div id="mc_embed_signup">
								<form
									action="https://jogl.us17.list-manage.com/subscribe/post?u=ffefc0d7fb31cc92dbb27c0da&amp;id=130b6193e7"
									method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
									target="_blank"
									onsubmit="gtag('event', 'submit', {'event_category': 'form', 'event_label': 'newsletter' })"
									novalidate>
									<div id="mc_embed_signup_scroll">
										<div class="mc-field-group">
											<label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
											</label>
											<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
										</div>
										<div class="mc-field-group">
											<label for="mce-FNAME">First Name <span class="asterisk">*</span></label>
											<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
										</div>
										<div class="mc-field-group">
											<label for="mce-LNAME">Last Name <span class="asterisk">*</span></label>
											<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
										</div>
										<!-- <div class="mc-field-group input-group">
                      <strong>Optional </strong>
                      <ul><li><input type="checkbox" value="2" name="group[6931][2]" id="mce-group[6931]-6931-0"><label for="mce-group[6931]-6931-0">I wish to join the beta program</label></li></ul>
                    </div> -->
										<div id="mce-responses" class="clear">
											<div class="response" id="mce-error-response" style="display:none"></div>
											<div class="response" id="mce-success-response" style="display:none"></div>
										</div>
										<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
												name="b_ffefc0d7fb31cc92dbb27c0da_130b6193e7" tabindex="-1" value=""></div>
										<div class="clear"><input type="submit" value="Subscribe" name="subscribe"
												id="mc-embedded-subscribe" class="button"></div>
									</div>
								</form>
							</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>
						</div>
					</div>
					<div class="close-popup"><i class="fa fa-times-circle"></i></div>
				</div>

			</div>


		</div>
		<img class="team-pic" src="assets/imgs/rockstars.jpg" alt="team" />
	</section><!-- #contact -->

	<!-- OpenCovid19 modal -->
	<!-- <div class="modal hide fade" id="programModal" tabindex="-1" role="dialog" aria-labelledby="programModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="programModalLabel">Join the Open Covid19 initiative!</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<img src="assets/imgs/OpenCovid19-banner.png" alt="Open covid19 initiative JOGL" />
					<p>The goal of the OpenCovid19 initiative as a program is to collectively develop open-source and low-cost
						tools and methodologies that are safe and easy to use to fight the Covid19 Pandemic. Anyone can play a role!
					</p>
				</div>
				<div class="modal-footer">
					<a href="https://app.jogl.io/program/opencovid19" rel="noopener" target="_blank">
						<button type="button" class="btn btn-primary">Help now!</button>
					</a>
				</div>
			</div>
		</div>
	</div> -->
	 <!-- end OpenCovid19 modal -->

</main>