---
layout: french
baseurl: https://jogl.io
page_type: term
title: Informations légales - JOGL
metadesc: CGU, Mentions légales, Politiques de cookies et de Confidentialité
permalink: /terms-fr/
---
	
<main>
	<div class="container legal">

		<h1>Informations légales</h1>

		<h2>Conditions générales d'utilisation</h2>
		<h3>Sauvegardes </h3>
		<p>Nous ne sommes pas responsables du contenu résidant sur le site Web. En aucun cas, nous ne pourrons être tenus responsables de toute perte de Contenu. Il est de votre seule responsabilité de maintenir une sauvegarde appropriée de votre Contenu. Nonobstant ce qui précède, à certaines occasions et dans certaines circonstances, sans aucune obligation, nous pouvons être en mesure de restaurer tout ou partie de vos données qui ont été supprimées à une certaine date et heure lorsque nous pouvons avoir sauvegardé des données pour nos propres besoins. Nous ne garantissons pas que les données dont vous avez besoin seront disponibles.</p>
		<h3>Changements et amendements </h3>
		<p>Nous nous réservons le droit de modifier la présente convention ou ses politiques relatives au site Web ou aux services en tout temps, à compter de l'affichage d'une version à jour de la présente convention sur le site Web. Lorsque nous le ferons, nous réviserons la date de mise à jour au bas de cette page. Le fait de continuer à utiliser le site Web après de tels changements constituera votre consentement à de tels changements.</p>
		<h3>Acceptation de ces termes </h3>
		<p>Vous reconnaissez que vous avez lu le présent Contrat et que vous en acceptez tous les termes et conditions. En utilisant le site Web ou ses services, vous acceptez d'être lié par la présente convention. Si vous n'acceptez pas de respecter les termes de cet accord, vous n'êtes pas autorisé à utiliser ou à accéder au site Web et à ses services. </p>


		<h2 id="cookie-policy">Politique des cookies </h2>

		<p>Cette politique de cookies décrit ce que sont les cookies et comment l'Opérateur du site Web les utilise sur le <a target="_blank" rel="nofollow" href="https://jogl.io">jogl.io</a> site Web et tous ses produits ou services.</p>
		<p>Vous devriez lire cette politique afin de comprendre le type de témoins que nous utilisons, les renseignements que nous recueillons au moyen de témoins et la façon dont ces renseignements sont utilisés. Il décrit également les choix qui s'offrent à vous concernant l'acceptation ou le refus de l'utilisation des cookies.</p>
		<h3>Que sont les cookies ? </h3>
		<p>Les cookies sont de petits fichiers de données stockés dans des fichiers texte qui sont sauvegardés sur votre ordinateur ou d'autres appareils lorsque des sites Web sont chargés dans un navigateur. Ils sont largement utilisés pour se souvenir de vous et de vos préférences, soit pour une seule visite (par le biais d'un " cookie de session ") ou pour plusieurs visites répétées (en utilisant un " cookie persistant ").</p>
		<p>Les cookies de session sont des cookies temporaires qui sont utilisés au cours de votre visite sur le site Web et qui expirent lorsque vous fermez le navigateur Web.</p>
		<p>Les cookies persistants sont utilisés pour mémoriser vos préférences au sein de notre site Web et restent sur votre bureau ou votre appareil mobile même après avoir fermé votre navigateur ou redémarré votre ordinateur. Ils vous assurent une expérience cohérente et efficace lorsque vous visitez notre site Web ou utilisez nos services. </p>
		<p>Les cookies peuvent être mis en place par le site Web, ou par des tiers, tels que ceux qui servent le contenu ou fournissent des services de publicité ou d'analyse sur le site Web. Ces tiers peuvent vous reconnaître lorsque vous visitez notre site Web et également lorsque vous visitez certains autres sites Web.</p>
		<h3>Quel type de cookies utilisons-nous ? </h3>
		<h4>Cookies nécessaires</h4>
		<p>Les cookies nécessaires nous permettent de vous offrir la meilleure expérience possible lorsque vous accédez et naviguez sur notre site Web et utilisez ses fonctions. Par exemple, ces cookies nous permettent de reconnaître que vous avez créé un compte et que vous vous êtes connecté à ce compte pour accéder au contenu.</p>
		<h4>Fonctionnalité cookies</h4>
		<p>Les cookies de fonctionnalité nous permettent d'exploiter le Site Web et nos Services conformément aux choix que vous faites. Par exemple, nous reconnaîtrons votre nom d'utilisateur et nous nous souviendrons de la façon dont vous avez personnalisé le site Web et les services lors de visites futures.</p>
		<h4>Cookies analytiques </h4>
		<p>Ces cookies nous permettent, ainsi qu'à des services tiers, de collecter des données agrégées à des fins statistiques sur la façon dont nos visiteurs utilisent le site Web. Ces cookies ne contiennent pas d'informations personnelles telles que les noms et les adresses e-mail et sont utilisés pour nous aider à améliorer votre expérience utilisateur du site Web.</p>
		<h3>Quelles sont vos options de cookies ? </h3>
		<p>Si vous n'aimez pas l'idée des cookies ou de certains types de cookies, vous pouvez modifier les paramètres de votre navigateur pour supprimer les cookies qui ont déjà été configurés et pour refuser les nouveaux cookies. Pour en savoir plus sur la façon de procéder ou sur les cookies, visitez <a target="_blank" href="https://www.internetcookies.org">internetcookies.org</a></p>
		<h3>Changements et amendements </h3>
		<p>Nous nous réservons le droit de modifier cette Politique relative au Site Web ou aux Services à tout moment, à compter de l'affichage d'une version mise à jour de cette Politique sur le Site Web. Lorsque nous le ferons, nous réviserons la date de mise à jour au bas de cette page. Le fait de continuer à utiliser le site Web après de tels changements constituera votre consentement à de tels changements.</p>
		<h3>Acceptation de cette politique </h3>
		<p>Vous reconnaissez que vous avez lu la présente politique et que vous en acceptez tous les termes et conditions. En utilisant le site Web ou ses services, vous acceptez d'être lié par la présente politique. Si vous n'acceptez pas de respecter les termes de cette politique, vous n'êtes pas autorisé à utiliser ou à accéder au site Web et à ses services. </p>


		<h2>Politique de confidentialité </h2>

		<p>Cette politique de confidentialité décrit comment l'Opérateur du site Web recueille, protège et utilise les renseignements personnels identifiables que vous pouvez fournir sur le <a target="_blank" rel="nofollow" href="https ://Jogl.io">jogl.io</a> site Web et tous ses produits ou services. Il décrit également les choix qui s'offrent à vous en ce qui concerne l'utilisation que nous faisons de vos renseignements personnels et la façon dont vous pouvez accéder à ces renseignements et les mettre à jour. Cette politique ne s'applique pas aux pratiques des sociétés que nous ne possédons pas ou ne contrôlons pas, ou aux personnes que nous n'employons pas ou ne gérons pas.</p>
		<h3>Collecte de renseignements personnels </h3>
		<p>Nous recevons et conservons toute information que vous nous fournissez sciemment lorsque vous remplissez des formulaires en ligne sur le site Web.  Vous pouvez choisir de ne pas nous fournir certaines informations, mais il se peut que vous ne puissiez pas profiter de certaines fonctions du site Web. Les utilisateurs qui ne sont pas certains de la nature des informations obligatoires sont invités à nous contacter.</p>
		<h3>Collecte de renseignements non personnels </h3>
		<p>Lorsque vous visitez le site Web, nos serveurs enregistrent automatiquement les informations que votre navigateur envoie. Ces données peuvent inclure des informations telles que l'adresse IP de votre appareil, le type et la version de navigateur, le type et la version de système d'exploitation, les préférences linguistiques ou la page Web que vous avez visitée avant de venir sur notre site Web, les pages de notre site Web que vous visitez, le temps passé sur ces pages, les informations que vous recherchez sur notre site, les heures et dates de consultation et autres statistiques.</p>
		<h3>Utilisation et traitement des informations collectées </h3>
		<p>Toute information que nous recueillons auprès de vous peut être utilisée à des fins non personnelles. Les renseignements recueillis ne servent qu'à identifier des cas potentiels d'abus et à établir des statistiques sur l'utilisation du site Web. Ces informations statistiques ne sont pas autrement agrégées d'une manière qui permettrait d'identifier un utilisateur particulier du système.</p>
		<p>Nous pouvons traiter les renseignements personnels vous concernant si l'une des situations suivantes s'applique : (i) Vous avez donné leur consentement à une ou plusieurs fins précises. Notez qu'en vertu de certaines législations, nous pouvons être autorisés à traiter des informations jusqu'à ce que vous vous opposiez à un tel traitement (en vous désinscrivant), sans avoir à vous fier au consentement ou à toute autre des bases légales suivantes ci-dessous. Ceci ne s'applique toutefois pas lorsque le traitement des données personnelles est soumis à la législation européenne sur la protection des données ; (ii) la fourniture d'informations est nécessaire à l'exécution d'un contrat avec vous et/ou à toute obligation précontractuelle de votre part ; (ii) le traitement est nécessaire pour respecter une obligation légale à laquelle vous êtes soumis ; (iv) le traitement est lié à une tâche effectuée dans l'intérêt public ou dans l'exercice d'une autorité publique dont nous sommes investis ; (v) le traitement est nécessaire aux fins des intérêts légitimes que nous ou un tiers avons en vue de les défendre. Dans tous les cas, nous nous ferons un plaisir de clarifier la base juridique spécifique qui s'applique au traitement, et en particulier si la fourniture de données personnelles est une exigence légale ou contractuelle, ou une exigence nécessaire pour conclure un contrat.</p>
		<h3>Transfert et stockage de l'information </h3>
		<p>Selon votre localisation, les transferts de données peuvent impliquer le transfert et le stockage de vos informations dans un pays autre que le vôtre. Vous avez le droit d'en savoir plus sur la base juridique des transferts d'informations vers un pays extérieur à l'Union européenne ou à toute organisation internationale régie par le droit international public ou créée par deux ou plusieurs pays, tels que l'ONU, et sur les mesures de sécurité que nous prenons pour protéger vos informations. Si un tel transfert a lieu, vous pouvez en savoir plus en consultant les sections pertinentes de ce document ou en vous renseignant auprès de nous à l'aide des informations fournies dans la section contact.</p>
		<h3>Les droits des utilisateurs </h3>
		<p>Vous pouvez exercer certains droits concernant vos informations traitées par nous. En particulier, vous avez le droit de faire ce qui suit : (i) vous avez le droit de retirer votre consentement lorsque vous avez déjà donné votre consentement au traitement de vos renseignements personnels ; (ii) vous avez le droit de vous opposer au traitement de vos renseignements personnels si le traitement est effectué sur une base légale autre que le consentement ; (iii) vous avez le droit de savoir si des renseignements sont traités par nous, d'obtenir une divulgation concernant certains aspects du traitement et une copie des renseignements en cours de traitement ; (iv) vous avez le droit de vérifier l'exactitude des renseignements et de demander leur actualisation ou correction ; (v) vous avez le droit, dans certaines circonstances, de restreindre le traitement de vos renseignements, auquel cas nous ne les traiterons pas à d'autres fins que leur stockage ; (vi) vous avez le droit, dans certaines circonstances, d'obtenir de nous la suppression de vos renseignements personnels ; (vii) vous avez le droit de recevoir vos renseignements dans un format structuré, couramment utilisé et lisible par machine et, si cela est techniquement possible, de les faire transmettre sans obstacle à un autre contrôleur. Cette disposition est applicable à condition que vos informations soient traitées par des moyens automatisés et que le traitement soit basé sur votre consentement, sur un contrat dont vous faites partie ou sur des obligations précontractuelles de votre part.</p>
		<h3>Le droit de s'opposer au traitement </h3>
		<p>Lorsque des renseignements personnels sont traités dans l'intérêt public, dans l'exercice d'une autorité publique dont nous sommes investis ou aux fins des intérêts légitimes que nous poursuivons, vous pouvez vous opposer à un tel traitement en fournissant un motif lié à votre situation particulière pour justifier cette opposition. Vous devez savoir que, toutefois, si vos renseignements personnels sont traités à des fins de marketing direct, vous pouvez vous opposer à ce qu'ils soient traités en tout temps sans fournir de justification. Pour savoir si nous traitons des renseignements personnels à des fins de marketing direct, vous pouvez consulter les sections pertinentes du présent document.
		<h3>Comment exercer ces droits </h3>
		<p>Toute demande d'exercice des droits d'Utilisateur peut être adressée au Propriétaire par l'intermédiaire des coordonnées fournies dans ce document. Ces demandes peuvent être exercées gratuitement et seront traitées par le Propriétaire le plus tôt possible et toujours dans un délai d'un mois.</p>
		<h3>Vie privée des enfants</h3>
		<p>Nous ne recueillons pas sciemment de renseignements personnels auprès d'enfants de moins de 13 ans ; si vous avez moins de 13 ans, veuillez ne pas soumettre de renseignements personnels par l'entremise de notre site Web ou service. Nous encourageons les parents et les tuteurs légaux à surveiller l'utilisation d'Internet par leurs enfants et à contribuer à l'application de la présente politique en demandant à leurs enfants de ne jamais fournir de renseignements personnels sur notre site Web ou nos services sans leur permission. Si vous avez des raisons de croire qu'un enfant de moins de 13 ans nous a fourni des renseignements personnels par le biais de notre site Web ou de notre service, veuillez communiquer avec nous. Vous devez également être âgé d'au moins 16 ans pour consentir au traitement de vos données personnelles dans votre pays (dans certains pays, nous pouvons autoriser votre parent ou tuteur à le faire en votre nom).</p>
		<h3>Newsletters</h3>
		<p>Nous offrons des bulletins d'information électroniques auxquels vous pouvez vous abonner volontairement en tout temps. Vous pouvez choisir de ne plus recevoir notre bulletin d'information ou nos courriels marketing en suivant les instructions de désabonnement incluses dans ces courriels ou en nous contactant.</p>
		<h3>Cookies </h3>
		<p>Le site Web utilise des &quot;cookies&quot ; pour vous aider à personnaliser votre expérience en ligne. Un cookie est un fichier texte placé sur votre disque dur par un serveur de pages Web. Les cookies ne peuvent pas être utilisés pour exécuter des programmes ou transmettre des virus à votre ordinateur. Les cookies vous sont attribués de manière unique et ne peuvent être lus que par un serveur Web du domaine qui vous a envoyé le cookie. Nous pouvons utiliser les cookies pour collecter, stocker et suivre des informations à des fins statistiques afin d'exploiter notre site Web et nos services. Vous avez la possibilité d'accepter ou de refuser les cookies. La plupart des navigateurs Web acceptent automatiquement les cookies, mais vous pouvez généralement modifier les paramètres de votre navigateur pour refuser les cookies si vous préférez. Pour en savoir plus sur les cookies et leur gestion, visitez <a target="_blank" href="https://www.internetcookies.org">internetcookies.org</a>
		<h3>Do Not Track</h3>
		<p>Certains navigateurs intègrent une fonction Ne pas suivre qui signale aux sites Web que vous visitez que vous ne voulez pas que votre activité en ligne soit suivie. Le suivi n'est pas la même chose que l'utilisation ou la collecte d'informations dans le cadre d'un site Web. À ces fins, le suivi consiste à recueillir des renseignements personnels identifiables auprès des consommateurs qui utilisent ou visitent un site Web ou un service en ligne au fur et à mesure qu'ils naviguent sur différents sites Web. La façon dont les navigateurs communiquent le signal Ne pas suivre n'est pas encore uniforme. Par conséquent, ce site Web n'est pas encore configuré pour interpréter ou répondre aux signaux d'interdiction de suivi communiqués par votre navigateur. Néanmoins, tel que décrit plus en détail tout au long de cette politique, nous limitons l'utilisation et la collecte de vos renseignements personnels.</p>
		<h3>Sécurité de l'information </h3>
		<p>Nous sécurisons les informations que vous fournissez sur des serveurs informatiques dans un environnement contrôlé et sécurisé, protégé contre tout accès, utilisation ou divulgation non autorisé. Nous maintenons des mesures de protection administratives, techniques et physiques raisonnables afin de protéger les renseignements personnels sous notre contrôle et notre garde contre tout accès, utilisation, modification et divulgation non autorisés. Toutefois, aucune transmission de données par Internet ou par réseau sans fil ne peut être garantie. Par conséquent, bien que nous nous efforcions de protéger vos renseignements personnels, vous reconnaissez que (i) il existe des limites de sécurité et de confidentialité de l'Internet qui échappent à notre contrôle ; (ii) la sécurité, l'intégrité et la confidentialité de toute information et de toute donnée échangée entre vous et notre site Web ne peuvent être garanties ; et (iii) toute telle information et donnée peut être vue ou modifiée en transit par un tiers, malgré nos meilleurs efforts.</p>
		<h3>Brèche dans les données </h3>
		<p>Si nous apprenons que la sécurité du site Web a été compromise ou que des renseignements personnels d'utilisateurs ont été divulgués à des tiers non liés par suite d'activités externes, y compris, mais sans s'y limiter, d'attaques de sécurité ou de fraude, nous nous réservons le droit de prendre des mesures raisonnablement appropriées, notamment, sans s'y limiter, des enquêtes et rapports, ainsi que des avis aux autorités policières et la coopération avec celles-ci. En cas d'atteinte à la protection des données, nous ferons des efforts raisonnables pour aviser les personnes concernées si nous croyons qu'il existe un risque raisonnable de préjudice pour l'utilisateur en raison de l'atteinte ou si un avis est autrement requis par la loi. Lorsque nous le ferons, nous vous enverrons un courriel.</p>
		<h3>Divulgation juridique </h3>
		<p>Nous divulguerons toute information que nous recueillons, utilisons ou recevons si la loi l'exige ou le permet, par exemple pour nous conformer à une citation à comparaître ou à une procédure judiciaire similaire, et lorsque nous croyons de bonne foi que la divulgation est nécessaire pour protéger nos droits, protéger votre sécurité ou celle d'autrui, enquêter sur une fraude ou répondre à une demande gouvernementale. </p>
		<h3>Changements et amendements </h3>
		<p>Nous nous réservons le droit de modifier cette Politique relative au Site Web ou aux Services à tout moment, à compter de l'affichage d'une version mise à jour de cette Politique sur le Site Web. Lorsque nous le ferons, nous réviserons la date de mise à jour au bas de cette page. Le fait de continuer à utiliser le site Web après de tels changements constituera votre consentement à de tels changements.
		<h3>Acceptation de cette politique </h3>
		<p>Vous reconnaissez que vous avez lu la présente politique et que vous en acceptez tous les termes et conditions. En utilisant le site Web ou ses services, vous acceptez d'être lié par la présente politique. Si vous n'acceptez pas de respecter les termes de cette politique, vous n'êtes pas autorisé à utiliser ou à accéder au site Web et à ses services. </p>
		<h3>Nous contacter </h3>
		<p>Si vous avez des questions au sujet de cette politique, veuillez nous contacter.</p>


		<h2>Mentions légales</h2>
		<p>Just One Giant Lab<br>
		MVAC, 23 Rue Greneta 75002 PARIS<br>
		hello[at]jogl.io<br><br>
		Hébergeur : GANDI SAS<br>
		63-65 boulevard Masséna Paris (75013) FRANCE<br>
		Siren 423 093 459 RCS PARIS<br>
		n. de TVA FR81423093459<br>
		Tel +33 (0) 1 70.37.76.61</p>

	</div>
</main>