.slick-slide {
  margin: 0px 20px; }

.slick-slide img {
  height: 90px;
  max-height: 60px;
  width: 100%;
  object-fit: contain; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center;
      align-items: center; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.partnersFull,
.mediasFull {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center; }
  @media (max-width: 768px) {
    .partnersFull,
    .mediasFull {
      grid-template-columns: repeat(4, 1fr); }
      .partnersFull.sponsors, .partnersFull.media,
      .mediasFull.sponsors,
      .mediasFull.media {
        display: none; } }
  .partnersFull a,
  .partnersFull div,
  .mediasFull a,
  .mediasFull div {
    text-align: center;
    cursor: pointer;
    width: 200px;
    padding: 0 15px 30px; }
  .partnersFull img,
  .mediasFull img {
    width: 80%;
    height: 80px;
    object-fit: contain; }
    @media (max-width: 982px) {
      .partnersFull img,
      .mediasFull img {
        width: 80%;
        height: 80px; } }
    .partnersFull img:hover,
    .mediasFull img:hover {
      opacity: .8 !important; }

.slide img {
  cursor: pointer; }

@media (min-width: 769px) {
  .partners,
  .medias {
    display: none !important; } }

/* Contact Section
--------------------------------*/
#contact {
  padding: 15px 0 0; }

.form p {
  font-size: 18px;
  text-align: center; }

#mc_embed_signup {
  width: 100%;
  margin: auto;
  max-width: 500px; }
  #mc_embed_signup form {
    padding: 0px !important; }
  #mc_embed_signup .mc-field-group {
    padding-bottom: 12px !important;
    width: 100% !important; }
  #mc_embed_signup .input-group {
    display: block; }
    #mc_embed_signup .input-group ul li {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-align: center;
          align-items: center; }
      #mc_embed_signup .input-group ul li input {
        cursor: pointer;
        zoom: 1.8; }
      #mc_embed_signup .input-group ul li label {
        cursor: pointer;
        padding-left: 7px; }
  #mc_embed_signup .mce_inline_error {
    margin: 0px !important; }
  #mc_embed_signup #mc-embedded-subscribe {
    height: 45px;
    background: #2A6BFD; }
    #mc_embed_signup #mc-embedded-subscribe:hover {
      background: #5287fd; }

#contact .team-pic {
  width: 50%;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding-top: 80px; }
  @media (max-width: 1500px) {
    #contact .team-pic {
      padding-top: 40px;
      width: 64%; } }
  @media (max-width: 768px) {
    #contact .team-pic {
      padding-top: 20px;
      width: 100%; } }
  @media (max-width: 480px) {
    #contact .team-pic {
      padding-top: 0px; } }

@media (max-width: 768px) {
  .mc-field-group .email {
    width: 100% !important; }
  .mc-field-group, #mc_embed_signup_scroll {
    width: 100%; }
  #contact .social-links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
  #contact .social-links a {
    margin: 0 10px; }
  .contact-container {
    position: relative; } }

#mc-embedded-subscribe {
  background: #2A6BFD;
  border: none;
  color: white;
  width: 110px;
  font-size: 16px !important; }

#mc-embedded-subscribe:hover {
  cursor: pointer;
  background: #5d8efd; }

#mc-embedded-subscribe:focus {
  outline: none; }

#header {
  padding: 20px 0;
  height: 72px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background: rgba(52, 59, 64, 0.9); }
  #header #logo {
    float: left; }
    #header #logo img {
      padding: 0;
      margin: 0;
      width: 30px;
      margin-top: -5px;
      position: initial;
      transition: 0.4s all; }
      @media (max-width: 768px) {
        #header #logo img {
          max-height: 40px; } }

#header .nav-menu a {
  color: white; }

@media (min-width: 768px) and (max-width: 991px) {
  #header .container {
    max-width: 991px !important; } }

@font-face {
  font-family: 'bagnard';
  src: url("../fonts/bagnardsans-webfont.woff2") format("woff2"), url("../fonts/bagnardsans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lao_sangam';
  src: url("../fonts/laosangam-webfont.woff2") format("woff2"), url("../fonts/laosangam-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/Roboto-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  margin: 4px 0 0 0;
  border: 1px solid #e7e7e7; }
  .nav-menu ul ul {
    top: 0;
    left: 100%;
    margin: 0; }
  .nav-menu ul li {
    min-width: 180px;
    background: #fff; }
    .nav-menu ul li:first-child {
      border-top: 0; }
    .nav-menu ul li a {
      padding: 10px;
      color: #333;
      transition: 0.3s;
      display: block;
      font-size: 13px;
      text-transform: none; }
      .nav-menu ul li a:hover {
        background: #2A6BFD;
        color: #fff; }

.nav-menu li {
  position: relative;
  white-space: nowrap; }
  .nav-menu li:hover > ul,
  .nav-menu li.sfHover > ul {
    display: block; }

.nav-menu > li {
  float: left;
  margin-left: 10px; }
  .nav-menu > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2A6BFD;
    visibility: hidden;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s; }

.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: black;
  font-family: "bagnard", sans-serif !important;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  outline: none; }

/* Nav Menu Arrows */
/* Nav Meu Container */
#nav-menu-container {
  float: right; }
  @media (max-width: 1052px) {
    #nav-menu-container {
      margin-right: 60px; } }
  @media (max-width: 894px) {
    #nav-menu-container {
      display: none; } }

.nav-menu a:hover:before,
.nav-menu li:hover > a:before,
.nav-menu .menu-active > a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1); }

.link-button {
  -ms-flex-pack: center;
      justify-content: center;
  vertical-align: middle;
  padding: 5px 20px 5px !important;
  color: white !important;
  border-radius: 15px;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }
  .link-button:before {
    visibility: hidden !important; }
  .link-button.blue {
    background: #2A6BFD; }
    .link-button.blue:hover {
      background: #1159fd; }
  .link-button.violet {
    background: #710aff; }
    .link-button.violet:hover {
      background: #6400ef; }
  @media (max-width: 894px) {
    .link-button {
      margin: 8px 10px 16px;
      width: -webkit-fit-content !important;
      width: -moz-fit-content !important;
      width: fit-content !important; } }

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s; }
  #mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    #mobile-nav ul li {
      position: relative; }
      #mobile-nav ul li a {
        font-size: 16px;
        overflow: hidden;
        padding: 10px 22px 10px 15px;
        position: relative;
        text-decoration: none;
        width: 100%;
        display: block;
        outline: none;
        color: white; }
        #mobile-nav ul li a.join-beta {
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          margin-left: 8px;
          margin-top: 8px;
          padding-left: 13px !important; }
        #mobile-nav ul li a:hover {
          color: lightgray; }
        #mobile-nav ul li a li {
          padding-left: 30px; }
    #mobile-nav ul .menu-has-children i {
      position: absolute;
      right: 0;
      z-index: 99;
      padding: 15px;
      cursor: pointer;
      color: #fff; }
      #mobile-nav ul .menu-has-children i.fa-chevron-up {
        color: #2A6BFD; }
    #mobile-nav ul .menu-item-active {
      color: #2A6BFD; }

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer; }
  #mobile-nav-toggle i {
    color: #fff !important; }
  @media (max-width: 894px) {
    #mobile-nav-toggle {
      display: inline; } }

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none; }

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden; }
  body.mobile-nav-active #mobile-nav {
    left: 0; }
  body.mobile-nav-active #mobile-nav-toggle {
    color: #fff; }

.flag {
  width: 27px;
  margin-top: -2px; }

.rocket, .landing-content--rocket {
  position: relative; }

.landing-content--rocket {
  -webkit-animation: spaceboots, spaceboots, spaceboots;
          animation: spaceboots, spaceboots, spaceboots;
  -webkit-animation-delay: 4s, 10s, 20s;
          animation-delay: 4s, 10s, 20s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }
  .landing-content--rocket:hover {
    -webkit-animation: spaceboots .8s linear infinite;
            animation: spaceboots .8s linear infinite;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    cursor: pointer; }

.rocket-landing-fuel {
  display: none;
  left: 38%; }

@media (max-width: 1000px) {
  .rocket-landing-fuel {
    left: 28%; } }

.rocket p, .landing-content--rocket p, .rocket-landing-fuel {
  position: absolute;
  color: black; }

.landing-content--rocket p:nth-child(1) {
  bottom: -60px;
  left: 16px;
  -webkit-animation: fuel .5s .05s infinite;
          animation: fuel .5s .05s infinite; }

.landing-content--rocket p:nth-child(2) {
  bottom: -110px;
  left: 29px;
  -webkit-animation: fuel .3s .1s infinite;
          animation: fuel .3s .1s infinite; }

.landing-content--rocket p:nth-child(3) {
  bottom: -80px;
  left: 49px;
  -webkit-animation: fuel .6s .07s infinite;
          animation: fuel .6s .07s infinite; }

.landing-content--rocket p:nth-child(4) {
  bottom: -50px;
  left: -9px;
  -webkit-animation: fuel .6s .14s infinite;
          animation: fuel .6s .14s infinite; }

@-webkit-keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
            transform: translate(0px, 2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
            transform: translate(2px, 1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
            transform: translate(2px, 2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg); } }

@keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
            transform: translate(0px, 2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
            transform: translate(2px, 1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
            transform: translate(2px, 2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg); } }

.back-to-top:hover,
.back-to-top:focus {
  -webkit-animation: spaceboots .8s linear infinite;
          animation: spaceboots .8s linear infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%; }

@-webkit-keyframes fuel {
  0% {
    -webkit-transform: scale(0.8) translate(0, 0);
            transform: scale(0.8) translate(0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1) translate(0, 130px);
            transform: scale(1) translate(0, 130px); } }

@keyframes fuel {
  0% {
    -webkit-transform: scale(0.8) translate(0, 0);
            transform: scale(0.8) translate(0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1) translate(0, 130px);
            transform: scale(1) translate(0, 130px); } }

#myFooter {
  background-color: #3c3d41;
  color: white;
  padding-top: 10px; }
  #myFooter .footer-copyright {
    background-color: #333333;
    padding: 3px 0;
    text-align: center; }
    #myFooter .footer-copyright p {
      margin: 10px;
      color: #ccc; }
  #myFooter .row {
    margin-bottom: 23px; }
  #myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px; }
  #myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7; }
    #myFooter ul li {
      padding: 4px 0; }
      #myFooter ul li a:hover {
        cursor: pointer; }
  #myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 23px; }
  #myFooter h6 {
    margin-bottom: 13px; }
    #myFooter h6.opensource {
      margin-top: 20px; }
  #myFooter #open-popup3 {
    margin-top: 15px;
    font-weight: bold;
    cursor: pointer; }
    #myFooter #open-popup3:hover {
      text-decoration: underline; }
  #myFooter h2 img {
    margin-top: 40px; }
    @media (max-width: 575px) {
      #myFooter h2 img {
        margin-top: 30px; } }
  #myFooter a {
    color: #d2d1d1;
    text-decoration: none; }
    #myFooter a:hover, #myFooter a:focus {
      text-decoration: none;
      color: white; }
  #myFooter .press a:hover {
    text-decoration: underline; }
  #myFooter #contact-us {
    margin-top: 20px !important; }
  #myFooter .social-networks {
    padding-top: 0px;
    padding-bottom: 16px; }
    #myFooter .social-networks a {
      font-size: 26px;
      color: #f9f9f9;
      padding: 10px;
      transition: 0.2s; }
      #myFooter .social-networks a:hover {
        text-decoration: none; }
  #myFooter .facebook:hover {
    color: #0077e2; }
  #myFooter .twitter:hover {
    color: #00aced; }
  #myFooter .linkedin:hover {
    color: #0277b5; }
  #myFooter .instagram:hover {
    color: #d6249f; }
  #myFooter .youtube:hover {
    color: #ff0000; }
  #myFooter .gitlab:hover {
    color: #fc6d26; }
  #myFooter .medium:hover {
    color: #bfbfbfb3; }
  #myFooter .meetup:hover {
    color: #f63f60; }
  #myFooter .eventbrite {
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1); }
    #myFooter .eventbrite:hover {
      -webkit-filter: saturate(100%);
              filter: saturate(100%); }
  #myFooter .btn {
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    display: block;
    margin-top: 10px !important;
    line-height: 25px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    #myFooter .btn-default {
      background-color: #2A6BFD; }
    @media screen and (max-width: 767px) {
      #myFooter .btn {
        margin: 0 auto; } }
    #myFooter .btn:hover {
      background-color: #1b60fd; }
    #myFooter .btn:focus {
      box-shadow: none; }
  @media screen and (max-width: 767px) {
    #myFooter {
      text-align: center; } }

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  left: 10px;
  bottom: 10px;
  display: inline; }
  @media (max-width: 894px) {
    .back-to-top {
      display: none !important; } }
  .back-to-top:focus {
    outline: none; }

@media (min-width: 768px) and (max-width: 991px) {
  #myFooter .container {
    max-width: 991px !important; } }

@font-face {
  font-family: 'bagnard';
  src: url("../fonts/bagnardsans-webfont.woff2") format("woff2"), url("../fonts/bagnardsans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lao_sangam';
  src: url("../fonts/laosangam-webfont.woff2") format("woff2"), url("../fonts/laosangam-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/Roboto-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

.surprise {
  width: 100%;
  height: 100vh;
  background: black;
  display: none; }
  .surprise--content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 100%;
    height: 100vh; }
    .surprise--content a {
      width: 66%;
      text-align: center; }
      @media (max-width: 768px) {
        .surprise--content a {
          width: 80%; } }
      @media (max-width: 480px) {
        .surprise--content a {
          width: 90%; } }

.unhide {
  display: block; }

.lightbox {
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
  position: fixed;
  display: none;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0; }
  .lightbox-container {
    position: relative;
    margin: 7% auto;
    display: block;
    padding: 0 3%;
    height: auto;
    max-width: 960px; }
    @media screen and (max-width: 768px) {
      .lightbox-container {
        margin-top: 50%; } }
  .lightbox-content {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7); }
  .lightbox-close {
    text-transform: uppercase;
    background: transparent;
    position: absolute;
    font-weight: 300;
    font-size: 12px;
    display: block;
    border: none;
    color: white;
    top: -22px;
    right: 3%; }
    .lightbox-close:hover {
      cursor: pointer;
      opacity: 0.8; }

.video-container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 56.25%;
  overflow: hidden;
  height: 0; }
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0; }

body {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
  background: #fff;
  color: #666666;
  font-family: "roboto", sans-serif !important; }

#main {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative; }
  #main::after {
    content: "";
    background: url("../imgs/background.jpg") top center repeat-y;
    background-size: cover;
    opacity: 0.55;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-attachment: scroll;
    z-index: -1; }
    @media (max-width: 1950px) {
      #main::after {
        background-size: contain; } }
    @media (max-width: 628px) {
      #main::after {
        background: none !important;
        background-size: cover;
        background-attachment: fixed !important;
        opacity: 0.6; } }
  @media (max-width: 628px) {
    #main:before {
      content: "";
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -10;
      opacity: 0.7;
      background: url("../imgs/background.jpg") top center repeat-y;
      background-size: cover; } }

a {
  color: #2A6BFD;
  text-decoration: underline; }

a:hover,
a:active,
a:focus {
  color: #5d8efd;
  outline: none; }

p {
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "roboto", sans-serif !important;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0; }

/*--------------------------------------------------------------
												Landing Section
--------------------------------------------------------------*/
#landing {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -ms-flexbox;
  display: flex; }
  #landing .landing-container {
    width: 100%;
    padding-top: 80px;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center; }
    #landing .landing-container .buttons {
      margin-top: 20px;
      margin: 20px 0 0 0 !important;
      padding: 0 !important;
      width: -webkit-fit-content !important;
      width: -moz-fit-content !important;
      width: fit-content !important; }
      #landing .landing-container .buttons a {
        text-decoration: none; }
      #landing .landing-container .buttons .hide {
        display: none; }
    @media (max-width: 768px) {
      #landing .landing-container {
        margin: 0px 0 25px 0; } }
  @media (max-width: 900px) {
    #landing {
      height: 100%; } }
  @media (max-height: 720px) {
    #landing {
      height: 100%; } }

.landing-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 100px;
  text-align: left;
  -ms-flex-pack: center;
      justify-content: center; }
  @media (max-width: 1500px) {
    .landing-content {
      padding: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      width: 90%; } }
  @media (max-width: 1200px) {
    .landing-content {
      width: 83%; } }
  @media (max-width: 768px) {
    .landing-content {
      padding: 30px 0 45px; } }
  .landing-content--rocket {
    width: 25%; }
    .landing-content--rocket img {
      width: 100%;
      max-width: 400px; }
    @media (max-width: 1200px) {
      .landing-content--rocket {
        width: 15%; } }
    @media (max-width: 768px) {
      .landing-content--rocket {
        display: none; } }
  .landing-content--text {
    width: 75%;
    max-width: 1200px;
    padding: 30px 200px 30px 130px;
    color: black;
    position: relative; }
    @media (max-width: 1500px) {
      .landing-content--text {
        padding: 30px 70px 50px 70px; } }
    @media (max-width: 1200px) {
      .landing-content--text {
        max-width: 1200px;
        padding: 30px 30px 50px 40px;
        margin: 0px; } }
    @media (max-width: 1100px) {
      .landing-content--text {
        width: 90%; } }
    @media (max-width: 768px) {
      .landing-content--text {
        width: 100%;
        padding: 0; } }
    .landing-content--text h1 {
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      font-family: "bagnard" !important;
      margin: 0 !important; }
      @media (max-width: 1100px) {
        .landing-content--text h1 {
          font-size: 37px; } }
      @media (max-width: 768px) {
        .landing-content--text h1 {
          font-size: 28px;
          line-height: 36px;
          margin-left: 20px !important; } }
      @media (max-width: 480px) {
        .landing-content--text h1 {
          font-size: 24px; } }
    .landing-content--text p {
      font-size: 23px; }
      @media (max-width: 1200px) {
        .landing-content--text p {
          font-size: 21px; } }
      @media (max-width: 1100px) {
        .landing-content--text p {
          font-size: 19px; } }
      @media (max-width: 768px) {
        .landing-content--text p {
          font-size: 18px;
          line-height: 32px; } }
      .landing-content--text p strong:nth-child(1) {
        color: #2A6BFD !important; }
      .landing-content--text p strong:nth-child(2) {
        color: #008000 !important; }
      .landing-content--text p strong:nth-child(3) {
        color: #FBBB54 !important; }
      .landing-content--text p strong:nth-child(4) {
        color: #95CEFF !important; }
      .landing-content--text p strong:nth-child(5) {
        color: #FB7350 !important; }
      .landing-content--text p strong:nth-child(6) {
        color: #FF13FF !important; }
      .landing-content--text p strong:nth-child(7) {
        color: #4F00BC !important; }
      .landing-content--text p strong:nth-child(10) {
        color: #99AD84 !important; }
      .landing-content--text p strong:nth-child(12) {
        color: #3080C2 !important; }
    .landing-content--text .recruit {
      position: absolute;
      top: -60px;
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
      right: 0;
      text-decoration: underline;
      font-size: 23px;
      font-family: "bagnard" !important;
      color: #008000; }
    .landing-content--text .title-container {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      margin-bottom: 30px; }
      .landing-content--text .title-container img {
        display: none; }
        @media (max-width: 768px) {
          .landing-content--text .title-container img {
            display: block; } }
        @media (max-width: 480px) {
          .landing-content--text .title-container img {
            width: 50px; } }

/*--------------------------------------------------------------
												END Landing Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
												All sections
--------------------------------------------------------------*/
#launch .main button {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  font-size: 16px;
  margin: 20px auto 0 !important; }

#launch .launch_img {
  margin-bottom: 20px; }

/* Hide uncessary Mailchimp elements */
.modalContent__image,
.content__monkeyRewards {
  display: none !important; }

.modalContent__content {
  padding: 50px 30px 30px !important; }

.legal {
  margin: 140px auto 70px; }
  @media (max-width: 991px) {
    .legal {
      width: 80% !important; } }
  @media (max-width: 480px) {
    .legal {
      width: 100% !important; } }
  .legal h1 {
    font-size: 2.5rem; }
  .legal h2 {
    font-size: 2.1rem;
    margin-top: 70px; }
  .legal h3 {
    font-size: 1.5rem; }
  .legal h4 {
    font-size: 1.3rem; }

.container {
  padding: 0 50px; }
  @media (max-width: 768px) {
    .container {
      padding: 0 35px; } }
  @media (max-width: 480px) {
    .container {
      padding: 0 20px; } }

.section-header .section-title {
  font-size: 32px;
  color: #4F00BC;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin: 100px auto 45px !important;
  font-family: "bagnard" !important; }
  @media (max-width: 480px) {
    .section-header .section-title {
      font-size: 23px; } }

.section-header .recruit {
  position: absolute;
  top: 20px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  right: 20%;
  text-decoration: underline;
  font-size: 30px;
  font-family: "bagnard" !important;
  color: #008000; }
  @media (max-width: 768px) {
    .section-header .recruit {
      font-size: 23px;
      right: 0; } }

.section-header .section-description {
  text-align: center;
  color: #999; }

h4.section-title {
  text-align: center;
  margin: 30px 0;
  color: black;
  font-size: 25px;
  font-family: "bagnard" !important;
  text-transform: uppercase; }

.sdgs {
  text-align: center;
  /* Uncomment */
  width: 80%;
  margin: auto; }
  .sdgs a {
    padding: 0 !important; }
  .sdgs img {
    height: 100px;
    /* Uncomment */ }
    .sdgs img:hover {
      opacity: 0.8; }
  @media (max-width: 992px) {
    .sdgs {
      width: 95%; } }

.popup,
.popup2 {
  width: 90vw;
  max-width: 600px;
  max-height: 80vh;
  padding: 60px 40px 40px;
  margin-top: 80px !important;
  background: white;
  color: black;
  z-index: 1;
  display: none;
  position: fixed;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 12px solid black;
  overflow-y: scroll; }
  .popup li,
  .popup2 li {
    margin: 10px 0; }
  .popup a,
  .popup2 a {
    color: black !important;
    text-decoration: underline; }
  @media (max-width: 768px) {
    .popup,
    .popup2 {
      max-width: 90vw; } }
  .popup #mc_embed_signup .mc-field-group.input-group input,
  .popup2 #mc_embed_signup .mc-field-group.input-group input {
    outline: none; }

.close-popup,
.close-popup2 {
  top: 10px;
  right: 20px;
  position: absolute;
  font-size: 35px;
  cursor: pointer; }
  .close-popup:hover,
  .close-popup2:hover {
    opacity: 0.7; }

.about {
  cursor: pointer;
  color: white;
  background: #2F80C2;
  border-radius: 20px;
  margin: 20px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 15px; }
  .about:hover {
    background: #2A6BFD; }

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 100% !important; } }

#whitepaper button,
#landing button,
#launch button {
  display: -ms-flexbox;
  display: flex;
  background: #2A6BFD;
  color: white;
  border-radius: 20px;
  margin: 0 auto 90px;
  padding: 10px 35px;
  -ms-flex-align: center;
      align-items: center;
  outline: none;
  border: none; }
  #whitepaper button i,
  #landing button i,
  #launch button i {
    padding-right: 10px;
    text-decoration: none !important; }
  #whitepaper button a,
  #landing button a,
  #launch button a {
    color: white !important;
    text-decoration: none; }
  #whitepaper button:hover,
  #landing button:hover,
  #launch button:hover {
    background: #1159fd;
    cursor: pointer; }

#landing button.beta,
#landing button.mailing,
#landing button.events {
  min-width: 235px;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 10px 23px;
  margin-bottom: 20px; }

#landing button.beta.fr,
#landing button.mailing.fr {
  min-width: 255px; }

#landing button.events {
  background: #710aff !important; }
  #landing button.events:hover {
    background: #6400ef !important; }

#landing button.beta {
  border: 1px solid transparent;
  -ms-flex-align: right !important;
      align-items: right !important;
  padding: 20px 30px !important;
  font-size: 25px;
  border-radius: 50px;
  margin: 40px 0 0 0 !important; }
  #landing button.beta.inverted {
    background: white;
    color: #2A6BFD !important;
    border: 2px solid #2A6BFD; }
    #landing button.beta.inverted a {
      color: #2A6BFD !important; }
    #landing button.beta.inverted:hover {
      background: #2A6BFD;
      color: white !important;
      cursor: pointer; }
  @media (max-width: 768px) {
    #landing button.beta {
      margin: 18px 0 0 0 !important;
      padding: 15px 20px !important; } }

#landing button.mailing {
  min-width: 220px;
  background: white;
  color: #2A6BFD;
  border: 2px solid #2A6BFD; }
  #landing button.mailing a {
    color: #2A6BFD !important; }
  #landing button.mailing:hover {
    background: #2A6BFD;
    color: white;
    cursor: pointer; }

.box h4 {
  color: #2A6BFD;
  font-family: "bagnard" !important;
  font-size: 28px;
  margin-bottom: 7px; }
  @media (max-width: 768px) {
    .box h4 {
      font-size: 26px; } }
  @media (max-width: 480px) {
    .box h4 {
      font-size: 24px; } }

.box p {
  font-size: 20px;
  background: #ffffff8a;
  border-radius: 30px;
  padding: 20px; }
  @media (max-width: 480px) {
    .box p {
      font-size: 18px; } }

.main {
  margin: 0 auto;
  font-size: 22px;
  width: 75%; }
  @media (max-width: 1000px) {
    .main {
      width: 100%; } }
  @media (max-width: 768px) {
    .main {
      font-size: 20px; } }
  @media (max-width: 480px) {
    .main {
      font-size: 18px; } }

#csconsentlink:hover {
  cursor: pointer;
  opacity: 0.8; }

/* Platform Section
--------------------------------*/
#platform .text,
#roles .text {
  margin-bottom: 40px;
  font-size: 23px;
  text-align: center; }
  @media (max-width: 768px) {
    #platform .text,
    #roles .text {
      text-align: left; } }
  @media (max-width: 480px) {
    #platform .text,
    #roles .text {
      font-size: 20px; } }

/* Roles Section
--------------------------------*/
#mission h4 {
  margin-top: 20px; }

#roles p.main {
  margin-bottom: 50px; }

/* Team Section
--------------------------------*/
#team {
  padding: 40px 0 0;
  /* toggle switch for collaborator type  */
  /* END - toggle switch for collaborator type  */ }
  @media (max-width: 480px) {
    #team {
      padding: 0px; } }
  #team .section-header .team {
    margin: 60px auto 30px !important; }
  #team .section-header p {
    /* job oppurtunities link*/
    margin: 0 auto 50px;
    text-align: center;
    display: block;
    font-size: 20px; }
  #team .alumnis {
    margin: 0 auto 30px;
    text-align: center;
    display: block;
    font-size: 23px;
    font-weight: bold; }
  #team .collab-past {
    display: none; }
  #team .material-switch {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 40px; }
    #team .material-switch > input[type="checkbox"] {
      display: none; }
      #team .material-switch > input[type="checkbox"]:checked + label::before {
        background: grey;
        opacity: 0.5; }
      #team .material-switch > input[type="checkbox"]:checked + label::after {
        background: grey;
        left: 20px; }
    #team .material-switch span:nth-child(1) {
      margin: -9px 7px 0 0; }
    #team .material-switch span:nth-child(4) {
      margin: -9px 0 0 9px; }
    #team .material-switch > label {
      cursor: pointer;
      height: 0px;
      position: relative;
      width: 40px; }
      #team .material-switch > label::before {
        background: black;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: "";
        height: 16px;
        margin-top: -8px;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px; }
      #team .material-switch > label::after {
        background: white;
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: "";
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px; }
  #team .member {
    text-align: center;
    margin-bottom: 40px;
    padding: 0 8px !important; }
    @media (max-width: 480px) {
      #team .member {
        padding: 0 5px !important; } }
    #team .member .pic {
      margin-bottom: 15px; }
      #team .member .pic img {
        max-width: 250px;
        width: 65%;
        border-radius: 10px; }
        @media (max-width: 480px) {
          #team .member .pic img {
            max-width: 170px; } }
      #team .member .pic p {
        position: absolute;
        -ms-flex-pack: center;
            justify-content: center;
        left: 37%;
        top: 44%; }
    #team .member h4 {
      font-weight: 700;
      margin-bottom: 2px;
      font-size: 18px; }
    #team .member span {
      font-style: italic;
      display: block;
      font-size: 13px; }
    #team .member .more-info {
      margin-top: 20px;
      text-align: left;
      background: #ffffff8a;
      border-radius: 20px;
      padding-inline-start: 30px !important; }
      @media (max-width: 1000px) {
        #team .member .more-info {
          padding-inline-start: 25px !important; } }
      @media (max-width: 480px) {
        #team .member .more-info {
          padding-inline-start: 20px !important; } }
    #team .member .more-info li {
      padding: 6px 0 !important; }
    #team .member .info {
      background: #ffffff99;
      border-radius: 30px;
      padding: 10px 20px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin: auto; }
      @media (max-width: 480px) {
        #team .member .info {
          width: auto; } }
    #team .member .social {
      margin-top: 15px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      margin-top: 10px; }
      #team .member .social img {
        width: 28px;
        opacity: 0.7; }
        #team .member .social img:hover {
          opacity: 1;
          -webkit-filter: opacity(0.6) drop-shadow(0 0 0 #2A6BFD) saturate(200%);
                  filter: opacity(0.6) drop-shadow(0 0 0 #2A6BFD) saturate(200%); }
        #team .member .social img.share-it {
          width: 50px !important; }
      #team .member .social a {
        color: #b3b3b3;
        padding: 0 10px; }
        #team .member .social a:hover {
          color: #2A6BFD; }
      #team .member .social i {
        font-size: 18px;
        margin: 0 2px; }

/* Job offer section
--------------------------------*/
#jobs .main {
  text-align: center;
  font-size: 20px; }

.job-offer {
  color: black;
  max-width: 750px;
  width: 100%;
  margin: auto;
  border: 3px solid black;
  padding: 20px 35px;
  margin-bottom: 40px; }
  .job-offer h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 4px 0; }
    @media (max-width: 480px) {
      .job-offer h4 {
        margin: 0 0 10px 0; } }
  .job-offer p:nth-child(2) {
    font-style: italic !important;
    font-size: 18px;
    margin: 0; }
    @media (max-width: 768px) {
      .job-offer p:nth-child(2) {
        margin: 0px 0 10px 0; } }
  .job-offer p:nth-child(3) {
    font-size: 19px;
    text-align: right; }
    @media (max-width: 768px) {
      .job-offer p:nth-child(3) {
        text-align: left; } }
  .job-offer a {
    border: 3px solid black;
    font-weight: bold;
    color: black;
    text-decoration: none;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -ms-flex-pack: center;
        justify-content: center;
    margin-top: 16px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    padding: 8px 30px;
    font-size: 18.5px; }
    .job-offer a:hover {
      background: #323232;
      color: white;
      transition: all 0.3s; }

#programModal .modal-body {
  padding: 0; }
  #programModal .modal-body img {
    width: 100%; }
  #programModal .modal-body p {
    padding: 15px 20px 0;
    margin-bottom: 0; }

#programModal .modal-footer {
  padding: 10px 15px 15px 0;
  border-top: none; }

.corner-ribbon {
  width: 200px;
  background: #39d;
  position: absolute;
  text-align: center;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 20000;
  line-height: 20px;
  font-size: 15px;
  padding: 2px 0;
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }
  @media (max-width: 894px) {
    .corner-ribbon {
      top: auto;
      bottom: 25px;
      left: -50px; } }
  .corner-ribbon a {
    color: white !important; }
    .corner-ribbon a:hover {
      opacity: 0.8; }
  .corner-ribbon.sticky {
    position: fixed; }
  .corner-ribbon.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }

#sharing-buttons {
  display: none !important; }
