$blue-old1: #008cbf;
$blue-old2: #216FFA;
$blue-2: #2F80C2;
$green: #008000;
$violet: #4F00BC;
$blue-3:#3080C2;
$blue:#2A6BFD;
$light-blue: #95CEFF;
$orange: #FBBB54;
$pink: #FDBBFF;
$pink-violet: #FF13FF;
$light-pink: #FDE8FE;
$yellow: #FCE51F;
$red: #FB7350;
$kaki: #99AD84;


// #BF9000
// #6BA952
// #CC0300
// #FF13FF
// #6FA8DC
// #F6B26B
// #76A5AF
// #C27BA0