@import "colors";

/* Contact Section
--------------------------------*/
#contact {
  padding: 15px 0 0;
}

.form {
	p {
		font-size:18px;
		text-align: center;
	}
}

#mc_embed_signup {
	width: 100%;
  margin: auto;
	max-width: 500px;
	form {
		padding: 0px!important;
	}
	.mc-field-group {
		padding-bottom: 12px!important;
		width: 100%!important;
	}
	.input-group {
		display:block;
		ul li {
			display: flex!important;
			align-items: center;
			input {
				cursor: pointer;
				zoom:1.8
			}
			label {
				cursor: pointer;
				padding-left: 7px;
			}
		}
	}

	.mce_inline_error {
		margin: 0px!important;
	}
	#mc-embedded-subscribe {
		height: 45px;
		background: $blue;
		&:hover {
			background: lighten($blue,8);
		}
	}

}

#contact .team-pic {
	width:50%;
	display: flex;
	margin: auto;
	padding-top:80px;
	@media (max-width: 1500px) {
		padding-top:40px;
		width:64%;
	}
	@media (max-width: 768px) {
		padding-top:20px;
		width:100%;
	}
	@media (max-width: 480px) {
		padding-top:0px;
	}
}

@media (max-width: 768px) {
	.mc-field-group .email {
		width: 100%!important;
	}
	.mc-field-group, #mc_embed_signup_scroll {
		width: 100%;
	}
	#contact .social-links {
		display: flex;
		justify-content: center;
	}
	#contact .social-links a {
		margin: 0 10px;
	}
	.contact-container {
		position: relative;
	}
	.form {
		// padding-bottom:100px;
	}
}
@media (max-width: 480px) {
	.form {
		// padding-bottom:50px;
	}
}

#mc-embedded-subscribe {
	background: $blue;
	border: none;
	color:white;
	width: 110px;
	font-size:16px!important;
}
#mc-embedded-subscribe:hover {
	cursor: pointer;
	background:lighten( $blue, 10% );
}
#mc-embedded-subscribe:focus {
	outline: none;
}