@font-face {
	font-family: 'bagnard';
	src: url('../fonts/bagnardsans-webfont.woff2') format('woff2'),
			 url('../fonts/bagnardsans-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'lao_sangam';
	src: url('../fonts/laosangam-webfont.woff2') format('woff2'),
			 url('../fonts/laosangam-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: url('../fonts/Roboto-Regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: url('../fonts/Roboto-Bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}