@import "colors";

#myFooter {
  background-color: #3c3d41;
  color: white;
  padding-top: 10px;
  .footer-copyright {
    background-color: #333333;
    padding: 3px 0;
    text-align: center;
    p {
      margin: 10px;
      color: #ccc;
    }
  }
  .row {
    margin-bottom: 23px;
  }
  .navbar-brand {
    margin-top: 45px;
    height: 65px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
    li {
      padding: 4px 0;
      a:hover {
        cursor: pointer;
      }
    }
  }
  h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 23px;
  }
  h6 {
    margin-bottom: 13px;
    &.opensource {
      margin-top: 20px;
    }
  }
  #open-popup3 {
    margin-top: 15px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  h2 img {
    margin-top: 40px;
    @media (max-width: 575px) {
      margin-top: 30px;
    }
  }
  a {
    color: #d2d1d1;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: none;
      color: white;
    }
  }
  .press a:hover {
    text-decoration: underline;
  }
  #contact-us {
    margin-top: 20px !important;
  }
  .social-networks {
    padding-top: 0px;
    padding-bottom: 16px;
    a {
      font-size: 26px;
      color: #f9f9f9;
      padding: 10px;
      transition: 0.2s;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .facebook:hover {
    color: #0077e2;
  }
  .twitter:hover {
    color: #00aced;
  }
  .linkedin:hover {
    color: #0277b5;
  }
  .instagram:hover {
    color: #d6249f;
  }
  .youtube:hover {
    color: #ff0000;
  }
  .gitlab:hover {
    color: #fc6d26;
  }
  .medium:hover {
    color: #bfbfbfb3;
  }
  .meetup:hover {
    color: #f63f60;
  }
  .eventbrite {
    filter: brightness(0) invert(1);

    &:hover {
      filter: saturate(100%);
    }
  }
  .btn {
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    display: block;
    margin-top: 10px !important;
    line-height: 25px;
    width: fit-content;
    &-default {
      background-color: $blue;
    }
    @media screen and (max-width: 767px) {
      margin: 0 auto;
    }
    &:hover {
      background-color: darken($blue, 3);
    }
    &:focus {
      box-shadow: none;
    }
  }
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  left: 10px;
  bottom: 10px;
  display: inline;
  @media (max-width: 894px) {
    display: none !important;
  }
  // @media (max-width: 768px) {
  // 	bottom: 15px;
  // }
  &:focus {
    outline: none;
  }
}

// #cookiescript_link {
// 	display: none!important;
// }

@media (min-width: 768px) and (max-width: 991px) {
  #myFooter .container {
    max-width: 991px !important;
  }
}
