#header {
  padding: 20px 0;
  height: 72px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background: rgba(52, 59, 64, 0.9);
  #logo {
    float: left;
    img {
      padding: 0;
      margin: 0;
      width: 30px;
      margin-top: -5px;
      position: initial;
      transition: 0.4s all;
      // display: none; //
      @media (max-width: 768px) {
        max-height: 40px;
      }
    }
  }
}

#header .nav-menu a {
  color: white;
}

@media (min-width: 768px) and (max-width: 991px) {
  #header .container {
    max-width: 991px !important;
  }
}
