@import "colors";
@import "fonts";

/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu {
  ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
    margin: 4px 0 0 0;
    border: 1px solid #e7e7e7;
    ul {
      top: 0;
      left: 100%;
      margin: 0;
    }
    li {
      min-width: 180px;
      background: #fff;
      &:first-child {
        border-top: 0;
      }
      a {
        padding: 10px;
        color: #333;
        transition: 0.3s;
        display: block;
        font-size: 13px;
        text-transform: none;
        &:hover {
          background: $blue;
          color: #fff;
        }
      }
    }
  }
  li {
    position: relative;
    white-space: nowrap;
    &:hover > ul,
    &.sfHover > ul {
      display: block;
    }
  }
  > li {
    float: left;
    margin-left: 10px;
    > a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $blue;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }
  }
  a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-family: "bagnard", sans-serif !important;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    outline: none;
  }
}

/* Nav Menu Arrows */
// .sf-arrows .sf-with-ul {
// 	padding-right: 30px;
// 	&:after {
// 		content: "\f107";
// 		position: absolute;
// 		right: 15px;
// 		font-family: FontAwesome;
// 		font-style: normal;
// 		font-weight: normal;
// 	}
// }

// .sf-arrows ul .sf-with-ul:after {
//   content: "\f105";
// }

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  @media (max-width: 1052px) {
    margin-right: 60px;
  }
  @media (max-width: 894px) {
    display: none;
  }
}

.nav-menu a:hover:before,
.nav-menu li:hover > a:before,
.nav-menu .menu-active > a:before {
  visibility: visible;
  transform: scaleX(1);
}

.link-button {
  justify-content: center;
  vertical-align: middle;
  padding: 5px 20px 5px !important;
  color: white !important;
  border-radius: 15px;
  display: flex;
  cursor: pointer;
  &:before {
    visibility: hidden !important;
  }
  &.blue {
    background: $blue;
    &:hover {
      background: darken($blue, 5);
    }
  }
  &.violet {
    background: lighten($violet, 15);
    &:hover {
      background: lighten($violet, 10);
    }
  }
  @media (max-width: 894px) {
    margin: 8px 10px 16px;
    width: fit-content !important;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      position: relative;
      a {
        font-size: 16px;
        overflow: hidden;
        padding: 10px 22px 10px 15px;
        position: relative;
        text-decoration: none;
        width: 100%;
        display: block;
        outline: none;
        color: white;
        &.join-beta {
          width: fit-content;
          margin-left: 8px;
          margin-top: 8px;
          padding-left: 13px !important;
        }
        &:hover {
          color: lightgray;
        }
        li {
          padding-left: 30px;
        }
      }
    }
    .menu-has-children i {
      position: absolute;
      right: 0;
      z-index: 99;
      padding: 15px;
      cursor: pointer;
      color: #fff;
      &.fa-chevron-up {
        color: $blue;
      }
    }
    .menu-item-active {
      color: $blue;
    }
  }
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
  i {
    color: #fff !important; //
    // color:black; //
  }
  @media (max-width: 894px) {
    display: inline;
  }
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
  #mobile-nav {
    left: 0;
  }
  #mobile-nav-toggle {
    color: #fff;
  }
}

.flag {
  width: 27px;
  margin-top: -2px;
}
