.partnersFull,
.mediasFull {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@media (max-width:768px) {

		&.sponsors,
		&.media {
			display: none;
		}

		grid-template-columns: repeat(4, 1fr);
	}

	a,
	div {
		text-align: center;
		cursor: pointer;
		width: 200px;
		padding: 0 15px 30px;
	}

	img {
		width: 80%;
		height: 80px;
		object-fit: contain;

		@media (max-width:982px) {
			width: 80%;
			height: 80px;
		}

		&:hover {
			opacity: .8 !important;
		}
	}
}


.slide img {
	cursor: pointer;
}

@media (min-width:769px) {

	.partners,
	.medias {
		display: none !important;
	}
}