.rocket, .landing-content--rocket {
	position: relative;
}

.landing-content--rocket {
	animation: spaceboots, spaceboots, spaceboots;
  animation-delay: 4s, 10s, 20s;
  animation-duration: 1s;
	&:hover {
		animation: spaceboots .8s linear infinite;
		transform-origin:50% 50%;
		cursor: pointer;
	}
}

.rocket-landing-fuel {
	display: none;
	left:38%;
}

@media (max-width: 1000px) {
	.rocket-landing-fuel {
		left:28%;
	}
}

.rocket p, .landing-content--rocket p, .rocket-landing-fuel {
	position: absolute;
	color:black;
}

.landing-content--rocket p:nth-child(1) {
	bottom: -60px;left: 16px;
	animation: fuel .5s .05s infinite
}
.landing-content--rocket p:nth-child(2) {
	bottom: -110px;left: 29px;
	animation: fuel .3s .1s infinite
}
.landing-content--rocket p:nth-child(3) {
	bottom: -80px;left: 49px;
	animation: fuel .6s .07s infinite
}
.landing-content--rocket p:nth-child(4) {
	bottom: -50px;left: -9px;
	animation: fuel .6s .14s infinite
}

@keyframes spaceboots {
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.back-to-top:hover,
.back-to-top:focus {
	animation: spaceboots .8s linear infinite;
	transform-origin:50% 50%;
}

@keyframes fuel {
	0%   { transform: scale(0.8) translate(0, 0) }
	100% { opacity: 0; transform: scale(1) translate(0, 130px) }
}