.surprise {
  width: 100%;
  height: 100vh;
  background: black;
  display: none;
  &--content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    a {
      width: 66%;
      text-align: center;
      @media (max-width: 768px) {
        width: 80%;
      }
      @media (max-width: 480px) {
        width: 90%;
      }
    }
  }
}

.unhide {
  display: block;
}

// .surprise {
// 	width: 100%;
// 	height: 100vh;
// 	display: none;
// 	// height: 0;
// 	// display: flex;
// 	// justify-content: center;
// 	// align-items: center;
// 	color:white;
// 	// background: red;

// 	// top:-100vh!important;
// 	// visibility: hidden;
// 	// position: absolute;
// 	// transform: translateY(-100vh);

// 	// transition: visility 1.5s ease-in;
// 	// transition: all 1.5s ease-in;
// 	background: black;
// 	// background: rgb(9,76,114);
// 	// background: -webkit-radial-gradient(bottom, ellipse cover,  rgb(9,76,114) 0%,rgb(1,41,63) 100%);
// 	// background: -webkit-radial-gradient(ellipse at bottom, rgb(9,76,114) 0%, rgb(1,41,63) 100%);
// 	// background: -webkit-radial-gradient(bottom, ellipse, rgb(9,76,114) 0%, rgb(1,41,63) 100%);
// 	// background: radial-gradient(ellipse at bottom,  rgb(9,76,114) 0%,rgb(1,41,63) 100%);
// 	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#094c72', endColorstr='#01293f',GradientType=1 );
// 	&--content {
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		width: 100%;
// 		height: 100vh;
// 		// position: absolute;
// 	}
// }

// @function box-shadow($stars) {
// 	$bxshadow: ();
// 	@for $i from 1 to $stars {
// 		$bxshadow: append($bxshadow, (random(2000) + 0px) (random(2000) + 0px) #fff, comma);
// 	}
// 	@return unquote($bxshadow);
// }

// $bxshadow-large: box-shadow(300);
// $bxshadow-medium: box-shadow(500);
// $bxshadow-small: box-shadow(800);

// .stars.large {
// 	height: 3px;
// 	width: 3px;
// 	background: transparent;
// 	box-shadow: $bxshadow-large;
// 	animation: blink-large 7s infinite;
// }
// .stars.medium {
// 	height: 2px;
// 	width: 2px;
// 	background: transparent;
// 	box-shadow: $bxshadow-medium;
// 	animation: blink-medium 5s infinite;
// }
// .stars.small {
// 	height: 1px;
// 	width: 1px;
// 	background: transparent;
// 	box-shadow: $bxshadow-small;
// 	animation: blink-small 3s infinite;
// }

// @keyframes blink-large {
// 	0% {
// 		box-shadow: $bxshadow-large;
// 	}
// 	70% {
// 		$colors: '#fff', 'transparent';
// 		$stars: $bxshadow-large;
// 		@for $i from 1 to length($stars) {
// 			$star: set-nth(nth($stars, $i), 3, unquote(nth($colors, random(length($colors)))));
// 			$stars: set-nth($stars, $i, $star);
// 		}
// 		box-shadow: $stars;
// 	}
// 	100% {
// 		box-shadow: $bxshadow-large;
// 	}
// }
// @keyframes blink-medium {
// 	0% {
// 		box-shadow: $bxshadow-medium;
// 	}
// 	70% {
// 		$colors: '#fff', 'transparent';
// 		$stars: $bxshadow-medium;
// 		@for $i from 1 to length($stars) {
// 			$star: set-nth(nth($stars, $i), 3, unquote(nth($colors, random(length($colors)))));
// 			$stars: set-nth($stars, $i, $star);
// 		}
// 		box-shadow: $stars;
// 	}
// 	100% {
// 		box-shadow: $bxshadow-medium;
// 	}
// }
// @keyframes blink-small {
// 	0% {
// 		box-shadow: $bxshadow-small;
// 	}
// 	70% {
// 		$colors: '#fff', 'transparent';
// 		$stars: $bxshadow-small;
// 		@for $i from 1 to length($stars) {
// 			$star: set-nth(nth($stars, $i), 3, unquote(nth($colors, random(length($colors)))));
// 			$stars: set-nth($stars, $i, $star);
// 		}
// 		box-shadow: $stars;
// 	}
// 	100% {
// 		box-shadow: $bxshadow-small;
// 	}
// }
