.lightbox {
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
  position: fixed;
  display: none;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  &-container {
    position: relative;
    margin: 7% auto;
    display: block;
    padding: 0 3%;
    height: auto;
    max-width: 960px;
    @media screen and (max-width: 768px) {
      margin-top: 50%;
    }
  }
  &-content {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
  }
  &-close {
    text-transform: uppercase;
    background: transparent;
    position: absolute;
    font-weight: 300;
    font-size: 12px;
    display: block;
    border: none;
    color: white;
    top: -22px;
    right: 3%;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}
.video-container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 56.25%;
  overflow: hidden;
  height: 0;
  iframe,
  object,
  embed {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}
