@import "slick";
@import "partners";
@import "contact";
@import "header";
@import "nav";
@import "rockets";
@import "footer";
@import "colors";
@import "fonts";
@import "surprise";
@import "videopopup";

body {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
  background: #fff;
  color: #666666;
  font-family: "roboto", sans-serif !important;
}

#main {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
  &::after {
    content: "";
    background: url("../imgs/background.jpg") top center repeat-y;
    background-size: cover;
    opacity: 0.55;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-attachment: scroll;
    z-index: -1;
    @media (max-width: 1950px) {
      background-size: contain;
    }
    @media (max-width: 628px) {
      background: none !important;
      background-size: cover;
      background-attachment: fixed !important;
      opacity: 0.6;
    }
  }
  @media (max-width: 628px) {
    &:before {
      content: "";
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -10;
      opacity: 0.7;
      background: url("../imgs/background.jpg") top center repeat-y;
      background-size: cover;
    }
  }
}

a {
  color: $blue;
  text-decoration: underline;
}

a:hover,
a:active,
a:focus {
  color: lighten($blue, 10%);
  outline: none;
}

p {
  padding: 0;
  // margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "roboto", sans-serif !important;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/*--------------------------------------------------------------
												Landing Section
--------------------------------------------------------------*/

#landing {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  .landing-container {
    width: 100%;
    padding-top: 80px;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .buttons {
      margin-top: 20px;
      margin: 20px 0 0 0 !important;
      padding: 0 !important;
      width: fit-content !important;
      a {
        text-decoration: none;
      }
      .hide {
        display: none;
      }
    }
    @media (max-width: 768px) {
      margin: 0px 0 25px 0;
    }
  }
  @media (max-width: 900px) {
    height: 100%;
  }
  @media (max-height: 720px) {
    height: 100%;
  }
}

.landing-content {
  display: flex;
  align-items: center;
  padding: 0 100px;
  text-align: left;
  justify-content: center;
  @media (max-width: 1500px) {
    padding: 0;
    display: flex;
    align-items: center;
    width: 90%;
  }
  @media (max-width: 1200px) {
    width: 83%;
  }
  @media (max-width: 768px) {
    padding: 30px 0 45px;
  }
  &--rocket {
    width: 25%;
    img {
      width: 100%;
      max-width: 400px;
    }
    @media (max-width: 1200px) {
      width: 15%;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  &--text {
    width: 75%;
    max-width: 1200px;
    padding: 30px 200px 30px 130px;
    color: black;
    position: relative;
    @media (max-width: 1500px) {
      padding: 30px 70px 50px 70px;
    }
    @media (max-width: 1200px) {
      max-width: 1200px;
      padding: 30px 30px 50px 40px;
      margin: 0px;
    }
    @media (max-width: 1100px) {
      width: 90%;
    }
    @media (max-width: 768px) {
      width: 100%;
      padding: 0;
    }
    h1 {
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      font-family: "bagnard" !important;
      margin: 0 !important;
      @media (max-width: 1100px) {
        font-size: 37px;
      }
      @media (max-width: 768px) {
        font-size: 28px;
        line-height: 36px;
        margin-left: 20px !important;
      }
      @media (max-width: 480px) {
        font-size: 24px;
      }
    }
    p {
      font-size: 23px;
      @media (max-width: 1200px) {
        font-size: 21px;
      }
      @media (max-width: 1100px) {
        font-size: 19px;
      }
      @media (max-width: 768px) {
        font-size: 18px;
        line-height: 32px;
      }
      strong:nth-child(1) {
        color: $blue !important;
      }
      strong:nth-child(2) {
        color: $green !important;
      }
      strong:nth-child(3) {
        color: $orange !important;
      }
      strong:nth-child(4) {
        color: $light-blue !important;
      }
      strong:nth-child(5) {
        color: $red !important;
      }
      strong:nth-child(6) {
        color: $pink-violet !important;
      }
      strong:nth-child(7) {
        color: $violet !important;
      }
      strong:nth-child(10) {
        color: $kaki !important;
      }
      strong:nth-child(12) {
        color: $blue-3 !important;
      }
    }
    .recruit {
      position: absolute;
      top: -60px;
      transform: rotate(15deg);
      right: 0;
      text-decoration: underline;
      font-size: 23px;
      font-family: "bagnard" !important;
      color: $green;
    }
    .title-container {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      img {
        display: none;
        @media (max-width: 768px) {
          display: block;
        }
        @media (max-width: 480px) {
          width: 50px;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
												END Landing Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
												All sections
--------------------------------------------------------------*/

#launch {
  .main button {
    width: fit-content !important;
    font-size: 16px;
    margin: 20px auto 0 !important;
  }
  .launch_img {
    margin-bottom: 20px;
  }
}

/* Hide uncessary Mailchimp elements */
.modalContent__image,
.content__monkeyRewards {
  display: none !important;
}
.modalContent__content {
  padding: 50px 30px 30px !important;
}

.legal {
  margin: 140px auto 70px;
  @media (max-width: 991px) {
    width: 80% !important;
  }
  @media (max-width: 480px) {
    width: 100% !important;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.1rem;
    margin-top: 70px;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.3rem;
  }
}

.container {
  padding: 0 50px;
  @media (max-width: 768px) {
    padding: 0 35px;
  }
  @media (max-width: 480px) {
    padding: 0 20px;
  }
}
.section-header {
  .section-title {
    font-size: 32px;
    color: $violet;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin: 100px auto 45px !important;
    font-family: "bagnard" !important;
    @media (max-width: 480px) {
      font-size: 23px;
    }
  }
  .recruit {
    position: absolute;
    top: 20px;
    transform: rotate(15deg);
    right: 20%;
    text-decoration: underline;
    font-size: 30px;
    font-family: "bagnard" !important;
    color: $green;
    @media (max-width: 768px) {
      font-size: 23px;
      right: 0;
    }
  }
  .section-description {
    text-align: center;
    color: #999;
  }
}

h4.section-title {
  text-align: center;
  margin: 30px 0;
  color: black;
  font-size: 25px;
  font-family: "bagnard" !important;
  text-transform: uppercase;
}

.sdgs {
  text-align: center; /* Uncomment */
  a {
    padding: 0 !important;
    &:last-child {
      @media (max-width: 575px) {
        // left:calc(38%)
      }
      img {
        // border:4px solid $red;
      }
    }
  }
  img {
    // width: 100%;
    height: 100px; /* Uncomment */
    &:hover {
      opacity: 0.8;
    }
  }
  width: 80%;
  margin: auto;
  @media (max-width: 992px) {
    width: 95%;
  }
}

.popup,
.popup2 {
  width: 90vw;
  max-width: 600px;
  max-height: 80vh;
  padding: 60px 40px 40px;
  margin-top: 80px !important;
  background: white;
  color: black;
  z-index: 1;
  display: none;
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  border: 12px solid black;
  overflow-y: scroll;
  li {
    margin: 10px 0;
  }
  a {
    color: black !important;
    text-decoration: underline;
  }
  @media (max-width: 768px) {
    max-width: 90vw;
  }
  #mc_embed_signup .mc-field-group.input-group input {
    outline: none;
  }
}

// .the-values {
// 	border: 2px solid rgba($color: grey, $alpha: .3);
//   border-radius: 50%;
//   height: 20em;
//   margin: 60px auto;
//   position: relative;
// 	width: 20em;
// 	transform: scale(1.1);
// 	overflow: hidden;
//   &:after /* Centre dot */ {
//     background: rgba($color: grey, $alpha: .3);;
//     border-radius: 50%;
//     content: '';
//     // content: 'Core values';
//     height: 1em;
//     left: 9.5em;
//     position: absolute;
//     top: 9.5em;
// 		width: 1em;
// 	}
// }

// .value {
//   font-size: 20px;
//   position: absolute;
// 	text-align: center;
// 	// display: flex;
// 	// justify-content: space-between;
//   transform-origin: 50% 9.5rem;
//   top: .5rem;
// 	width: 100%;
// 	&-12 {
// 		top: -0.6rem;
// 		transform: scale(.85);
// 		font-size: 17px;
// 	}
// 	&-6 {
// 		top: 1.2rem;
// 	}
//   @for $i from 1 through 11 {
//     &-#{$i} {
// 			transform: rotate($i * 30deg) scale(.85);
//       .value_text {
// 				transform: rotate(-$i * 30deg) scale(.85);
// 			}
// 		}
// 	}
// }

.close-popup,
.close-popup2 {
  top: 10px;
  right: 20px;
  position: absolute;
  font-size: 35px;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.about {
  cursor: pointer;
  color: white;
  background: $blue-2;
  border-radius: 20px;
  margin: 20px auto;
  width: fit-content;
  padding: 6px 15px;
  &:hover {
    background: $blue;
  }
}

@media (min-width: 576px) and(max-width:768px) {
  .container {
    max-width: 100% !important;
  }
}
#whitepaper button,
#landing button,
#launch button {
  display: flex;
  background: $blue;
  color: white;
  border-radius: 20px;
  margin: 0 auto 90px;
  padding: 10px 35px;
  align-items: center;
  outline: none;
  border: none;
  i {
    padding-right: 10px;
    text-decoration: none !important;
  }
  a {
    color: white !important;
    text-decoration: none;
  }
  &:hover {
    background: darken($blue, 5);
    cursor: pointer;
  }
}
#landing button.beta,
#landing button.mailing,
#landing button.events {
  min-width: 235px;
  justify-content: center;
  padding: 10px 23px;
  margin-bottom: 20px;
}
#landing button.beta.fr,
#landing button.mailing.fr {
  min-width: 255px;
}
#landing button.events {
  background: lighten($violet, 15) !important;
  &:hover {
    background: lighten($violet, 10) !important;
  }
}
#landing button.beta {
  // margin:0 0 15px!important;
  border: 1px solid transparent;
  align-items: right !important;
  padding: 20px 30px !important;
  font-size: 25px;
  border-radius: 50px;
  margin: 40px 0 0 0 !important;
  &.inverted {
    background: white;
    color: $blue !important;
    border: 2px solid $blue;
    a {
      color: $blue !important;
    }
    &:hover {
      background: $blue;
      color: white !important;
      cursor: pointer;
    }
  }
  @media (max-width: 768px) {
    margin: 18px 0 0 0 !important;
    padding: 15px 20px !important;
  }
}
#landing button.mailing {
  min-width: 220px;
  // margin:0 0 20px!important;
  // @media(max-width:600px) {
  // 	margin:0 0 20px!important;
  // }
  background: white;
  color: $blue;
  border: 2px solid $blue;
  a {
    color: $blue !important;
  }
  &:hover {
    background: $blue;
    color: white;
    cursor: pointer;
  }
}

.box {
  h4 {
    color: $blue;
    font-family: "bagnard" !important;
    font-size: 28px;
    margin-bottom: 7px;
    @media (max-width: 768px) {
      font-size: 26px;
    }
    @media (max-width: 480px) {
      font-size: 24px;
    }
  }
  p {
    font-size: 20px;
    background: #ffffff8a;
    border-radius: 30px;
    padding: 20px;
    @media (max-width: 480px) {
      font-size: 18px;
    }
  }
}

.main {
  margin: 0 auto;
  font-size: 22px;
  width: 75%;
  @media (max-width: 1000px) {
    width: 100%;
  }
  @media (max-width: 768px) {
    font-size: 20px;
  }
  @media (max-width: 480px) {
    font-size: 18px;
  }
}

#csconsentlink:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Platform Section
--------------------------------*/

#platform .text,
#roles .text {
  margin-bottom: 40px;
  font-size: 23px;
  text-align: center;
  @media (max-width: 768px) {
    text-align: left;
  }
  @media (max-width: 480px) {
    font-size: 20px;
  }
}

/* Roles Section
--------------------------------*/

#mission h4 {
  margin-top: 20px;
}

#roles {
  p.main {
    margin-bottom: 50px;
  }
  // span {
  // 	display: block;
  // 	margin: 60px 0 40px;
  // 	color:black;
  // }
  // .triangle {
  // 	width: 0;
  // 	height: 0;
  // 	border-style: solid;
  // 	border-width: 0 100px 173.2px 100px;
  // 	border-color: transparent transparent #007bff transparent;
  // 	position: relative;
  // 	margin: 100px 0;
  // 	p {
  // 		position: absolute;
  // 	}
  // 	p:nth-child(1) {
  // 		top:-30px;
  // 		left:-40px;
  // 	}
  // 	p:nth-child(2) {
  // 		top:150px;
  // 		left:-170px;
  // 	}
  // 	p:nth-child(3) {
  // 		top:150px;
  // 		left:115px;
  // 	}
  // }
}

/* Team Section
--------------------------------*/
#team {
  padding: 40px 0 0;
  @media (max-width: 480px) {
    padding: 0px;
  }
  .section-header {
    .team {
      margin: 60px auto 30px !important;
    }
    p {
      /* job oppurtunities link*/
      margin: 0 auto 50px;
      text-align: center;
      display: block;
      font-size: 20px;
    }
  }
  .alumnis {
    margin: 0 auto 30px;
    text-align: center;
    display: block;
    font-size: 23px;
    font-weight: bold;
  }
  .collab-past {
    display: none;
  }
  /* toggle switch for collaborator type  */
  .material-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    & > input[type="checkbox"] {
      display: none;
      &:checked + label::before {
        background: grey;
        opacity: 0.5;
      }
      &:checked + label::after {
        background: grey;
        left: 20px;
      }
    }
    span:nth-child(1) {
      margin: -9px 7px 0 0;
    }
    span:nth-child(4) {
      margin: -9px 0 0 9px;
    }
    & > label {
      cursor: pointer;
      height: 0px;
      position: relative;
      width: 40px;
      &::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: "";
        height: 16px;
        margin-top: -8px;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
      }
      &::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: "";
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
      }
    }
  }
  /* END - toggle switch for collaborator type  */

  .member {
    text-align: center;
    margin-bottom: 40px;
    padding: 0 8px !important;
    @media (max-width: 480px) {
      padding: 0 5px !important;
    }
    // &:nth-child(even) img{
    // 	transform: rotate(2deg);
    // }
    // &:nth-child(odd) img{
    // 	transform: rotate(-2deg);
    // }
    .pic {
      margin-bottom: 15px;
      img {
        max-width: 250px;
        width: 65%;
        border-radius: 10px;
        @media (max-width: 480px) {
          max-width: 170px;
          // transform: rotate(0)
        }
      }
      p {
        position: absolute;
        justify-content: center;
        left: 37%;
        top: 44%;
      }
    }
    h4 {
      font-weight: 700;
      margin-bottom: 2px;
      font-size: 18px;
    }
    span {
      font-style: italic;
      display: block;
      font-size: 13px;
    }

    .more-info {
      margin-top: 20px;
      text-align: left;
      background: #ffffff8a;
      border-radius: 20px;
      padding-inline-start: 30px !important;
      @media (max-width: 1000px) {
        padding-inline-start: 25px !important;
      }
      @media (max-width: 480px) {
        padding-inline-start: 20px !important;
      }
    }
    .more-info li {
      padding: 6px 0 !important;
    }
    .info {
      background: #ffffff99;
      border-radius: 30px;
      padding: 10px 20px;
      width: fit-content;
      margin: auto;
      @media (max-width: 480px) {
        width: auto;
      }
    }

    .social {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      img {
        width: 28px;
        opacity: 0.7;
        &:hover {
          opacity: 1;
          filter: opacity(0.6) drop-shadow(0 0 0 $blue) saturate(200%);
        }
        &.share-it {
          width: 50px !important;
        }
      }
      a {
        color: #b3b3b3;
        padding: 0 10px;
        &:hover {
          color: $blue;
        }
      }
      i {
        font-size: 18px;
        margin: 0 2px;
      }
    }
  }
}

/* Job offer section
--------------------------------*/

#jobs .main {
  text-align: center;
  font-size: 20px;
}

.job-offer {
  color: black;
  max-width: 750px;
  width: 100%;
  margin: auto;
  border: 3px solid black;
  padding: 20px 35px;
  margin-bottom: 40px;
  h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 4px 0;
    @media (max-width: 480px) {
      margin: 0 0 10px 0;
    }
  }
  p:nth-child(2) {
    font-style: italic !important;
    font-size: 18px;
    margin: 0;
    @media (max-width: 768px) {
      margin: 0px 0 10px 0;
    }
  }
  p:nth-child(3) {
    font-size: 19px;
    text-align: right;
    // font-weight: bold;
    @media (max-width: 768px) {
      text-align: left;
    }
  }
  a {
    border: 3px solid black;
    font-weight: bold;
    color: black;
    text-decoration: none;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 16px;
    width: fit-content;
    text-align: center;
    padding: 8px 30px;
    font-size: 18.5px;
    &:hover {
      background: #323232;
      color: white;
      transition: all 0.3s;
    }
  }
}

#programModal {
  .modal-body {
    padding: 0;
    img {
      width: 100%;
    }
    p {
      padding: 15px 20px 0;
      margin-bottom: 0;
    }
  }
  .modal-footer {
    padding: 10px 15px 15px 0;
    border-top: none;
  }
}

.corner-ribbon {
  width: 200px;
  background: #39d;
  position: absolute;
  text-align: center;
  // line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 20000;
  line-height: 20px;
  font-size: 15px;
  padding: 2px 0;
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  @media (max-width: 894px) {
    top: auto;
    bottom: 25px;
    left: -50px;
  }
  a {
    color: white !important;
    &:hover {
      opacity: 0.8;
    }
  }
  &.sticky {
    position: fixed;
  }
  &.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
}

#sharing-buttons {
  display: none !important;
}
