<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="description" content="{{ page.metadesc }}">
		<link rel="alternate" hreflang="fr" href="{{ page.baseurl }}{% if page.page_type== 'term' %}/terms-fr{% else %}/fr{% endif %}" />
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{ page.assets_path }}/imgs/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ page.assets_path }}/imgs/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ page.assets_path }}/imgs/favicons/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<!-- <link rel="mask-icon" href="{{ page.assets_path }}/imgs/favicons/safari-pinned-tab.svg" color="#5bbad5"> -->
		<meta name="msapplication-TileColor" content="#00aba9">
		<meta name="theme-color" content="#ffffff">
		<!-- Social media -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ page.baseurl }}{{ page.url }}">
		<meta property="og:title" content="{{ page.title }}">
		<meta property="og:image" content="{{ page.baseurl }}/assets/imgs/JOGL_banner_2021.png">
		<meta property="og:description" content="{{ page.metadesc }}">
		<meta property="og:site_name" content="JOGL - Just One Giant Lab">
		<meta property="og:locale" content="en_US">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@justonegiantlab">
		<meta name="twitter:url" content="{{ page.baseurl }}{{ page.url }}">
		<meta name="twitter:title" content="{{ page.title }}">
		<meta name="twitter:description" content="{{ page.metadesc }}">
		<meta name="twitter:image" content="{{ page.baseurl }}/assets/imgs/JOGL_banner_2021.png">
		<!-- CSS Files -->
		<link href="{{ page.assets_path }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ page.assets_path }}/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="{{ page.assets_path }}/lib/animate/animate.min.css" rel="stylesheet">
		<link href="{{ page.assets_path }}/css/main.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
		<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133189603-1"></script>
		<script> // only send data to GA when on jogl.io
			if (document.location.hostname.search("jogl.io") !== -1) {
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', 'UA-133189603-1');
			}
		</script>
		<!-- Cookie consent !-->
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
		<script>
		window.addEventListener("load", function(){
		window.cookieconsent.initialise({
		  "palette": {
		    "popup": {
		      "background": "#252e39"
		    },
		    "button": {
		      "background": "#2A6BFD"
		    }
		  },
		  "theme": "classic",
		  "content": {
				"href": "https://jogl.io/terms#cookie-policy",
		  }
		})});
		</script>
		<!-- Cookie consent !-->
	</head>
  <body>

		<!--==========================
							Header
		============================-->
		
		<header id="header">
			<div class="container">
		
				<div id="logo" class="pull-left">
					<a href="/#landing"><img src="{{ page.assets_path }}/imgs/logo.png" alt="jogl logo" title="JOGL logo" /></a>
				</div>
		
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li><a href="#why">Why JOGL</a></li>
						<li><a href="#whitepaper">White paper</a></li>
						<li><a href="#partners">Partners</a></li>
						<li><a href="#team">Team</a></li>
						<!-- <li><a href="https://gitlab.com/JOGL/JOGL" target="_blank" rel="noopener">Contribute</a></li> -->
						<li><a class="link-button violet" target="_blank" href="https://app.jogl.io/donate">Donate</a></li>
						<!-- <li><a href="#jobs">Job opportunities</a></li> -->
						<!-- <li><a class="join-beta" id="open-popup">Join Beta</a></li> -->
						<li><a href="https://app.jogl.io" target="_blank" class="link-button blue">Explore JOGL</a></li>
						<li><a href="/fr"><img class="flag" src="{{ page.assets_path }}/imgs/flag-fr.svg" alt="flag-fr" title="flag-fr" /></a></li>
					</ul>
				</nav>
		
			</div>
		</header><!-- #header -->

		{{ content }}

		<footer id="myFooter">
			<div class="corner-ribbon top-right sticky blue">
				<a href="https://app.jogl.io/program/opencovid19" rel="noopener" target="_blank">
					OpenCovid19<br>Initiative
				</a>
			</div>
			<div class="container">
					<div class="row">
							<div class="col-md-3 d-none d-md-flex col-12 align-items-center justify-content-center">
									<a href="/"><img src="{{ page.assets_path }}/imgs/logo.png" width="100px" alt="jogl logo" title="JOGL logo" /></a>
									<!-- <p>Just One Giant Lab - JOGL</p> -->
							</div>
							<div class="col-md-3 col-sm-6 col-6">
									<h5>General</h5>
									<ul>
										  <li><a href="https://app.jogl.io" target="_blank">Explore JOGL</a></li>
										  <li><a href="https://jogl.tawk.help/" target="_blank">JOGL FAQs</a></li>
											<li><a href="/#jobs">Job opportunities</a></li>
											<li><a href="{{ page.assets_path }}/pdfs/JOGL-white-paper.pdf" class="white-paper-dl" download>White paper</a></li>	
											<!-- <li><a id="open-popup2">Join Beta</a></li> -->
											<li><a href="/terms">Legal information</a></li>
											<h6 class="opensource">JOGL is 100% open source</h6>
											<a href="https://gitlab.com/JOGL/JOGL" target="_blank" rel="noopener" id="contact-us" class="btn btn-default">Contribute to the code!</a>
									</ul>
							</div>
							<div class="col-md-3 col-sm-6 col-6">
									<h5>Find us</h5>
									<ul>
											<li><a href="https://goo.gl/maps/BkcJJqkaNmR2" target="_blank" rel="noopener">Center for Research and Interdisciplinarity (CRI)<br>8-10 Rue Charles V, 75004 Paris, France</a></li>
											<p id="open-popup3">Subscribe to our newsletter</p>
									</ul>
							</div>
							<div class="col-md-3 col-sm-12">
									<h5>Connect</h5>
									<div class="social-networks">
										<a href="https://twitter.com/justonegiantlab" target="_blank" rel="noopener" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="https://www.facebook.com/justonegiantlab/" target="_blank" rel="noopener" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="https://www.linkedin.com/company/jogl/about/" target="_blank" rel="noopener" class="linkedin"><i class="fa fa-linkedin"></i></a>
										<a href="https://www.instagram.com/justonegiantlab/" target="_blank" rel="noopener" class="instagram"><i class="fa fa-instagram"></i></a>
										<a href="https://www.youtube.com/channel/UCvgRJdZ4OoTyo8tuJNVf4fA/videos/" target="_blank" rel="noopener" class="youtube"><i class="fa fa-youtube-play"></i></a>
										<a href="https://medium.com/justonegiantlab/latest" target="_blank" rel="noopener" class="medium"><i class="fa fa-medium"></i></a>
										<a href="https://gitlab.com/JOGL/JOGL" target="_blank" rel="noopener" class="gitlab"><i class="fa fa-gitlab"></i></a>
									</div>
									<!-- <h6>Our next events</h6>
									<div class="social-networks">
										<a href="https://www.facebook.com/pg/justonegiantlab/events" target="_blank" rel="noopener" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="https://www.meetup.com/en-US/JustOneGiantLab" target="_blank" rel="noopener" class="meetup"><i class="fa fa-meetup"></i></a>
											<a href="https://www.eventbrite.com/o/just-one-giant-lab-jogl-23221462294" target="_blank" rel="noopener" class="eventbrite"><img src="{{ page.assets_path }}/imgs/eventbrite.png" width="20px" alt="JOGL eventbrite" title="JOGL eventbrite" /></a>
									</div> -->
									<span class="press">Press contact: <a href="mailto:press@jogl.io">press[at]jogl.io</a></span>
									<a href="mailto:hello@jogl.io" id="contact-us" class="btn btn-default">Contact us</a>
							</div>
					</div>
			</div>
			<div class="footer-copyright">
				<p><strong>Just One Giant Lab</strong> <span class="current-year"></span><br>Content on this site is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International license (CC-BY 4.0)</a></p>
			</div>
		</footer>
		
		<a href="#"class="back-to-top">
			<div class="rocket">
				<img width="30px" src="{{ page.assets_path }}/imgs/logo.png" alt="jogl logo" title="jogl logo" /></img>
			</div>
		</a>

    <script src="{{ page.assets_path }}/lib/jquery/jquery.min.js"></script>
		<script src="{{ page.assets_path }}/lib/jquery/jquery-migrate.min.js"></script>
		<script src="{{ page.assets_path }}/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="{{ page.assets_path }}/lib/easing/easing.min.js"></script>
		<script src="{{ page.assets_path }}/lib/wow/wow.min.js"></script>
		<script src="{{ page.assets_path }}/lib/waypoints/waypoints.min.js"></script>
		<script src="{{ page.assets_path }}/lib/counterup/counterup.min.js"></script>
		<script src="{{ page.assets_path }}/lib/superfish/hoverIntent.js"></script>
		<script src="{{ page.assets_path }}/lib/superfish/superfish.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
	
		<!-- Template Main Javascript File -->
		<script src="{{ page.assets_path }}/js/main.js"></script>
		<script>document.querySelector(".current-year").innerHTML = new Date().getFullYear();</script>
		<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
		<script>
			// Function to reveal lightbox and adding YouTube autoplay
			function revealVideo(div,video_id) {
				var video = document.getElementById(video_id).src;
				document.getElementById(video_id).src = video+'&autoplay=1'; // adding autoplay to the URL
				document.getElementById(div).style.display = 'block';
			}
			// Hiding the lightbox and removing YouTube autoplay
			function hideVideo(div,video_id) {
				var video = document.getElementById(video_id).src;
				var cleaned = video.replace('&autoplay=1',''); // removing autoplay form url
				document.getElementById(video_id).src = cleaned;
				document.getElementById(div).style.display = 'none';
			}
		</script>
		<!-- Evenbrite subscribe popup button -->
		<!-- <script src="https://www.eventbrite.fr/static/widgets/eb_widgets.js"></script>

		<script type="text/javascript">
				window.EBWidgets.createWidget({
		        widgetType: 'checkout',
		        eventId: '110758579894',
		        modal: true,
		        modalTriggerElementId: 'eventbrite-trigger2',
				});
				window.onload = function() {
					var eventbriteBtn = document.querySelector("#eventbrite-trigger2")
					eventbriteBtn.click()
				};
		</script> -->

		<!--Start of Tawk.to Script-->
		<script type="text/javascript">
			var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
			(function(){
			var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
			s1.async=true;
			s1.src='https://embed.tawk.to/5e5681ab298c395d1ce9ece7/default';
			s1.charset='UTF-8';
			s1.setAttribute('crossorigin','*');
			s0.parentNode.insertBefore(s1,s0);
			})();
		</script>
		<!--End of Tawk.to Script-->

		<!--Start of Smartlook script (track+heatmap)-->
		<!-- <script type='text/javascript'>
			window.smartlook||(function(d) {
				var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
				var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
				c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
				})(document);
				smartlook('init', 'dbeb601b1f5b8defe9e3f1be074324a1b1f50971');
		</script> -->
		<!--End of Smartlook script-->

  </body>
</html>
